{% extends 'base.html.twig' %}

{% block body %}

                        <!-- PAGE-HEADER -->
                        <div class="page-header">
                            <h1 class="page-title">Footers</h1>
                            <div>
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="javascript:void(0)">Apps</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">Footers</li>
                                </ol>
                            </div>
                        </div>
                        <!-- PAGE-HEADER END -->

                        <!-- ROW-1 OPEN -->
                        <div class="row">
                            <div class="col-md-12">
                                <div class="card">
                                    <div class="card-header">
                                        <h3 class="card-title">Footer style01</h3>
                                    </div>
                                    <div class="footer border-top-0 footer-1">
                                        <div class="container">
                                            <div class="row align-items-center flex-row-reverse">
                                                <div class="col-lg-12 col-sm-12 mt-3 mt-lg-0 text-center">
                                                    Copyright © 2022 <span id="year"></span> <a href="javascript:void(0)">Sash</a>. Designed with <span class="fa fa-heart text-danger"></span> by <a href="javascript:void(0)"> Spruko </a> All rights reserved.
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- COL-END -->
                        </div>
                        <!-- ROW-1 CLOSED -->

                        <!-- ROW-2 OPEN -->
                        <div class="row">
                            <div class="col-md-12">
                                <div class="card">
                                    <div class="card-header">
                                        <h3 class="card-title">Footer style02</h3>
                                    </div>
                                    <div class="footer border-top-0 footer-1">
                                        <div class="container">
                                            <div class="row align-items-center">
                                                <div class="col-md-12 social text-center">
                                                    <ul class="text-center d-inline-block">
                                                        <li>
                                                            <a class="social-icon" href="https://www.facebook.com/" target="_blank"><i class="fa fa-facebook"></i></a>
                                                        </li>
                                                        <li>
                                                            <a class="social-icon" href="https://twitter.com/" target="_blank"><i class="fa fa-twitter"></i></a>
                                                        </li>
                                                        <li>
                                                            <a class="social-icon" href="javascript:void(0)"><i class="fa fa-rss"></i></a>
                                                        </li>
                                                        <li>
                                                            <a class="social-icon" href="https://www.youtube.com/" target="_blank"><i class="fa fa-youtube"></i></a>
                                                        </li>
                                                        <li>
                                                            <a class="social-icon" href="https://www.linkedin.com/" target="_blank"><i class="fa fa-linkedin"></i></a>
                                                        </li>
                                                        <li>
                                                            <a class="social-icon" href="https://myaccount.google.com/" target="_blank"><i class="fa fa-google-plus"></i></a>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="col-lg-12 col-sm-12 mt-3 mt-lg-0 text-center">
                                                    Copyright © 2022 <span id="year"></span> <a href="javascript:void(0)">Sash</a>. Designed with by <a href="javascript:void(0)">Spruko</a> All rights reserved.
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- COL-END -->
                        </div>
                        <!-- ROW-2 CLOSED -->

                        <!-- ROW-3 OPEN -->
                        <div class="row">
                            <div class="col-md-12">
                                <div class="card">
                                    <div class="card-header">
                                        <h3 class="card-title">Footer style03</h3>
                                    </div>
                                    <div class="footer border-top-0 footer-1">
                                        <div class="container">
                                            <div class="row align-items-center">
                                                <div class="col-lg-6 col-sm-12  col-md-5 mt-3 mt-lg-0 text-center d-none d-md-block">
                                                    <div class="social">
                                                        <ul class="text-center">
                                                            <li>
                                                                <a class="social-icon" href="https://www.facebook.com/" target="_blank"><i class="fa fa-facebook"></i></a>
                                                            </li>
                                                            <li>
                                                                <a class="social-icon" href="https://twitter.com/" target="_blank"><i class="fa fa-twitter"></i></a>
                                                            </li>
                                                            <li>
                                                                <a class="social-icon" href="javascript:void(0)"><i class="fa fa-rss"></i></a>
                                                            </li>
                                                            <li>
                                                                <a class="social-icon" href="https://www.youtube.com/" target="_blank"><i class="fa fa-youtube"></i></a>
                                                            </li>
                                                            <li>
                                                                <a class="social-icon" href="https://www.linkedin.com/" target="_blank"><i class="fa fa-linkedin"></i></a>
                                                            </li>
                                                            <li>
                                                                <a class="social-icon" href="https://myaccount.google.com/" target="_blank"><i class="fa fa-google-plus"></i></a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="col-lg-6 col-sm-12 col-md-7 mt-3 mt-lg-0 text-center">
                                                    Copyright © 2022 <span id="year"></span> <a href="javascript:void(0)">Sash</a>. Designed with <span class="fa fa-heart text-danger"></span> by <a href="javascript:void(0)"> Spruko </a> All rights reserved.
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- COL-END -->
                        </div>
                        <!-- ROW-3 CLOSED -->

                        <!-- ROW-4 OPEN -->
                        <div class="row">
                            <div class="col-md-12">
                                <div class="card">
                                    <div class="card-header">
                                        <h3 class="card-title">Footer style04</h3>
                                    </div>
                                    <div class="footer border-top-0 footer-1">
                                        <div class="container">
                                            <div class="row align-items-center text-center">
                                                <div class="col-lg-6 col-md-6 d-none d-md-block ">
                                                    <div class="social">
                                                        <ul class="text-center m-0 ">
                                                            <li>
                                                                <a class="social-icon" href="https://www.facebook.com/" target="_blank"><i class="fa fa-facebook"></i></a>
                                                            </li>
                                                            <li>
                                                                <a class="social-icon" href="https://twitter.com/" target="_blank"><i class="fa fa-twitter"></i></a>
                                                            </li>
                                                            <li>
                                                                <a class="social-icon" href="javascript:void(0)"><i class="fa fa-rss"></i></a>
                                                            </li>
                                                            <li>
                                                                <a class="social-icon" href="https://www.youtube.com/" target="_blank"><i class="fa fa-youtube"></i></a>
                                                            </li>
                                                            <li>
                                                                <a class="social-icon" href="https://www.linkedin.com/" target="_blank"><i class="fa fa-linkedin"></i></a>
                                                            </li>
                                                            <li>
                                                                <a class="social-icon" href="https://myaccount.google.com/" target="_blank"><i class="fa fa-google-plus"></i></a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="col-lg-6 col-md-6 text-end privacy">
                                                    <a href="javascript:void(0)" class="btn btn-link">Privacy</a>
                                                    <a href="javascript:void(0)" class="btn btn-link">Terms</a>
                                                    <a href="javascript:void(0)" class="btn btn-link">About Us</a>
                                                </div>
                                            </div>
                                            <div class="row align-items-center flex-row-reverse">
                                                <div class="col-lg-12 col-sm-12 mt-3 mt-lg-0 text-center">
                                                    Copyright © 2022 <span id="year"></span> <a href="javascript:void(0)">Sash</a>. Designed with <span class="fa fa-heart text-danger"></span> by <a href="javascript:void(0)"> Spruko </a> All rights reserved.
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- pagination-wrapper -->
                                </div>
                                <!-- section-wrapper -->
                            </div>
                            <!-- COL-END -->
                        </div>
                        <!-- ROW-4 CLOSED -->

                        <!-- ROW-5 OPEN -->
                        <div class="row">
                            <div class="col-12">
                                <div class="card">
                                    <div class="card-header">
                                        <h3 class="card-title">Footer style05</h3>
                                    </div>
                                    <div class="card-body">
                                        <div class="top-footer">
                                            <div class="row">
                                                <div class="col-lg-4 col-sm-12">
                                                    <h6>About</h6>
                                                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt
                                                        explicabo.
                                                    </p>
                                                    <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur Excepteur sint occaecat .</p>
                                                </div>
                                                <div class="col-lg-2 col-sm-6 col-md-4">
                                                    <h6>Pages</h6>
                                                    <ul class="list-unstyled mb-4">
                                                        <li><a href="{{absolute_url(path('app_home'))}}">Dashboard</a></li>
                                                        <li><a href="javascript:void(0);">Elements</a></li>
                                                        <li><a href="{{absolute_url(path('app_form_elements'))}}">Forms</a></li>
                                                        <li><a href="{{absolute_url(path('app_chart'))}}">Charts</a></li>
                                                        <li><a href="{{absolute_url(path('app_datatable'))}}">Tables</a></li>
                                                        <li><a href="{{absolute_url(path('app_file_manager'))}}">Other Pages</a></li>
                                                    </ul>
                                                </div>
                                                <div class="col-lg-2 col-sm-6 col-md-4">
                                                    <h6>Information</h6>
                                                    <ul class="list-unstyled mb-4">
                                                        <li><a href="{{absolute_url(path('app_about'))}}">Our Team</a></li>
                                                        <li><a href="{{absolute_url(path('app_about'))}}">Contact US</a></li>
                                                        <li><a href="{{absolute_url(path('app_about'))}}">About</a></li>
                                                        <li><a href="{{absolute_url(path('app_services'))}}">Services</a></li>
                                                        <li><a href="{{absolute_url(path('app_blog'))}}">Blog</a></li>
                                                        <li><a href="{{absolute_url(path('app_terms'))}}">Terms and Services</a></li>
                                                    </ul>
                                                </div>
                                                <div class="col-lg-4 col-sm-12 col-md-4">
                                                    <h6>Location</h6>
                                                    <ul class="list-unstyled mb-4">
                                                        <li><a href="javascript:void(0);">Address1:7363 Old Livingston Drive Dyersburg</a></li>
                                                        <li><a href="javascript:void(0);">Address2:4 Harrison St.Fairborn, OH 45324</a></li>
                                                        <li><a href="javascript:void(0);">Phno1: +123 456 8976</a></li>
                                                        <li><a href="javascript:void(0);">Phno2: +567 234 7865</a></li>
                                                        <li><a href="javascript:void(0);">Mail1: yourdomain@gmail.com</a></li>
                                                        <li><a href="javascript:void(0);">Mail2: infodomain@gmail.com</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <footer class="main-footer px-0 pb-0">
                                            <div class="row">
                                                <div class="col-xl-8 col-lg-12 col-md-12 footer1">Copyright © 2022 <span id="year"></span> <a href="javascript:void(0)">Sash</a>. Designed with <span class="fa fa-heart text-danger"></span> by <a href="javascript:void(0)"> Spruko </a>
                                                </div>
                                                <div class="col-xl-4 col-lg-12 col-md-12 ms-auto text-end">
                                                    <ul class="footer-social-list ">
                                                        <li><a href="https://www.facebook.com/" target="_blank"><i class="fa fa-facebook"></i></a></li>
                                                        <li><a href="https://www.google.com/" target="_blank"><i class="fa fa-google"></i></a></li>
                                                        <li><a href="https://twitter.com/" target="_blank"><i class="fa fa-twitter"></i></a></li>
                                                        <li><a href="https://www.linkedin.com/" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </footer>
                                    </div>
                                </div>
                            </div>
                            <!-- COL-END -->
                        </div>
                        <!-- ROW-5 CLOSED -->

                        <!-- ROW-6 OPEN -->
                        <div class="row">
                            <div class="col-md-12">
                                <div class="card">
                                    <div class="card-header">
                                        <h3 class="card-title">Footer style06</h3>
                                    </div>
                                    <div class="card-body">
                                        <div class="top-footer">
                                            <div class="row">
                                                <div class="col-lg-4 col-sm-12 col-md-12">
                                                    <h6>About</h6>
                                                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt
                                                        explicabo.
                                                    </p>
                                                    <p class="mb-5 mb-lg-2">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur Excepteur sint occaecat .</p>
                                                </div>
                                                <div class="col-lg-2 col-sm-6 col-md-4">
                                                    <h6>Pages</h6>
                                                    <ul class="list-unstyled mb-5 mb-lg-0">
                                                        <li><a href="{{absolute_url(path('app_home'))}}">Dashboard</a></li>
                                                        <li><a href="{{absolute_url(path('app_alerts'))}}">Elements</a></li>
                                                        <li><a href="{{absolute_url(path('app_form_elements'))}}">Forms</a></li>
                                                        <li><a href="{{absolute_url(path('app_charts'))}}">Charts</a></li>
                                                        <li><a href="{{absolute_url(path('app_datatable'))}}">Tables</a></li>
                                                        <li><a href="{{absolute_url(path('app_file_attachments'))}}">Other Pages</a></li>
                                                    </ul>
                                                </div>
                                                <div class="col-lg-2 col-sm-6 col-md-4">
                                                    <h6>Information</h6>
                                                    <ul class="list-unstyled mb-5 mb-lg-0">
                                                        <li><a href="{{absolute_url(path('app_about'))}}">Our Team</a></li>
                                                        <li><a href="{{absolute_url(path('app_about'))}}">Contact US</a></li>
                                                        <li><a href="{{absolute_url(path('app_about'))}}">About</a></li>
                                                        <li><a href="{{absolute_url(path('app_services'))}}">Services</a></li>
                                                        <li><a href="{{absolute_url(path('app_blog'))}}">Blog</a></li>
                                                        <li><a href="{{absolute_url(path('app_terms'))}}">Terms and Services</a></li>
                                                    </ul>
                                                </div>
                                                <div class="col-lg-4 col-sm-12 col-md-4">
                                                    <h6>Posts</h6>
                                                    <a href="{{absolute_url(path('app_blog'))}}"><img alt="" src="{{absolute_url(asset('build/images/media/media1.jpg'))}}"></a>
                                                    <a href="{{absolute_url(path('app_blog'))}}"><img alt="" src="{{absolute_url(asset('build/images/media/media2.jpg'))}}"></a>
                                                    <a href="{{absolute_url(path('app_blog'))}}"><img alt="" src="{{absolute_url(asset('build/images/media/media3.jpg'))}}"></a>
                                                    <a href="{{absolute_url(path('app_blog'))}}"><img alt="" src="{{absolute_url(asset('build/images/media/media4.jpg'))}}"></a>
                                                    <hr>
                                                    <h6 class="mb-0 m-t-30">Payments</h6>
                                                    <ul class="footer-payments">
                                                        <li><a href="javascript:void(0);"><i class="fa fa-cc-amex text-muted" aria-hidden="true"></i></a></li>
                                                        <li><a href="javascript:void(0);"><i class="fa fa-cc-visa text-muted" aria-hidden="true"></i></a></li>
                                                        <li><a href="javascript:void(0);"><i class="fa fa-credit-card-alt text-muted" aria-hidden="true"></i></a></li>
                                                        <li><a href="javascript:void(0);"><i class="fa fa-cc-mastercard text-muted" aria-hidden="true"></i></a></li>
                                                        <li><a href="javascript:void(0);"><i class="fa fa-cc-paypal text-muted" aria-hidden="true"></i></a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <footer class="main-footer px-0 pb-0">
                                            <div class="row ">
                                                <div class="col-xl-8 col-lg-12 col-md-12 footer1">Copyright © 2022 <span id="year"></span> <a href="javascript:void(0)">Sash</a>. Designed with <span class="fa fa-heart text-danger"></span> by <a href="javascript:void(0)"> Spruko </a>
                                                </div>
                                                <div class="col-xl-4 col-lg-12 col-md-12 ms-auto text-end">
                                                    <ul class="footer-social-list ">
                                                        <li><a href="https://www.facebook.com/" target="_blank"><i class="fa fa-facebook"></i></a></li>
                                                        <li><a href="https://www.google.com/" target="_blank"><i class="fa fa-google"></i></a></li>
                                                        <li><a href="https://twitter.com/" target="_blank"><i class="fa fa-twitter"></i></a></li>
                                                        <li><a href="https://www.linkedin.com/" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </footer>
                                    </div>
                                </div>
                            </div>
                            <!-- COL-END -->
                        </div>
                        <!-- ROW-6 CLOSED -->

{% endblock %}

{% block javascripts %}
   {{parent()}} 

   
		
{% endblock %}