{% extends 'base.html.twig' %}

{% block body %}

                        <!-- PAGE-HEADER -->
                        <div class="page-header">
                            <h1 class="page-title">MaterialDesign</h1>
                            <div>
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="javascript:void(0)">Icons</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">MaterialDesign</li>
                                </ol>
                            </div>
                        </div>
                        <!-- PAGE-HEADER END -->

                        <!-- ROW OPEN -->
                        <div class="row row-cards">
                            <div class="col">
                                <div class="card">
                                    <div class="card-header">
                                        <div class="card-title">MaterialDesignIcons</div>
                                    </div>
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-lg-12 col-sm-12">
                                                <p>Simply beautiful open source icons. For more info <a href="https://materialdesignicons.com/" target="_blank">click here</a>.</p>
                                                <p><code>&lt;i class="mdi mdi-ICON_NAME"&gt;&lt;/i&gt;</code></p>
                                            </div>
                                            <div class="col-lg-12 col-sm-12">
                                                <div class="icons-list-wrap">
                                                    <ul class="icons-list">
                                                        <li class="icons-list-item"><i class="mdi mdi-access-point" data-bs-toggle="tooltip" title="mdi-access-point"></i></li>
                                                        <li class="icons-list-item"><i class="mdi mdi-access-point-network" data-bs-toggle="tooltip" title="mdi-access-point-network"></i></li>
                                                        <li class="icons-list-item"><i class="mdi mdi-account" data-bs-toggle="tooltip" title="mdi-account"></i></li>
                                                        <li class="icons-list-item"><i class="mdi mdi-account-alert" data-bs-toggle="tooltip" title="mdi-account-alert"></i></li>
                                                        <li class="icons-list-item"><i class="mdi mdi-account-box" data-bs-toggle="tooltip" title="mdi-account-box"></i></li>
                                                        <li class="icons-list-item"><i class="mdi mdi-account-box-outline" data-bs-toggle="tooltip" title="mdi-account-box-outline"></i></li>
                                                        <li class="icons-list-item"><i class="mdi mdi-account-card-details" data-bs-toggle="tooltip" title="mdi-account-card-details"></i></li>
                                                        <li class="icons-list-item"><i class="mdi mdi-account-check" data-bs-toggle="tooltip" title="mdi-account-check"></i></li>
                                                        <li class="icons-list-item"><i class="mdi mdi-account-circle" data-bs-toggle="tooltip" title="mdi-account-circle"></i></li>
                                                        <li class="icons-list-item"><i class="mdi mdi-account-convert" data-bs-toggle="tooltip" title="mdi-account-convert"></i></li>
                                                        <li class="icons-list-item"><i class="mdi mdi-account-edit" data-bs-toggle="tooltip" title="mdi-account-edit"></i></li>
                                                        <li class="icons-list-item"><i class="mdi mdi-account-key" data-bs-toggle="tooltip" title="mdi-account-key"></i></li>
                                                        <li class="icons-list-item"><i class="mdi mdi-account-location" data-bs-toggle="tooltip" title="mdi-account-location"></i></li>
                                                        <li class="icons-list-item"><i class="mdi mdi-account-minus" data-bs-toggle="tooltip" title="mdi-account-minus"></i></li>
                                                        <li class="icons-list-item"><i class="mdi mdi-account-multiple" data-bs-toggle="tooltip" title="mdi-account-multiple"></i></li>
                                                        <li class="icons-list-item"><i class="mdi mdi-account-multiple-minus" data-bs-toggle="tooltip" title="mdi-account-multiple-minus"></i></li>
                                                        <li class="icons-list-item"><i class="mdi mdi-account-multiple-outline" data-bs-toggle="tooltip" title="mdi-account-multiple-outline"></i></li>
                                                        <li class="icons-list-item"><i class="mdi mdi-account-multiple-plus" data-bs-toggle="tooltip" title="mdi-account-multiple-plus"></i></li>
                                                        <li class="icons-list-item"><i class="mdi mdi-account-network" data-bs-toggle="tooltip" title="mdi-account-network"></i></li>
                                                        <li class="icons-list-item"><i class="mdi mdi-account-off" data-bs-toggle="tooltip" title="mdi-account-off"></i></li>
                                                        <li class="icons-list-item"><i class="mdi mdi-account-outline" data-bs-toggle="tooltip" title="mdi-account-outline"></i></li>
                                                        <li class="icons-list-item"><i class="mdi mdi-account-plus" data-bs-toggle="tooltip" title="mdi-account-plus"></i></li>
                                                        <li class="icons-list-item"><i class="mdi mdi-account-remove" data-bs-toggle="tooltip" title="mdi-account-remove"></i></li>
                                                        <li class="icons-list-item"><i class="mdi mdi-account-search" data-bs-toggle="tooltip" title="mdi-account-search"></i></li>
                                                        <li class="icons-list-item"><i class="mdi mdi-account-settings" data-bs-toggle="tooltip" title="mdi-account-settings"></i></li>
                                                        <li class="icons-list-item"><i class="mdi mdi-account-settings-variant" data-bs-toggle="tooltip" title="mdi-account-settings-variant"></i></li>
                                                        <li class="icons-list-item"><i class="mdi mdi-account-star" data-bs-toggle="tooltip" title="mdi-account-star"></i></li>
                                                        <li class="icons-list-item"><i class="mdi mdi-account-switch" data-bs-toggle="tooltip" title="mdi-account-switch"></i></li>
                                                        <li class="icons-list-item"><i class="mdi mdi-adjust" data-bs-toggle="tooltip" title="mdi-adjust"></i></li>
                                                        <li class="icons-list-item"><i class="mdi mdi-air-conditioner" data-bs-toggle="tooltip" title="mdi-air-conditioner"></i></li>
                                                        <li class="icons-list-item"><i class="mdi mdi-airballoon" data-bs-toggle="tooltip" title="mdi-airballoon"></i></li>
                                                        <li class="icons-list-item"><i class="mdi mdi-airplane" data-bs-toggle="tooltip" title="mdi-airplane"></i></li>
                                                        <li class="icons-list-item"><i class="mdi mdi-airplane-landing" data-bs-toggle="tooltip" title="mdi-airplane-landing"></i></li>
                                                        <li class="icons-list-item"><i class="mdi mdi-airplane-off" data-bs-toggle="tooltip" title="mdi-airplane-off"></i></li>
                                                        <li class="icons-list-item"><i class="mdi mdi-airplane-takeoff" data-bs-toggle="tooltip" title="mdi-airplane-takeoff"></i></li>
                                                        <li class="icons-list-item"><i class="mdi mdi-airplay" data-bs-toggle="tooltip" title="mdi-airplay"></i></li>
                                                        <li class="icons-list-item"><i class="mdi mdi-alarm" data-bs-toggle="tooltip" title="mdi-alarm"></i></li>
                                                        <li class="icons-list-item"><i class="mdi mdi-alarm-bell" data-bs-toggle="tooltip" title="mdi-alarm-bell"></i></li>
                                                        <li class="icons-list-item"><i class="mdi mdi-alarm-check" data-bs-toggle="tooltip" title="mdi-alarm-check"></i></li>
                                                        <li class="icons-list-item"><i class="mdi mdi-alarm-light" data-bs-toggle="tooltip" title="mdi-alarm-light"></i></li>
                                                        <li class="icons-list-item"><i class="mdi mdi-alarm-multiple" data-bs-toggle="tooltip" title="mdi-alarm-multiple"></i></li>
                                                        <li class="icons-list-item"><i class="mdi mdi-alarm-off" data-bs-toggle="tooltip" title="mdi-alarm-off"></i></li>
                                                        <li class="icons-list-item"><i class="mdi mdi-alarm-plus" data-bs-toggle="tooltip" title="mdi-alarm-plus"></i></li>
                                                        <li class="icons-list-item"><i class="mdi mdi-alarm-snooze" data-bs-toggle="tooltip" title="mdi-alarm-snooze"></i></li>
                                                        <li class="icons-list-item"><i class="mdi mdi-album" data-bs-toggle="tooltip" title="mdi-album"></i></li>
                                                        <li class="icons-list-item"><i class="mdi mdi-alert" data-bs-toggle="tooltip" title="mdi-alert"></i></li>
                                                        <li class="icons-list-item"><i class="mdi mdi-alert-box" data-bs-toggle="tooltip" title="mdi-alert-box"></i></li>
                                                        <li class="icons-list-item"><i class="mdi mdi-alert-circle" data-bs-toggle="tooltip" title="mdi-alert-circle"></i></li>
                                                        <li class="icons-list-item"><i class="mdi mdi-alert-circle-outline" data-bs-toggle="tooltip" title="mdi-alert-circle-outline"></i></li>
                                                        <li class="icons-list-item"><i class="mdi mdi-alert-decagram" data-bs-toggle="tooltip" title="mdi-alert-decagram"></i></li>
                                                        <li class="icons-list-item"><i class="mdi mdi-alert-octagon" data-bs-toggle="tooltip" title="mdi-alert-octagon"></i></li>
                                                        <li class="icons-list-item"><i class="mdi mdi-alert-octagram" data-bs-toggle="tooltip" title="mdi-alert-octagram"></i></li>
                                                        <li class="icons-list-item"><i class="mdi mdi-alert-outline" data-bs-toggle="tooltip" title="mdi-alert-outline"></i></li>
                                                        <li class="icons-list-item"><i class="mdi mdi-all-inclusive" data-bs-toggle="tooltip" title="mdi-all-inclusive"></i></li>
                                                        <li class="icons-list-item"><i class="mdi mdi-alpha" data-bs-toggle="tooltip" title="mdi-alpha"></i></li>
                                                        <li class="icons-list-item"><i class="mdi mdi-alphabetical" data-bs-toggle="tooltip" title="mdi-alphabetical"></i></li>
                                                        <li class="icons-list-item"><i class="mdi mdi-altimeter" data-bs-toggle="tooltip" title="mdi-altimeter"></i></li>
                                                        <li class="icons-list-item"><i class="mdi mdi-amazon" data-bs-toggle="tooltip" title="mdi-amazon"></i></li>
                                                        <li class="icons-list-item"><i class="mdi mdi-amazon-clouddrive" data-bs-toggle="tooltip" title="mdi-amazon-clouddrive"></i></li>
                                                        <li class="icons-list-item"><i class="mdi mdi-ambulance" data-bs-toggle="tooltip" title="mdi-ambulance"></i></li>
                                                        <li class="icons-list-item"><i class="mdi mdi-amplifier" data-bs-toggle="tooltip" title="mdi-amplifier"></i></li>
                                                        <li class="icons-list-item"><i class="mdi mdi-anchor" data-bs-toggle="tooltip" title="mdi-anchor"></i></li>
                                                        <li class="icons-list-item"><i class="mdi mdi-android" data-bs-toggle="tooltip" title="mdi-android"></i></li>
                                                        <li class="icons-list-item"><i class="mdi mdi-android-debug-bridge" data-bs-toggle="tooltip" title="mdi-android-debug-bridge"></i></li>
                                                        <li class="icons-list-item"><i class="mdi mdi-android-head" data-bs-toggle="tooltip" title="mdi-android-head"></i></li>
                                                        <li class="icons-list-item"><i class="mdi mdi-android-studio" data-bs-toggle="tooltip" title="mdi-android-studio"></i></li>
                                                        <li class="icons-list-item"><i class="mdi mdi-angular" data-bs-toggle="tooltip" title="mdi-angular"></i></li>
                                                        <li class="icons-list-item"><i class="mdi mdi-angularjs" data-bs-toggle="tooltip" title="mdi-angularjs"></i></li>
                                                        <li class="icons-list-item"><i class="mdi mdi-animation" data-bs-toggle="tooltip" title="mdi-animation"></i></li>
                                                        <li class="icons-list-item"><i class="mdi mdi-apple" data-bs-toggle="tooltip" title="mdi-apple"></i></li>
                                                        <li class="icons-list-item"><i class="mdi mdi-apple-finder" data-bs-toggle="tooltip" title="mdi-apple-finder"></i></li>
                                                        <li class="icons-list-item"><i class="mdi mdi-apple-ios" data-bs-toggle="tooltip" title="mdi-apple-ios"></i></li>
                                                        <li class="icons-list-item"><i class="mdi mdi-apple-keyboard-caps" data-bs-toggle="tooltip" title="mdi-apple-keyboard-caps"></i></li>
                                                        <li class="icons-list-item"><i class="mdi mdi-apple-keyboard-command" data-bs-toggle="tooltip" title="mdi-apple-keyboard-command"></i></li>
                                                        <li class="icons-list-item"><i class="mdi mdi-apple-keyboard-control" data-bs-toggle="tooltip" title="mdi-apple-keyboard-control"></i></li>
                                                        <li class="icons-list-item"><i class="mdi mdi-apple-keyboard-option" data-bs-toggle="tooltip" title="mdi-apple-keyboard-option"></i></li>
                                                        <li class="icons-list-item"><i class="mdi mdi-apple-keyboard-shift" data-bs-toggle="tooltip" title="mdi-apple-keyboard-shift"></i></li>
                                                        <li class="icons-list-item"><i class="mdi mdi-apple-mobileme" data-bs-toggle="tooltip" title="mdi-apple-mobileme"></i></li>
                                                        <li class="icons-list-item"><i class="mdi mdi-apple-safari" data-bs-toggle="tooltip" title="mdi-apple-safari"></i></li>
                                                        <li class="icons-list-item"><i class="mdi mdi-application" data-bs-toggle="tooltip" title="mdi-application"></i></li>
                                                        <li class="icons-list-item"><i class="mdi mdi-approval" data-bs-toggle="tooltip" title="mdi-approval"></i></li>
                                                        <li class="icons-list-item"><i class="mdi mdi-apps" data-bs-toggle="tooltip" title="mdi-apps"></i></li>
                                                        <li class="icons-list-item"><i class="mdi mdi-archive" data-bs-toggle="tooltip" title="mdi-archive"></i></li>
                                                        <li class="icons-list-item"><i class="mdi mdi-arrange-bring-forward" data-bs-toggle="tooltip" title="mdi-arrange-bring-forward"></i></li>
                                                        <li class="icons-list-item"><i class="mdi mdi-arrange-send-to-back" data-bs-toggle="tooltip" title="mdi-arrange-send-to-back"></i></li>
                                                        <li class="icons-list-item"><i class="mdi mdi-arrange-bring-to-front" data-bs-toggle="tooltip" title="mdi-arrange-bring-to-front"></i></li>
                                                        <li class="icons-list-item"><i class="mdi mdi-arrange-send-backward" data-bs-toggle="tooltip" title="mdi-arrange-send-backward"></i></li>
                                                        <li class="icons-list-item"><i class="mdi mdi-arrow-all" data-bs-toggle="tooltip" title="mdi-arrow-all"></i></li>
                                                        <li class="icons-list-item"><i class="mdi mdi-arrow-bottom-left" data-bs-toggle="tooltip" title="mdi-arrow-bottom-left"></i></li>
                                                        <li class="icons-list-item"><i class="mdi mdi-arrow-bottom-right" data-bs-toggle="tooltip" title="mdi-arrow-bottom-right"></i></li>
                                                        <li class="icons-list-item"><i class="mdi mdi-arrow-collapse" data-bs-toggle="tooltip" title="mdi-arrow-collapse"></i></li>
                                                        <li class="icons-list-item"><i class="mdi mdi-arrow-collapse-all" data-bs-toggle="tooltip" title="mdi-arrow-collapse-all"></i></li>
                                                        <li class="icons-list-item"><i class="mdi mdi-arrow-collapse-down" data-bs-toggle="tooltip" title="mdi-arrow-collapse-down"></i></li>
                                                        <li class="icons-list-item"><i class="mdi mdi-arrow-collapse-left" data-bs-toggle="tooltip" title="mdi-arrow-collapse-left"></i></li>
                                                        <li class="icons-list-item"><i class="mdi mdi-arrow-collapse-right" data-bs-toggle="tooltip" title="mdi-arrow-collapse-right"></i></li>
                                                        <li class="icons-list-item"><i class="mdi mdi-arrow-collapse-up" data-bs-toggle="tooltip" title="mdi-arrow-collapse-up"></i></li>
                                                        <li class="icons-list-item"><i class="mdi mdi-arrow-down" data-bs-toggle="tooltip" title="mdi-arrow-down"></i></li>
                                                        <li class="icons-list-item"><i class="mdi mdi-arrow-down-bold" data-bs-toggle="tooltip" title="mdi-arrow-down-bold"></i></li>
                                                        <li class="icons-list-item"><i class="mdi mdi-arrow-down-bold-box" data-bs-toggle="tooltip" title="mdi-arrow-down-bold-box"></i></li>
                                                        <li class="icons-list-item"><i class="mdi mdi-arrow-down-bold-box-outline" data-bs-toggle="tooltip" title="mdi-arrow-down-bold-box-outline"></i></li>
                                                        <li class="icons-list-item"><i class="mdi mdi-arrow-down-bold-circle" data-bs-toggle="tooltip" title="mdi-arrow-down-bold-circle"></i></li>
                                                        <li class="icons-list-item"><i class="mdi mdi-arrow-down-bold-circle-outline" data-bs-toggle="tooltip" title="mdi-arrow-down-bold-circle-outline"></i></li>
                                                        <li class="icons-list-item"><i class="mdi mdi-arrow-down-bold-hexagon-outline" data-bs-toggle="tooltip" title="mdi-arrow-down-bold-hexagon-outline"></i></li>
                                                        <li class="icons-list-item"><i class="mdi mdi-arrow-down-box" data-bs-toggle="tooltip" title="mdi-arrow-down-box"></i></li>
                                                        <li class="icons-list-item"><i class="mdi mdi-arrow-down-drop-circle" data-bs-toggle="tooltip" title="mdi-arrow-down-drop-circle"></i></li>
                                                        <li class="icons-list-item"><i class="mdi mdi-arrow-down-drop-circle-outline" data-bs-toggle="tooltip" title="mdi-arrow-down-drop-circle-outline"></i></li>
                                                        <li class="icons-list-item"><i class="mdi mdi-arrow-down-thick" data-bs-toggle="tooltip" title="mdi-arrow-down-thick"></i></li>
                                                        <li class="icons-list-item"><i class="mdi mdi-arrow-expand" data-bs-toggle="tooltip" title="mdi-arrow-expand"></i></li>
                                                        <li class="icons-list-item"><i class="mdi mdi-arrow-expand-all" data-bs-toggle="tooltip" title="mdi-arrow-expand-all"></i></li>
                                                        <li class="icons-list-item"><i class="mdi mdi-arrow-expand-down" data-bs-toggle="tooltip" title="mdi-arrow-expand-down"></i></li>
                                                        <li class="icons-list-item"><i class="mdi mdi-arrow-expand-left" data-bs-toggle="tooltip" title="mdi-arrow-expand-left"></i></li>
                                                        <li class="icons-list-item"><i class="mdi mdi-arrow-expand-right" data-bs-toggle="tooltip" title="mdi-arrow-expand-right"></i></li>
                                                        <li class="icons-list-item"><i class="mdi mdi-arrow-expand-up" data-bs-toggle="tooltip" title="mdi-arrow-expand-up"></i></li>
                                                        <li class="icons-list-item"><i class="mdi mdi-arrow-left" data-bs-toggle="tooltip" title="mdi-arrow-left"></i></li>
                                                        <li class="icons-list-item"><i class="mdi mdi-arrow-left-bold" data-bs-toggle="tooltip" title="mdi-arrow-left-bold"></i></li>
                                                        <li class="icons-list-item"><i class="mdi mdi-arrow-left-bold-box" data-bs-toggle="tooltip" title="mdi-arrow-left-bold-box"></i></li>
                                                        <li class="icons-list-item"><i class="mdi mdi-arrow-left-bold-box-outline" data-bs-toggle="tooltip" title="mdi-arrow-left-bold-box-outline"></i></li>
                                                        <li class="icons-list-item"><i class="mdi mdi-arrow-left-bold-circle" data-bs-toggle="tooltip" title="mdi-arrow-left-bold-circle"></i></li>
                                                        <li class="icons-list-item"><i class="mdi mdi-arrow-left-bold-circle-outline" data-bs-toggle="tooltip" title="mdi-arrow-left-bold-circle-outline"></i></li>
                                                        <li class="icons-list-item"><i class="mdi mdi-arrow-left-bold-hexagon-outline" data-bs-toggle="tooltip" title="mdi-arrow-left-bold-hexagon-outline"></i></li>
                                                        <li class="icons-list-item"><i class="mdi mdi-arrow-left-box" data-bs-toggle="tooltip" title="mdi-arrow-left-box"></i></li>
                                                        <li class="icons-list-item"><i class="mdi mdi-arrow-left-drop-circle" data-bs-toggle="tooltip" title="mdi-arrow-left-drop-circle"></i></li>
                                                        <li class="icons-list-item"><i class="mdi mdi-arrow-left-drop-circle-outline" data-bs-toggle="tooltip" title="mdi-arrow-left-drop-circle-outline"></i></li>
                                                        <li class="icons-list-item"><i class="mdi mdi-arrow-left-thick" data-bs-toggle="tooltip" title="mdi-arrow-left-thick"></i></li>
                                                        <li class="icons-list-item"><i class="mdi mdi-arrow-right" data-bs-toggle="tooltip" title="mdi-arrow-right"></i></li>
                                                        <li class="icons-list-item"><i class="mdi mdi-arrow-right-bold" data-bs-toggle="tooltip" title="mdi-arrow-right-bold"></i></li>
                                                        <li class="icons-list-item"><i class="mdi mdi-arrow-right-bold-box" data-bs-toggle="tooltip" title="mdi-arrow-right-bold-box"></i></li>
                                                        <li class="icons-list-item"><i class="mdi mdi-arrow-right-bold-box-outline" data-bs-toggle="tooltip" title="mdi-arrow-right-bold-box-outline"></i></li>
                                                        <li class="icons-list-item"><i class="mdi mdi-arrow-right-bold-circle" data-bs-toggle="tooltip" title="mdi-arrow-right-bold-circle"></i></li>
                                                        <li class="icons-list-item"><i class="mdi mdi-arrow-right-bold-circle-outline" data-bs-toggle="tooltip" title="mdi-arrow-right-bold-circle-outline"></i></li>
                                                        <li class="icons-list-item"><i class="mdi mdi-arrow-right-bold-hexagon-outline" data-bs-toggle="tooltip" title="mdi-arrow-right-bold-hexagon-outline"></i></li>
                                                        <li class="icons-list-item"><i class="mdi mdi-arrow-right-box" data-bs-toggle="tooltip" title="mdi-arrow-right-box"></i></li>
                                                        <li class="icons-list-item"><i class="mdi mdi-arrow-right-drop-circle" data-bs-toggle="tooltip" title="mdi-arrow-right-drop-circle"></i></li>
                                                        <li class="icons-list-item"><i class="mdi mdi-arrow-right-drop-circle-outline" data-bs-toggle="tooltip" title="mdi-arrow-right-drop-circle-outline"></i></li>
                                                        <li class="icons-list-item"><i class="mdi mdi-arrow-right-thick" data-bs-toggle="tooltip" title="mdi-arrow-right-thick"></i></li>
                                                        <li class="icons-list-item"><i class="mdi mdi-arrow-top-left" data-bs-toggle="tooltip" title="mdi-arrow-top-left"></i></li>
                                                        <li class="icons-list-item"><i class="mdi mdi-arrow-top-right" data-bs-toggle="tooltip" title="mdi-arrow-top-right"></i></li>
                                                        <li class="icons-list-item"><i class="mdi mdi-arrow-up" data-bs-toggle="tooltip" title="mdi-arrow-up"></i></li>
                                                        <li class="icons-list-item"><i class="mdi mdi-arrow-up-bold" data-bs-toggle="tooltip" title="mdi-arrow-up-bold"></i></li>
                                                        <li class="icons-list-item"><i class="mdi mdi-arrow-up-bold-box" data-bs-toggle="tooltip" title="mdi-arrow-up-bold-box"></i></li>
                                                        <li class="icons-list-item"><i class="mdi mdi-arrow-up-bold-box-outline" data-bs-toggle="tooltip" title="mdi-arrow-up-bold-box-outline"></i></li>
                                                        <li class="icons-list-item"><i class="mdi mdi-arrow-up-bold-circle" data-bs-toggle="tooltip" title="mdi-arrow-up-bold-circle"></i></li>
                                                        <li class="icons-list-item"><i class="mdi mdi-arrow-up-bold-circle-outline" data-bs-toggle="tooltip" title="mdi-arrow-up-bold-circle-outline"></i></li>
                                                        <li class="icons-list-item"><i class="mdi mdi-arrow-up-bold-hexagon-outline" data-bs-toggle="tooltip" title="mdi-arrow-up-bold-hexagon-outline"></i></li>
                                                        <li class="icons-list-item"><i class="mdi mdi-arrow-up-box" data-bs-toggle="tooltip" title="mdi-arrow-up-box"></i></li>
                                                        <li class="icons-list-item"><i class="mdi mdi-arrow-up-drop-circle" data-bs-toggle="tooltip" title="mdi-arrow-up-drop-circle"></i></li>
                                                        <li class="icons-list-item"><i class="mdi mdi-arrow-up-drop-circle-outline" data-bs-toggle="tooltip" title="mdi-arrow-up-drop-circle-outline"></i></li>
                                                        <li class="icons-list-item"><i class="mdi mdi-arrow-up-thick" data-bs-toggle="tooltip" title="mdi-arrow-up-thick"></i></li>
                                                        <li class="icons-list-item"><i class="mdi mdi-assistant" data-bs-toggle="tooltip" title="mdi-assistant"></i></li>
                                                        <li class="icons-list-item"><i class="mdi mdi-asterisk" data-bs-toggle="tooltip" title="mdi-asterisk"></i></li>
                                                        <li class="icons-list-item"><i class="mdi mdi-at" data-bs-toggle="tooltip" title="mdi-at"></i></li>
                                                        <li class="icons-list-item"><i class="mdi mdi-atom" data-bs-toggle="tooltip" title="mdi-atom"></i></li>
                                                        <li class="icons-list-item"><i class="mdi mdi-attachment" data-bs-toggle="tooltip" title="mdi-attachment"></i></li>
                                                        <li class="icons-list-item"><i class="mdi mdi-audiobook" data-bs-toggle="tooltip" title="mdi-audiobook"></i></li>
                                                        <li class="icons-list-item"><i class="mdi mdi-auto-fix" data-bs-toggle="tooltip" title="mdi-auto-fix"></i></li>
                                                        <li class="icons-list-item"><i class="mdi mdi-auto-upload" data-bs-toggle="tooltip" title="mdi-auto-upload"></i></li>
                                                        <li class="icons-list-item"><i class="mdi mdi-autorenew" data-bs-toggle="tooltip" title="mdi-autorenew"></i></li>
                                                        <li class="icons-list-item"><i class="mdi mdi-av-timer" data-bs-toggle="tooltip" title="mdi-av-timer"></i></li>
                                                        <li class="icons-list-item"><i class="mdi mdi-baby" data-bs-toggle="tooltip" title="mdi-baby"></i></li>
                                                        <li class="icons-list-item"><i class="mdi mdi-baby-buggy" data-bs-toggle="tooltip" title="mdi-baby-buggy"></i></li>
                                                        <li class="icons-list-item"><i class="mdi mdi-backburger" data-bs-toggle="tooltip" title="mdi-backburger"></i></li>
                                                        <li class="icons-list-item"><i class="mdi mdi-backspace" data-bs-toggle="tooltip" title="mdi-backspace"></i></li>
                                                        <li class="icons-list-item"><i class="mdi mdi-backup-restore" data-bs-toggle="tooltip" title="mdi-backup-restore"></i></li>
                                                        <li class="icons-list-item"><i class="mdi mdi-bandcamp" data-bs-toggle="tooltip" title="mdi-bandcamp"></i></li>
                                                        <li class="icons-list-item"><i class="mdi mdi-bank" data-bs-toggle="tooltip" title="mdi-bank"></i></li>
                                                        <li class="icons-list-item"><i class="mdi mdi-barcode" data-bs-toggle="tooltip" title="mdi-barcode"></i></li>
                                                        <li class="icons-list-item"><i class="mdi mdi-barcode-scan" data-bs-toggle="tooltip" title="mdi-barcode-scan"></i></li>
                                                        <li class="icons-list-item"><i class="mdi mdi-barley" data-bs-toggle="tooltip" title="mdi-barley"></i></li>
                                                        <li class="icons-list-item"><i class="mdi mdi-barrel" data-bs-toggle="tooltip" title="mdi-barrel"></i></li>
                                                        <li class="icons-list-item"><i class="mdi mdi-basecamp" data-bs-toggle="tooltip" title="mdi-basecamp"></i></li>
                                                        <li class="icons-list-item"><i class="mdi mdi-basket" data-bs-toggle="tooltip" title="mdi-basket"></i></li>
                                                        <li class="icons-list-item"><i class="mdi mdi-basket-fill" data-bs-toggle="tooltip" title="mdi-basket-fill"></i></li>
                                                        <li class="icons-list-item"><i class="mdi mdi-basket-unfill" data-bs-toggle="tooltip" title="mdi-basket-unfill"></i></li>
                                                        <li class="icons-list-item"><i class="mdi mdi-battery" data-bs-toggle="tooltip" title="mdi-battery"></i></li>
                                                        <li class="icons-list-item"><i class="mdi mdi-battery-10" data-bs-toggle="tooltip" title="mdi-battery-10"></i></li>
                                                        <li class="icons-list-item"><i class="mdi mdi-battery-20" data-bs-toggle="tooltip" title="mdi-battery-20"></i></li>
                                                        <li class="icons-list-item"><i class="mdi mdi-battery-30" data-bs-toggle="tooltip" title="mdi-battery-30"></i></li>
                                                        <li class="icons-list-item"><i class="mdi mdi-battery-40" data-bs-toggle="tooltip" title="mdi-battery-40"></i></li>
                                                        <li class="icons-list-item"><i class="mdi mdi-battery-50" data-bs-toggle="tooltip" title="mdi-battery-50"></i></li>
                                                        <li class="icons-list-item"><i class="mdi mdi-battery-60" data-bs-toggle="tooltip" title="mdi-battery-60"></i></li>
                                                        <li class="icons-list-item"><i class="mdi mdi-battery-70" data-bs-toggle="tooltip" title="mdi-battery-70"></i></li>
                                                        <li class="icons-list-item"><i class="mdi mdi-battery-80" data-bs-toggle="tooltip" title="mdi-battery-80"></i></li>
                                                        <li class="icons-list-item"><i class="mdi mdi-battery-90" data-bs-toggle="tooltip" title="mdi-battery-90"></i></li>
                                                        <li class="icons-list-item"><i class="mdi mdi-battery-alert" data-bs-toggle="tooltip" title="mdi-battery-alert"></i></li>
                                                        <li class="icons-list-item"><i class="mdi mdi-battery-charging" data-bs-toggle="tooltip" title="mdi-battery-charging"></i></li>
                                                        <li class="icons-list-item"><i class="mdi mdi-battery-charging-100" data-bs-toggle="tooltip" title="mdi-battery-charging-100"></i></li>
                                                        <li class="icons-list-item"><i class="mdi mdi-battery-charging-20" data-bs-toggle="tooltip" title="mdi-battery-charging-20"></i></li>
                                                        <li class="icons-list-item"><i class="mdi mdi-battery-charging-30" data-bs-toggle="tooltip" title="mdi-battery-charging-30"></i></li>
                                                        <li class="icons-list-item"><i class="mdi mdi-battery-charging-40" data-bs-toggle="tooltip" title="mdi-battery-charging-40"></i></li>
                                                        <li class="icons-list-item"><i class="mdi mdi-battery-charging-60" data-bs-toggle="tooltip" title="mdi-battery-charging-60"></i></li>
                                                        <li class="icons-list-item"><i class="mdi mdi-battery-charging-80" data-bs-toggle="tooltip" title="mdi-battery-charging-80"></i></li>
                                                        <li class="icons-list-item"><i class="mdi mdi-battery-charging-90" data-bs-toggle="tooltip" title="mdi-battery-charging-90"></i></li>
                                                        <li class="icons-list-item"><i class="mdi mdi-battery-minus" data-bs-toggle="tooltip" title="mdi-battery-minus"></i></li>
                                                        <li class="icons-list-item"><i class="mdi mdi-battery-negative" data-bs-toggle="tooltip" title="mdi-battery-negative"></i></li>
                                                        <li class="icons-list-item"><i class="mdi mdi-battery-outline" data-bs-toggle="tooltip" title="mdi-battery-outline"></i></li>
                                                        <li class="icons-list-item"><i class="mdi mdi-battery-plus" data-bs-toggle="tooltip" title="mdi-battery-plus"></i></li>
                                                        <li class="icons-list-item"><i class="mdi mdi-battery-unknown" data-bs-toggle="tooltip" title="mdi-battery-unknown"></i></li>
                                                        <li class="icons-list-item"><i class="mdi mdi-beach" data-bs-toggle="tooltip" title="mdi-beach"></i></li>
                                                        <li class="icons-list-item"><i class="mdi mdi-blank" data-bs-toggle="tooltip" title="mdi-blank"></i></li>
                                                        <li class="icons-list-item"><i class="mdi mdi-youtube-play" data-bs-toggle="tooltip" title="mdi-youtube-play"></i></li>
                                                        <li class="icons-list-item"><i class="mdi mdi-yin-yang" data-bs-toggle="tooltip" title="mdi-yin-yang"></i></li>
                                                        <li class="icons-list-item"><i class="mdi mdi-yelp" data-bs-toggle="tooltip" title="mdi-yelp"></i></li>
                                                        <li class="icons-list-item"><i class="mdi mdi-yammer" data-bs-toggle="tooltip" title="mdi-yammer"></i></li>
                                                        <li class="icons-list-item"><i class="mdi mdi-xmpp" data-bs-toggle="tooltip" title="mdi-xmpp"></i></li>
                                                        <li class="icons-list-item"><i class="mdi mdi-xml" data-bs-toggle="tooltip" title="mdi-xml"></i></li>
                                                        <li class="icons-list-item"><i class="mdi mdi-wrench" data-bs-toggle="tooltip" title="mdi-wrench"></i></li>
                                                        <li class="icons-list-item"><i class="mdi mdi-wrap" data-bs-toggle="tooltip" title="mdi-wrap"></i></li>
                                                        <li class="icons-list-item"><i class="mdi mdi-wunderlist" data-bs-toggle="tooltip" title="mdi-wunderlist"></i></li>
                                                        <li class="icons-list-item"><i class="mdi mdi-wrench" data-bs-toggle="tooltip" title="mdi-wrench"></i></li>
                                                        <li class="icons-list-item"><i class="mdi mdi-vpn" data-bs-toggle="tooltip" title="mdi-vpn"></i></li>
                                                        <li class="icons-list-item"><i class="mdi mdi-volume-off" data-bs-toggle="tooltip" title="mdi-volume-off"></i></li>
                                                        <li class="icons-list-item"><i class="mdi mdi-volume-mute" data-bs-toggle="tooltip" title="mdi-volume-mute"></i></li>
                                                        <li class="icons-list-item"><i class="mdi mdi-vlc" data-bs-toggle="tooltip" title="mdi-vlc"></i></li>
                                                        <li class="icons-list-item"><i class="mdi mdi-video" data-bs-toggle="tooltip" title="mdi-video"></i></li>
                                                        <li class="icons-list-item"><i class="mdi mdi-usb" data-bs-toggle="tooltip" title="mdi-usb"></i></li>
                                                        <li class="icons-list-item"><i class="mdi mdi-upload-network" data-bs-toggle="tooltip" title="mdi-upload-network"></i></li>

                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header">
                                        <div class="card-title">Material Design Icons</div>
                                    </div>
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-lg-12 col-sm-12">
                                                <p>Simply beautiful open source icons. For more info <a href="https://materialdesignicons.com/" target="_blank">click here</a>.</p>
                                                <p><code>&lt;i class="zmdi zmdi-NAME"&gt;&lt;/i&gt;</code></p>
                                            </div>
                                            <div class="col-lg-12 col-sm-12">
                                                <div class="icons-list-wrap">
                                                    <ul class="icons-list">
                                                        <li class="icons-list-item"><i class="zmdi zmdi-group" data-bs-toggle="tooltip" title="zmdi zmdi-group"></i></li>
                                                        <li class="icons-list-item"><i class="zmdi zmdi-rss" data-bs-toggle="tooltip" title="zmdi zmdi-rss"></i></li>
                                                        <li class="icons-list-item"><i class="zmdi zmdi-shape" data-bs-toggle="tooltip" title="zmdi zmdi-shape"></i></li>
                                                        <li class="icons-list-item"><i class="zmdi zmdi-spinner" data-bs-toggle="tooltip" title="zmdi zmdi-spinner"></i></li>
                                                        <li class="icons-list-item"><i class="zmdi zmdi-ungroup" data-bs-toggle="tooltip" title="zmdi zmdi-ungroup"></i></li>
                                                        <li class="icons-list-item"><i class="zmdi zmdi-500px" data-bs-toggle="tooltip" title="zmdi zmdi-500px"></i></li>
                                                        <li class="icons-list-item"><i class="zmdi zmdi-8tracks" data-bs-toggle="tooltip" title="zmdi zmdi-8tracks"></i></li>
                                                        <li class="icons-list-item"><i class="zmdi zmdi-amazon" data-bs-toggle="tooltip" title="zmdi zmdi-amazon"></i></li>
                                                        <li class="icons-list-item"><i class="zmdi zmdi-blogger" data-bs-toggle="tooltip" title="zmdi zmdi-blogger"></i></li>
                                                        <li class="icons-list-item"><i class="zmdi zmdi-delicious" data-bs-toggle="tooltip" title="zmdi zmdi-delicious"></i></li>
                                                        <li class="icons-list-item"><i class="zmdi zmdi-disqus" data-bs-toggle="tooltip" title="zmdi zmdi-disqus"></i></li>
                                                        <li class="icons-list-item"><i class="zmdi zmdi-flattr" data-bs-toggle="tooltip" title="zmdi zmdi-flattr"></i></li>
                                                        <li class="icons-list-item"><i class="zmdi zmdi-flickr" data-bs-toggle="tooltip" title="zmdi zmdi-flickr"></i></li>
                                                        <li class="icons-list-item"><i class="zmdi zmdi-github-alt" data-bs-toggle="tooltip" title="zmdi zmdi-github-alt"></i></li>
                                                        <li class="icons-list-item"><i class="zmdi zmdi-google-old" data-bs-toggle="tooltip" title="zmdi zmdi-google-old"></i></li>
                                                        <li class="icons-list-item"><i class="zmdi zmdi-linkedin" data-bs-toggle="tooltip" title="zmdi zmdi-linkedin"></i></li>
                                                        <li class="icons-list-item"><i class="zmdi zmdi-odnoklassniki" data-bs-toggle="tooltip" title="zmdi zmdi-odnoklassniki"></i></li>
                                                        <li class="icons-list-item"><i class="zmdi zmdi-outlook" data-bs-toggle="tooltip" title="zmdi zmdi-outlook"></i></li>
                                                        <li class="icons-list-item"><i class="zmdi zmdi-paypal-alt" data-bs-toggle="tooltip" title="zmdi zmdi-paypal-alt"></i></li>
                                                        <li class="icons-list-item"><i class="zmdi zmdi-pinterest" data-bs-toggle="tooltip" title="zmdi zmdi-pinterest"></i></li>
                                                        <li class="icons-list-item"><i class="zmdi zmdi-playstation" data-bs-toggle="tooltip" title="zmdi zmdi-playstation"></i></li>
                                                        <li class="icons-list-item"><i class="zmdi zmdi-reddit" data-bs-toggle="tooltip" title="zmdi zmdi-reddit"></i></li>
                                                        <li class="icons-list-item"><i class="zmdi zmdi-skype" data-bs-toggle="tooltip" title="zmdi zmdi-skype"></i></li>
                                                        <li class="icons-list-item"><i class="zmdi zmdi-slideshare" data-bs-toggle="tooltip" title="zmdi zmdi-slideshare"></i></li>
                                                        <li class="icons-list-item"><i class="zmdi zmdi-soundcloud" data-bs-toggle="tooltip" title="zmdi zmdi-soundcloud"></i></li>
                                                        <li class="icons-list-item"><i class="zmdi zmdi-tumblr" data-bs-toggle="tooltip" title="zmdi zmdi-tumblr"></i></li>
                                                        <li class="icons-list-item"><i class="zmdi zmdi-twitch" data-bs-toggle="tooltip" title="zmdi zmdi-twitch"></i></li>
                                                        <li class="icons-list-item"><i class="zmdi zmdi-vimeo" data-bs-toggle="tooltip" title="zmdi zmdi-vimeo"></i></li>
                                                        <li class="icons-list-item"><i class="zmdi zmdi-whatsapp" data-bs-toggle="tooltip" title="zmdi zmdi-whatsapp"></i></li>
                                                        <li class="icons-list-item"><i class="zmdi zmdi-xbox" data-bs-toggle="tooltip" title="zmdi zmdi-xbox"></i></li>
                                                        <li class="icons-list-item"><i class="zmdi zmdi-yahoo" data-bs-toggle="tooltip" title="zmdi zmdi-yahoo"></i></li>
                                                        <li class="icons-list-item"><i class="zmdi zmdi-youtube-play" data-bs-toggle="tooltip" title="zmdi zmdi-youtube-play"></i></li>
                                                        <li class="icons-list-item"><i class="zmdi zmdi-youtube" data-bs-toggle="tooltip" title="zmdi zmdi-youtube"></i></li>
                                                        <li class="icons-list-item"><i class="zmdi zmdi-3d-rotation" data-bs-toggle="tooltip" title="zmdi zmdi-3d-rotation"></i></li>
                                                        <li class="icons-list-item"><i class="zmdi zmdi-airplane-off" data-bs-toggle="tooltip" title="zmdi zmdi-airplane-off"></i></li>
                                                        <li class="icons-list-item"><i class="zmdi zmdi-airplane" data-bs-toggle="tooltip" title="zmdi zmdi-airplane"></i></li>
                                                        <li class="icons-list-item"><i class="zmdi zmdi-album" data-bs-toggle="tooltip" title="zmdi zmdi-album"></i></li>
                                                        <li class="icons-list-item"><i class="zmdi zmdi-archive" data-bs-toggle="tooltip" title="zmdi zmdi-archive"></i></li>
                                                        <li class="icons-list-item"><i class="zmdi zmdi-assignment-account" data-bs-toggle="tooltip" title="zmdi zmdi-assignment-account"></i></li>
                                                        <li class="icons-list-item"><i class="zmdi zmdi-assignment-alert" data-bs-toggle="tooltip" title="zmdi zmdi-assignment-alert"></i></li>
                                                        <li class="icons-list-item"><i class="zmdi zmdi-assignment-check" data-bs-toggle="tooltip" title="zmdi zmdi-assignment-check"></i></li>
                                                        <li class="icons-list-item"><i class="zmdi zmdi-assignment-o" data-bs-toggle="tooltip" title="zmdi zmdi-assignment-o"></i></li>
                                                        <li class="icons-list-item"><i class="zmdi zmdi-assignment-return" data-bs-toggle="tooltip" title="zmdi zmdi-assignment-return"></i></li>
                                                        <li class="icons-list-item"><i class="zmdi zmdi-assignment-returned" data-bs-toggle="tooltip" title="zmdi zmdi-assignment-returned"></i></li>
                                                        <li class="icons-list-item"><i class="zmdi zmdi-assignment" data-bs-toggle="tooltip" title="zmdi zmdi-assignment"></i></li>
                                                        <li class="icons-list-item"><i class="zmdi zmdi-attachment-alt" data-bs-toggle="tooltip" title="zmdi zmdi-attachment-alt"></i></li>
                                                        <li class="icons-list-item"><i class="zmdi zmdi-attachment" data-bs-toggle="tooltip" title="zmdi zmdi-attachment"></i></li>
                                                        <li class="icons-list-item"><i class="zmdi zmdi-audio" data-bs-toggle="tooltip" title="zmdi zmdi-audio"></i></li>
                                                        <li class="icons-list-item"><i class="zmdi zmdi-badge-check" data-bs-toggle="tooltip" title="zmdi zmdi-badge-check"></i></li>
                                                        <li class="icons-list-item"><i class="zmdi zmdi-balance-wallet" data-bs-toggle="tooltip" title="zmdi zmdi-balance-wallet"></i></li>
                                                        <li class="icons-list-item"><i class="zmdi zmdi-balance" data-bs-toggle="tooltip" title="zmdi zmdi-balance"></i></li>
                                                        <li class="icons-list-item"><i class="zmdi zmdi-battery-alert" data-bs-toggle="tooltip" title="zmdi zmdi-battery-alert"></i></li>
                                                        <li class="icons-list-item"><i class="zmdi zmdi-battery-flash" data-bs-toggle="tooltip" title="zmdi zmdi-battery-flash"></i></li>
                                                        <li class="icons-list-item"><i class="zmdi zmdi-battery-unknown" data-bs-toggle="tooltip" title="zmdi zmdi-battery-unknown"></i></li>
                                                        <li class="icons-list-item"><i class="zmdi zmdi-battery" data-bs-toggle="tooltip" title="zmdi zmdi-battery"></i></li>
                                                        <li class="icons-list-item"><i class="zmdi zmdi-bike" data-bs-toggle="tooltip" title="zmdi zmdi-bike"></i></li>
                                                        <li class="icons-list-item"><i class="zmdi zmdi-block-alt" data-bs-toggle="tooltip" title="zmdi zmdi-block-alt"></i></li>
                                                        <li class="icons-list-item"><i class="zmdi zmdi-block" data-bs-toggle="tooltip" title="zmdi zmdi-block"></i></li>
                                                        <li class="icons-list-item"><i class="zmdi zmdi-boat" data-bs-toggle="tooltip" title="zmdi zmdi-boat"></i></li>
                                                        <li class="icons-list-item"><i class="zmdi zmdi-book-image" data-bs-toggle="tooltip" title="zmdi zmdi-book-image"></i></li>
                                                        <li class="icons-list-item"><i class="zmdi zmdi-book" data-bs-toggle="tooltip" title="zmdi zmdi-book"></i></li>
                                                        <li class="icons-list-item"><i class="zmdi zmdi-bookmark-outline" data-bs-toggle="tooltip" title="zmdi zmdi-bookmark-outline"></i></li>
                                                        <li class="icons-list-item"><i class="zmdi zmdi-bookmark" data-bs-toggle="tooltip" title="zmdi zmdi-bookmark"></i></li>
                                                        <li class="icons-list-item"><i class="zmdi zmdi-brush" data-bs-toggle="tooltip" title="zmdi zmdi-brush"></i></li>
                                                        <li class="icons-list-item"><i class="zmdi zmdi-bug" data-bs-toggle="tooltip" title="zmdi zmdi-bug"></i></li>
                                                        <li class="icons-list-item"><i class="zmdi zmdi-bus" data-bs-toggle="tooltip" title="zmdi zmdi-bus"></i></li>
                                                        <li class="icons-list-item"><i class="zmdi zmdi-cake" data-bs-toggle="tooltip" title="zmdi zmdi-cake"></i></li>
                                                        <li class="icons-list-item"><i class="zmdi zmdi-car-taxi" data-bs-toggle="tooltip" title="zmdi zmdi-car-taxi"></i></li>
                                                        <li class="icons-list-item"><i class="zmdi zmdi-car-wash" data-bs-toggle="tooltip" title="zmdi zmdi-car-wash"></i></li>
                                                        <li class="icons-list-item"><i class="zmdi zmdi-car" data-bs-toggle="tooltip" title="zmdi zmdi-car"></i></li>
                                                        <li class="icons-list-item"><i class="zmdi zmdi-card-giftcard" data-bs-toggle="tooltip" title="zmdi zmdi-card-giftcard"></i></li>
                                                        <li class="icons-list-item"><i class="zmdi zmdi-card-membership" data-bs-toggle="tooltip" title="zmdi zmdi-card-membership"></i></li>
                                                        <li class="icons-list-item"><i class="zmdi zmdi-card-travel" data-bs-toggle="tooltip" title="zmdi zmdi-card-travel"></i></li>
                                                        <li class="icons-list-item"><i class="zmdi zmdi-card" data-bs-toggle="tooltip" title="zmdi zmdi-card"></i></li>
                                                        <li class="icons-list-item"><i class="zmdi zmdi-case-check" data-bs-toggle="tooltip" title="zmdi zmdi-case-check"></i></li>
                                                        <li class="icons-list-item"><i class="zmdi zmdi-case-download" data-bs-toggle="tooltip" title="zmdi zmdi-case-download"></i></li>
                                                        <li class="icons-list-item"><i class="zmdi zmdi-case-play" data-bs-toggle="tooltip" title="zmdi zmdi-case-play"></i></li>
                                                        <li class="icons-list-item"><i class="zmdi zmdi-case" data-bs-toggle="tooltip" title="zmdi zmdi-case"></i></li>
                                                        <li class="icons-list-item"><i class="zmdi zmdi-cast-connected" data-bs-toggle="tooltip" title="zmdi zmdi-cast-connected"></i></li>
                                                        <li class="icons-list-item"><i class="zmdi zmdi-cast" data-bs-toggle="tooltip" title="zmdi zmdi-cast"></i></li>
                                                        <li class="icons-list-item"><i class="zmdi zmdi-chart-donut" data-bs-toggle="tooltip" title="zmdi zmdi-chart-donut"></i></li>
                                                        <li class="icons-list-item"><i class="zmdi zmdi-chart" data-bs-toggle="tooltip" title="zmdi zmdi-chart"></i></li>
                                                        <li class="icons-list-item"><i class="zmdi zmdi-city-alt" data-bs-toggle="tooltip" title="zmdi zmdi-city-alt"></i></li>
                                                        <li class="icons-list-item"><i class="zmdi zmdi-city" data-bs-toggle="tooltip" title="zmdi zmdi-city"></i></li>
                                                        <li class="icons-list-item"><i class="zmdi zmdi-close-circle-o" data-bs-toggle="tooltip" title="zmdi zmdi-close-circle-o"></i></li>
                                                        <li class="icons-list-item"><i class="zmdi zmdi-close-circle" data-bs-toggle="tooltip" title="zmdi zmdi-close-circle"></i></li>
                                                        <li class="icons-list-item"><i class="zmdi zmdi-close" data-bs-toggle="tooltip" title="zmdi zmdi-close"></i></li>
                                                        <li class="icons-list-item"><i class="zmdi zmdi-cocktail" data-bs-toggle="tooltip" title="zmdi zmdi-cocktail"></i></li>
                                                        <li class="icons-list-item"><i class="zmdi zmdi-code-setting" data-bs-toggle="tooltip" title="zmdi zmdi-code-setting"></i></li>
                                                        <li class="icons-list-item"><i class="zmdi zmdi-code-smartphone" data-bs-toggle="tooltip" title="zmdi zmdi-code-smartphone"></i></li>
                                                        <li class="icons-list-item"><i class="zmdi zmdi-code" data-bs-toggle="tooltip" title="zmdi zmdi-code"></i></li>
                                                        <li class="icons-list-item"><i class="zmdi zmdi-coffee" data-bs-toggle="tooltip" title="zmdi zmdi-coffee"></i></li>
                                                        <li class="icons-list-item"><i class="zmdi zmdi-collection-bookmark" data-bs-toggle="tooltip" title="zmdi zmdi-collection-bookmark"></i></li>
                                                        <li class="icons-list-item"><i class="zmdi zmdi-collection-case-play" data-bs-toggle="tooltip" title="zmdi zmdi-collection-case-play"></i></li>
                                                        <li class="icons-list-item"><i class="zmdi zmdi-collection-folder-image" data-bs-toggle="tooltip" title="zmdi zmdi-collection-folder-image"></i></li>
                                                        <li class="icons-list-item"><i class="zmdi zmdi-collection-image-o" data-bs-toggle="tooltip" title="zmdi zmdi-collection-image-o"></i></li>
                                                        <li class="icons-list-item"><i class="zmdi zmdi-collection-image" data-bs-toggle="tooltip" title="zmdi zmdi-collection-image"></i></li>
                                                        <li class="icons-list-item"><i class="zmdi zmdi-collection-item-1" data-bs-toggle="tooltip" title="zmdi zmdi-collection-item-1"></i></li>
                                                        <li class="icons-list-item"><i class="zmdi zmdi-collection-item-2" data-bs-toggle="tooltip" title="zmdi zmdi-collection-item-2"></i></li>
                                                        <li class="icons-list-item"><i class="zmdi zmdi-collection-item-3" data-bs-toggle="tooltip" title="zmdi zmdi-collection-item-3"></i></li>
                                                        <li class="icons-list-item"><i class="zmdi zmdi-collection-item-4" data-bs-toggle="tooltip" title="zmdi zmdi-collection-item-4"></i></li>
                                                        <li class="icons-list-item"><i class="zmdi zmdi-collection-item-5" data-bs-toggle="tooltip" title="zmdi zmdi-collection-item-5"></i></li>
                                                        <li class="icons-list-item"><i class="zmdi zmdi-collection-item-6" data-bs-toggle="tooltip" title="zmdi zmdi-collection-item-6"></i></li>
                                                        <li class="icons-list-item"><i class="zmdi zmdi-collection-item-7" data-bs-toggle="tooltip" title="zmdi zmdi-collection-item-7"></i></li>
                                                        <li class="icons-list-item"><i class="zmdi zmdi-collection-item-8" data-bs-toggle="tooltip" title="zmdi zmdi-collection-item-8"></i></li>
                                                        <li class="icons-list-item"><i class="zmdi zmdi-collection-item-9-plus" data-bs-toggle="tooltip" title="zmdi zmdi-collection-item-9"></i></li>
                                                        <li class="icons-list-item"><i class="zmdi zmdi-collection-item-9" data-bs-toggle="tooltip" title="ion-unlocked"></i></li>
                                                        <li class="icons-list-item"><i class="zmdi zmdi-collection-item" data-bs-toggle="tooltip" title="zmdi zmdi-collection-item"></i></li>
                                                        <li class="icons-list-item"><i class="zmdi zmdi-collection-music" data-bs-toggle="tooltip" title="zmdi zmdi-collection-music"></i></li>
                                                        <li class="icons-list-item"><i class="zmdi zmdi-collection-pdf" data-bs-toggle="tooltip" title="zmdi zmdi-collection-pdf"></i></li>
                                                        <li class="icons-list-item"><i class="zmdi zmdi-collection-plus" data-bs-toggle="tooltip" title="zmdi zmdi-collection-plus"></i></li>
                                                        <li class="icons-list-item"><i class="zmdi zmdi-collection-speaker" data-bs-toggle="tooltip" title="zmdi zmdi-collection-speaker"></i></li>
                                                        <li class="icons-list-item"><i class="zmdi zmdi-collection-text" data-bs-toggle="tooltip" title="zmdi zmdi-collection-text"></i></li>
                                                        <li class="icons-list-item"><i class="zmdi zmdi-collection-video" data-bs-toggle="tooltip" title="zmdi zmdi-collection-video"></i></li>
                                                        <li class="icons-list-item"><i class="fa fa-bandcamp" data-bs-toggle="tooltip" title="fa fa-bandcamp"></i></li>
                                                        <li class="icons-list-item"><i class="zmdi zmdi-cutlery" data-bs-toggle="tooltip" title="zmdi zmdi-cutlery"></i></li>
                                                        <li class="icons-list-item"><i class="zmdi zmdi-delete" data-bs-toggle="tooltip" title="zmdi zmdi-delete"></i></li>
                                                        <li class="icons-list-item"><i class="zmdi zmdi-dialpad" data-bs-toggle="tooltip" title="zmdi zmdi-dialpad"></i></li>
                                                        <li class="icons-list-item"><i class="zmdi zmdi-dns" data-bs-toggle="tooltip" title="zmdi zmdi-dns"></i></li>
                                                        <li class="icons-list-item"><i class="zmdi zmdi-drink" data-bs-toggle="tooltip" title="zmdi zmdi-drink"></i></li>
                                                        <li class="icons-list-item"><i class="zmdi zmdi-edit" data-bs-toggle="tooltip" title="zmdi zmdi-edit"></i></li>
                                                        <li class="icons-list-item"><i class="zmdi zmdi-email-open" data-bs-toggle="tooltip" title="zmdi zmdi-email-open"></i></li>
                                                        <li class="icons-list-item"><i class="zmdi zmdi-email" data-bs-toggle="tooltip" title="zmdi zmdi-email"></i></li>
                                                        <li class="icons-list-item"><i class="zmdi zmdi-eye-off" data-bs-toggle="tooltip" title="zmdi zmdi-eye-off"></i></li>
                                                        <li class="icons-list-item"><i class="zmdi zmdi-eye" data-bs-toggle="tooltip" title="zmdi zmdi-eye"></i></li>
                                                        <li class="icons-list-item"><i class="zmdi zmdi-eyedropper" data-bs-toggle="tooltip" title="zmdi zmdi-eyedropper"></i></li>
                                                        <li class="icons-list-item"><i class="zmdi zmdi-favorite-outline" data-bs-toggle="tooltip" title="zmdi zmdi-favorite-outline"></i></li>
                                                        <li class="icons-list-item"><i class="zmdi zmdi-favorite" data-bs-toggle="tooltip" title="zmdi zmdi-favorite"></i></li>
                                                        <li class="icons-list-item"><i class="zmdi zmdi-filter-list" data-bs-toggle="tooltip" title="zmdi zmdi-filter-list"></i></li>
                                                        <li class="icons-list-item"><i class="zmdi zmdi-fire" data-bs-toggle="tooltip" title="zmdi zmdi-fire"></i></li>
                                                        <li class="icons-list-item"><i class="zmdi zmdi-flag" data-bs-toggle="tooltip" title="zmdi zmdi-flag"></i></li>
                                                        <li class="icons-list-item"><i class="zmdi zmdi-flare" data-bs-toggle="tooltip" title="zmdi zmdi-flare"></i></li>
                                                        <li class="icons-list-item"><i class="zmdi zmdi-flash-auto" data-bs-toggle="tooltip" title="zmdi zmdi-flash-auto"></i></li>
                                                        <li class="icons-list-item"><i class="zmdi zmdi-flash-off" data-bs-toggle="tooltip" title="zmdi zmdi-flash-off"></i></li>
                                                        <li class="icons-list-item"><i class="zmdi zmdi-flash" data-bs-toggle="tooltip" title="zmdi zmdi-flash"></i></li>
                                                        <li class="icons-list-item"><i class="zmdi zmdi-flip" data-bs-toggle="tooltip" title="zmdi zmdi-flip"></i></li>
                                                        <li class="icons-list-item"><i class="zmdi zmdi-flower-alt" data-bs-toggle="tooltip" title="zmdi zmdi-flower-alt"></i></li>
                                                        <li class="icons-list-item"><i class="zmdi zmdi-flower" data-bs-toggle="tooltip" title="zmdi zmdi-flower"></i></li>
                                                        <li class="icons-list-item"><i class="zmdi zmdi-font" data-bs-toggle="tooltip" title="zmdi zmdi-font"></i></li>
                                                        <li class="icons-list-item"><i class="zmdi zmdi-fullscreen-alt" data-bs-toggle="tooltip" title="zmdi zmdi-fullscreen-alt"></i></li>
                                                        <li class="icons-list-item"><i class="zmdi zmdi-fullscreen-exit" data-bs-toggle="tooltip" title="zmdi zmdi-fullscreen-exit"></i></li>
                                                        <li class="icons-list-item"><i class="zmdi zmdi-fullscreen" data-bs-toggle="tooltip" title="zmdi zmdi-fullscreen"></i></li>
                                                        <li class="icons-list-item"><i class="zmdi zmdi-functions" data-bs-toggle="tooltip" title="zmdi zmdi-functions"></i></li>
                                                        <li class="icons-list-item"><i class="zmdi zmdi-gas-station" data-bs-toggle="tooltip" title="zmdi zmdi-gas-station"></i></li>
                                                        <li class="icons-list-item"><i class="zmdi zmdi-gesture" data-bs-toggle="tooltip" title="zmdi zmdi-gesture"></i></li>
                                                        <li class="icons-list-item"><i class="zmdi zmdi-globe-alt" data-bs-toggle="tooltip" title="zmdi zmdi-globe-alt"></i></li>
                                                        <li class="icons-list-item"><i class="zmdi zmdi-globe-lock" data-bs-toggle="tooltip" title="zmdi zmdi-globe-lock"></i></li>
                                                        <li class="icons-list-item"><i class="zmdi zmdi-globe" data-bs-toggle="tooltip" title="zmdi zmdi-globe"></i></li>
                                                        <li class="icons-list-item"><i class="zmdi zmdi-graduation-cap" data-bs-toggle="tooltip" title="zmdi zmdi-graduation-cap"></i></li>
                                                        <li class="icons-list-item"><i class="zmdi zmdi-group" data-bs-toggle="tooltip" title="zmdi zmdi-group"></i></li>
                                                        <li class="icons-list-item"><i class="zmdi zmdi-home" data-bs-toggle="tooltip" title="zmdi zmdi-home"></i></li>
                                                        <li class="icons-list-item"><i class="zmdi zmdi-hospital-alt" data-bs-toggle="tooltip" title="zmdi zmdi-hospital-alt"></i></li>
                                                        <li class="icons-list-item"><i class="zmdi zmdi-hospital" data-bs-toggle="tooltip" title="zmdi zmdi-hospital"></i></li>
                                                        <li class="icons-list-item"><i class="zmdi zmdi-hotel" data-bs-toggle="tooltip" title="zmdi zmdi-hotel"></i></li>
                                                        <li class="icons-list-item"><i class="zmdi zmdi-hourglass-alt" data-bs-toggle="tooltip" title="zmdi zmdi-hourglass-alt"></i></li>
                                                        <li class="icons-list-item"><i class="zmdi zmdi-hourglass-outline" data-bs-toggle="tooltip" title="zmdi zmdi-hourglass-outline"></i></li>
                                                        <li class="icons-list-item"><i class="zmdi zmdi-hourglass" data-bs-toggle="tooltip" title="zmdi zmdi-hourglass"></i></li>
                                                        <li class="icons-list-item"><i class="zmdi zmdi-http" data-bs-toggle="tooltip" title="zmdi zmdi-http"></i></li>
                                                        <li class="icons-list-item"><i class="zmdi zmdi-image-alt" data-bs-toggle="tooltip" title="zmdi zmdi-image-alt"></i></li>
                                                        <li class="icons-list-item"><i class="zmdi zmdi-image-o" data-bs-toggle="tooltip" title="zmdi zmdi-image-o"></i></li>
                                                        <li class="icons-list-item"><i class="zmdi zmdi-image" data-bs-toggle="tooltip" title="zmdi zmdi-image"></i></li>
                                                        <li class="icons-list-item"><i class="zmdi zmdi-inbox" data-bs-toggle="tooltip" title="zmdi zmdi-inbox"></i></li>
                                                        <li class="icons-list-item"><i class="zmdi zmdi-invert-colors-off" data-bs-toggle="tooltip" title="zmdi zmdi-invert-colors-off"></i></li>
                                                        <li class="icons-list-item"><i class="zmdi zmdi-invert-colors" data-bs-toggle="tooltip" title="zmdi zmdi-invert-colors"></i></li>
                                                        <li class="icons-list-item"><i class="zmdi zmdi-key" data-bs-toggle="tooltip" title="zmdi zmdi-key"></i></li>
                                                        <li class="icons-list-item"><i class="zmdi zmdi-label-alt-outline" data-bs-toggle="tooltip" title="zmdi zmdi-label-alt-outline"></i></li>
                                                        <li class="icons-list-item"><i class="zmdi zmdi-label-alt" data-bs-toggle="tooltip" title="zmdi zmdi-label-alt"></i></li>
                                                        <li class="icons-list-item"><i class="zmdi zmdi-label-heart" data-bs-toggle="tooltip" title="zmdi zmdi-label-heart"></i></li>
                                                        <li class="icons-list-item"><i class="zmdi zmdi-label" data-bs-toggle="tooltip" title="zmdi zmdi-label"></i></li>
                                                        <li class="icons-list-item"><i class="zmdi zmdi-labels" data-bs-toggle="tooltip" title="zmdi zmdi-labels"></i></li>
                                                        <li class="icons-list-item"><i class="zmdi zmdi-lamp" data-bs-toggle="tooltip" title="zmdi zmdi-lamp"></i></li>
                                                        <li class="icons-list-item"><i class="zmdi zmdi-landscape" data-bs-toggle="tooltip" title="zmdi zmdi-landscape"></i></li>
                                                        <li class="icons-list-item"><i class="zmdi zmdi-layers-off" data-bs-toggle="tooltip" title="zmdi zmdi-layers-off"></i></li>
                                                        <li class="icons-list-item"><i class="zmdi zmdi-layers" data-bs-toggle="tooltip" title="zmdi zmdi-layers"></i></li>
                                                        <li class="icons-list-item"><i class="zmdi zmdi-library" data-bs-toggle="tooltip" title="zmdi zmdi-library"></i></li>
                                                        <li class="icons-list-item"><i class="zmdi zmdi-link" data-bs-toggle="tooltip" title="zmdi zmdi-link"></i></li>
                                                        <li class="icons-list-item"><i class="zmdi zmdi-lock-open" data-bs-toggle="tooltip" title="zmdi zmdi-lock-open"></i></li>
                                                        <li class="icons-list-item"><i class="zmdi zmdi-lock-outline" data-bs-toggle="tooltip" title="zmdi zmdi-lock-outline"></i></li>
                                                        <li class="icons-list-item"><i class="zmdi zmdi-lock" data-bs-toggle="tooltip" title="zmdi zmdi-lock"></i></li>
                                                        <li class="icons-list-item"><i class="zmdi zmdi-mail-reply-all" data-bs-toggle="tooltip" title="zmdi zmdi-mail-reply-all"></i></li>
                                                        <li class="icons-list-item"><i class="zmdi zmdi-mail-reply" data-bs-toggle="tooltip" title="zmdi zmdi-mail-reply"></i></li>
                                                        <li class="icons-list-item"><i class="zmdi zmdi-mail-send" data-bs-toggle="tooltip" title="zmdi zmdi-mail-send"></i></li>
                                                        <li class="icons-list-item"><i class="zmdi zmdi-mall" data-bs-toggle="tooltip" title="zmdi zmdi-mall"></i></li>
                                                        <li class="icons-list-item"><i class="zmdi zmdi-map" data-bs-toggle="tooltip" title="zmdi zmdi-map"></i></li>
                                                        <li class="icons-list-item"><i class="zmdi zmdi-menu" data-bs-toggle="tooltip" title="zmdi zmdi-menu"></i></li>
                                                        <li class="icons-list-item"><i class="zmdi zmdi-money-box" data-bs-toggle="tooltip" title="zmdi zmdi-money-box"></i></li>
                                                        <li class="icons-list-item"><i class="zmdi zmdi-money-off" data-bs-toggle="tooltip" title="zmdi zmdi-money-off"></i></li>
                                                        <li class="icons-list-item"><i class="zmdi zmdi-money" data-bs-toggle="tooltip" title="zmdi zmdi-money"></i></li>
                                                        <li class="icons-list-item"><i class="zmdi zmdi-more-vert" data-bs-toggle="tooltip" title="zmdi zmdi-more-vert"></i></li>
                                                        <li class="icons-list-item"><i class="zmdi zmdi-more" data-bs-toggle="tooltip" title="zmdi zmdi-more"></i></li>
                                                        <li class="icons-list-item"><i class="zmdi zmdi-movie-alt" data-bs-toggle="tooltip" title="zmdi zmdi-movie-alt"></i></li>
                                                        <li class="icons-list-item"><i class="zmdi zmdi-nature-people" data-bs-toggle="tooltip" title="zmdi zmdi-nature-people"></i></li>
                                                        <li class="icons-list-item"><i class="zmdi zmdi-nature" data-bs-toggle="tooltip" title="zmdi zmdi-nature"></i></li>
                                                        <li class="icons-list-item"><i class="zmdi zmdi-navigation" data-bs-toggle="tooltip" title="zmdi zmdi-navigation"></i></li>
                                                        <li class="icons-list-item"><i class="zmdi zmdi-open-in-browser" data-bs-toggle="tooltip" title="zmdi zmdi-open-in-browser"></i></li>
                                                        <li class="icons-list-item"><i class="zmdi zmdi-open-in-new" data-bs-toggle="tooltip" title="zmdi zmdi-open-in-new"></i></li>
                                                        <li class="icons-list-item"><i class="zmdi zmdi-palette" data-bs-toggle="tooltip" title="zmdi zmdi-palette"></i></li>
                                                        <li class="icons-list-item"><i class="zmdi zmdi-parking" data-bs-toggle="tooltip" title="zmdi zmdi-parking"></i></li>
                                                        <li class="icons-list-item"><i class="zmdi zmdi-pin-account" data-bs-toggle="tooltip" title="zmdi zmdi-pin-account"></i></li>
                                                        <li class="icons-list-item"><i class="zmdi zmdi-pin-assistant" data-bs-toggle="tooltip" title="zmdi zmdi-pin-assistant"></i></li>
                                                        <li class="icons-list-item"><i class="zmdi zmdi-pin-drop" data-bs-toggle="tooltip" title="zmdi zmdi-pin-drop"></i></li>
                                                        <li class="icons-list-item"><i class="zmdi zmdi-pin-help" data-bs-toggle="tooltip" title="zmdi zmdi-pin-help"></i></li>
                                                        <li class="icons-list-item"><i class="zmdi zmdi-pin-off" data-bs-toggle="tooltip" title="zmdi zmdi-pin-off"></i></li>
                                                        <li class="icons-list-item"><i class="zmdi zmdi-pin" data-bs-toggle="tooltip" title="zmdi zmdi-pin"></i></li>
                                                        <li class="icons-list-item"><i class="zmdi zmdi-pizza" data-bs-toggle="tooltip" title="zmdi zmdi-pizza"></i></li>
                                                        <li class="icons-list-item"><i class="zmdi zmdi-plaster" data-bs-toggle="tooltip" title="zmdi zmdi-plaster"></i></li>
                                                        <li class="icons-list-item"><i class="zmdi zmdi-power-setting" data-bs-toggle="tooltip" title="zmdi zmdi-power-setting"></i></li>
                                                        <li class="icons-list-item"><i class="zmdi zmdi-power" data-bs-toggle="tooltip" title="zmdi zmdi-power"></i></li>
                                                        <li class="icons-list-item"><i class="zmdi zmdi-print" data-bs-toggle="tooltip" title="zmdi zmdi-print"></i></li>
                                                        <li class="icons-list-item"><i class="zmdi zmdi-puzzle-piece" data-bs-toggle="tooltip" title="zmdi zmdi-puzzle-piece"></i></li>
                                                        <li class="icons-list-item"><i class="zmdi zmdi-quote" data-bs-toggle="tooltip" title="zmdi zmdi-quote"></i></li>
                                                        <li class="icons-list-item"><i class="zmdi zmdi-railway" data-bs-toggle="tooltip" title="zmdi zmdi-railway"></i></li>
                                                        <li class="icons-list-item"><i class="zmdi zmdi-receipt" data-bs-toggle="tooltip" title="zmdi zmdi-receipt"></i></li>
                                                        <li class="icons-list-item"><i class="zmdi zmdi-refresh-alt" data-bs-toggle="tooltip" title="zmdi zmdi-refresh-alt"></i></li>
                                                        <li></li>
                                                        <li></li>
                                                        <li></li>
                                                        <li></li>
                                                        <li></li>
                                                        <li></li>
                                                        <li></li>
                                                        <li></li>
                                                        <li></li>
                                                        <li></li>
                                                        <li></li>
                                                        <li></li>
                                                        <li></li>
                                                        <li></li>
                                                        <li></li>
                                                        <li></li>
                                                        <li></li>
                                                        <li></li>
                                                        <li></li>
                                                        <li></li>
                                                        <li></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- ROW CLOSED -->

{% endblock %}

{% block javascripts %}
   {{parent()}} 

   
		
{% endblock %}