{% extends 'base.html.twig' %}

{% block body %}

                        <!-- PAGE-HEADER -->
                        <div class="page-header">
                            <h1 class="page-title">Morris Charts</h1>
                            <div>
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="javascript:void(0)">Charts</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">Morris Charts</li>
                                </ol>
                            </div>
                        </div>
                        <!-- PAGE-HEADER END -->

                        <!-- ROW-1 OPEN -->
                        <div class="row">
                            <div class="col-lg-6 col-md-12">
                                <div class="card">
                                    <div class="card-header">
                                        <h3 class="card-title">Area chart</h3>
                                    </div>
                                    <div class="card-body">
                                        <div id="morrisBar2" class="chartsh"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-12">
                                <div class="card">
                                    <div class="card-header">
                                        <h3 class="card-title">Area chart 2</h3>
                                    </div>
                                    <div class="card-body">
                                        <div id="morrisBar3" class="chartsh"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- ROW-1 CLOSED -->

                        <!-- ROW-2 -->
                        <div class="row">
                            <div class="col-lg-6 col-md-12">
                                <div class="card">
                                    <div class="card-header">
                                        <h3 class="card-title">Single bar chart</h3>
                                    </div>
                                    <div class="card-body">
                                        <div id="morrisBar4" class="chartsh"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-12">
                                <div class="card">
                                    <div class="card-header">
                                        <h3 class="card-title">Multiple Bar chart</h3>
                                    </div>
                                    <div class="card-body">
                                        <div id="morrisBar5" class="chartsh"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- ROW-2 CLOSE -->

                        <!-- ROW-3 -->
                        <div class="row">
                            <div class="col-lg-6 col-md-12">
                                <div class="card">
                                    <div class="card-header">
                                        <h3 class="card-title">line chart animated</h3>
                                    </div>
                                    <div class="card-body">
                                        <div id="morrisBar6" class="chartsh"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-12">
                                <div class="card">
                                    <div class="card-header">
                                        <h3 class="card-title">line chart</h3>
                                    </div>
                                    <div class="card-body">
                                        <div id="morrisBar7" class="chartsh"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- ROW-3 CLOSE -->

                        <!-- ROW-4 OPEN -->
                        <div class="row">
                            <div class="col-lg-6 col-md-12">
                                <div class="card">
                                    <div class="card-header">
                                        <h3 class="card-title">Donut chart</h3>
                                    </div>
                                    <div class="card-body">
                                        <div id="morrisBar8" class="chartsh"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-12">
                                <div class="card">
                                    <div class="card-header">
                                        <h3 class="card-title">Donut chart with multiple colors</h3>
                                    </div>
                                    <div class="card-body">
                                        <div id="morrisBar9" class="chartsh"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- ROW-4 CLOSE -->

{% endblock %}

{% block javascripts %}
   {{parent()}} 

   <!-- CHART-CIRCLE JS-->
    <script src="{{absolute_url(asset('build/plugins/jquery/circle-progress.min.js'))}}"></script>

    <!-- C3 CHART JS -->
    <script src="{{absolute_url(asset('build/plugins/charts-c3/d3.v5.min.js'))}}"></script>
    <script src="{{absolute_url(asset('build/plugins/charts-c3/c3-chart.js'))}}"></script>

    <!-- MORRIS-CHART JS -->
    <script src="{{absolute_url(asset('build/plugins/morris/raphael-min.js'))}}"></script>
    <script src="{{absolute_url(asset('build/plugins/morris/morris.js'))}}"></script>
    {{ encore_entry_script_tags('js/morris') }}   
		
{% endblock %}