{% extends 'base.html.twig' %}

{% block body %}

                        <!-- PAGE-HEADER -->
                        <div class="page-header">
                            <h1 class="page-title">C3 Bar Charts</h1>
                            <div>
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="javascript:void(0)">Charts</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">C3 Bar Charts</li>
                                </ol>
                            </div>
                        </div>
                        <!-- PAGE-HEADER END -->

                        <!-- ROW-1 OPEN -->
                        <div class="row">
                            <div class="col-lg-6 col-md-12">
                                <div class="card">
                                    <div class="card-header">
                                        <h3 class="card-title">combination of bar & line chart</h3>
                                    </div>
                                    <div class="card-body">
                                        <div id="chart-combination" class="chartsh"></div>
                                    </div>
                                </div>
                            </div>
                            <!-- COL-END -->
                            <div class="col-lg-6 col-md-12">
                                <div class="card">
                                    <div class="card-header">
                                        <h3 class="card-title">Single Bar chart </h3>
                                    </div>
                                    <div class="card-body">
                                        <div id="chart-monthly" class="chartsh"></div>
                                    </div>
                                </div>
                            </div>
                            <!-- COL-END -->
                        </div>
                        <!-- ROW-1 CLOSED -->

                        <!-- ROW-2 OPEN -->
                        <div class="row">
                            <div class="col-lg-6 col-md-12">
                                <div class="card">
                                    <div class="card-header">
                                        <h3 class="card-title">Bar Chart</h3>
                                    </div>
                                    <div class="card-body">
                                        <div id="chart-bar-stacked" class="chartsh"></div>
                                    </div>
                                </div>
                            </div>
                            <!-- COL-END -->
                            <div class="col-lg-6 col-md-12">
                                <div class="card">
                                    <div class="card-header">
                                        <h3 class="card-title">Multiple Bar chart</h3>
                                    </div>
                                    <div class="card-body">
                                        <div id="chart-bar" class="chartsh"></div>
                                    </div>
                                </div>
                            </div>
                            <!-- COL-END -->
                        </div>
                        <!-- ROW-2 CLOSED -->

                        <!-- ROW-3 OPEN -->
                        <div class="row">
                            <div class="col-lg-6 col-md-12">
                                <div class="card">
                                    <div class="card-header">
                                        <h3 class="card-title">Horizontal Bar chart</h3>
                                    </div>
                                    <div class="card-body">
                                        <div id="chart-bar-rotated" class="chartsh"></div>
                                    </div>
                                </div>
                            </div>
                            <!-- COL-END -->
                            <div class="col-lg-6 col-md-12">
                                <div class="card">
                                    <div class="card-header">
                                        <h3 class="card-title">Area-spline filled chart</h3>
                                    </div>
                                    <div class="card-body">
                                        <div id="chart-tasks" class="chartsh"></div>
                                    </div>
                                </div>
                            </div>
                            <!-- COL-END -->
                        </div>
                        <!-- ROW-3 CLOSED -->

{% endblock %}

{% block javascripts %}
   {{parent()}} 

   <!-- CHART-CIRCLE JS -->
    <script src="{{absolute_url(asset('build/plugins/jquery/circle-progress.min.js'))}}"></script>

    <!-- C3 CHART JS -->
    <script src="{{absolute_url(asset('build/plugins/charts-c3/d3.v5.min.js'))}}"></script>
    <script src="{{absolute_url(asset('build/plugins/charts-c3/c3-chart.js'))}}"></script>

    <!-- INDEX JS -->
    {{ encore_entry_script_tags('js/charts') }}
    {{ encore_entry_script_tags('js/index') }}
		
{% endblock %}