{% extends 'base.html.twig' %}

{% block body %}

                        <!-- PAGE-HEADER -->
                        <div class="page-header">
                            <h1 class="page-title">Feather Icons</h1>
                            <div>
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="javascript:void(0)">Icons</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">Feather Icons</li>
                                </ol>
                            </div>
                        </div>
                        <!-- PAGE-HEADER END -->

                        <!-- ROW OPEN -->
                        <div class="row row-cards">
                            <div class="col">
                                <div class="card">
                                    <div class="card-header">
                                        <h3 class="card-title">Feather Icons</h3>
                                    </div>
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-lg-12 col-sm-12">
                                                <p>Simply beautiful open source icons. For more info <a href="https://dropways.github.io/feathericons/" target="_blank">click here</a>.</p>
                                                <p><code>&lt;i class="fe fe-ICON_NAME"&gt;&lt;/i&gt;</code></p>
                                            </div>
                                            <div class="col-sm-12 col-lg-12">
                                                <div class="icons-list-wrap">
                                                    <ul class="icons-list">
                                                        <li class="icons-list-item"><i class="fe fe-activity" data-bs-toggle="tooltip" title="fe fe-activity"></i></li>
                                                        <li class="icons-list-item"><i class="fe fe-airplay" data-bs-toggle="tooltip" title="fe fe-airplay"></i></li>
                                                        <li class="icons-list-item"><i class="fe fe-alert-circle" data-bs-toggle="tooltip" title="fe fe-alert-circle"></i></li>
                                                        <li class="icons-list-item"><i class="fe fe-alert-octagon" data-bs-toggle="tooltip" title="fe fe-alert-octagon"></i></li>
                                                        <li class="icons-list-item"><i class="fe fe-alert-triangle" data-bs-toggle="tooltip" title="fe fe-alert-triangle"></i></li>
                                                        <li class="icons-list-item"><i class="fe fe-align-center" data-bs-toggle="tooltip" title="fe fe-align-center"></i></li>
                                                        <li class="icons-list-item"><i class="fe fe-align-justify" data-bs-toggle="tooltip" title="fe fe-align-justify"></i></li>
                                                        <li class="icons-list-item"><i class="fe fe-align-left" data-bs-toggle="tooltip" title="fe fe-align-left"></i></li>
                                                        <li class="icons-list-item"><i class="fe fe-align-right" data-bs-toggle="tooltip" title="fe fe-align-right"></i></li>
                                                        <li class="icons-list-item"><i class="fe fe-anchor" data-bs-toggle="tooltip" title="fe fe-anchor"></i></li>
                                                        <li class="icons-list-item"><i class="fe fe-aperture" data-bs-toggle="tooltip" title="fe fe-aperture"></i></li>
                                                        <li class="icons-list-item"><i class="fe fe-arrow-down" data-bs-toggle="tooltip" title="fe fe-arrow-down"></i></li>
                                                        <li class="icons-list-item"><i class="fe fe-arrow-down-circle" data-bs-toggle="tooltip" title="fe fe-arrow-down-circle"></i></li>
                                                        <li class="icons-list-item"><i class="fe fe-arrow-down-left" data-bs-toggle="tooltip" title="fe fe-arrow-down-left"></i></li>
                                                        <li class="icons-list-item"><i class="fe fe-arrow-down-right" data-bs-toggle="tooltip" title="fe fe-arrow-down-right"></i></li>
                                                        <li class="icons-list-item"><i class="fe fe-arrow-left" data-bs-toggle="tooltip" title="fe fe-arrow-left"></i></li>
                                                        <li class="icons-list-item"><i class="fe fe-arrow-left-circle" data-bs-toggle="tooltip" title="fe fe-arrow-left-circle"></i></li>
                                                        <li class="icons-list-item"><i class="fe fe-arrow-right" data-bs-toggle="tooltip" title="fe fe-arrow-right"></i></li>
                                                        <li class="icons-list-item"><i class="fe fe-arrow-right-circle" data-bs-toggle="tooltip" title="fe fe-arrow-right-circle"></i></li>
                                                        <li class="icons-list-item"><i class="fe fe-arrow-up" data-bs-toggle="tooltip" title="fe fe-arrow-up"></i></li>
                                                        <li class="icons-list-item"><i class="fe fe-arrow-up-circle" data-bs-toggle="tooltip" title="fe fe-arrow-up-circle"></i></li>
                                                        <li class="icons-list-item"><i class="fe fe-arrow-up-left" data-bs-toggle="tooltip" title="fe fe-arrow-up-left"></i></li>
                                                        <li class="icons-list-item"><i class="fe fe-arrow-up-right" data-bs-toggle="tooltip" title="fe fe-arrow-up-right"></i></li>
                                                        <li class="icons-list-item"><i class="fe fe-at-sign" data-bs-toggle="tooltip" title="fe fe-at-sign"></i></li>
                                                        <li class="icons-list-item"><i class="fe fe-award" data-bs-toggle="tooltip" title="fe fe-award"></i></li>
                                                        <li class="icons-list-item"><i class="lnr lnr-pie-chart" data-bs-toggle="tooltip" title="lnr lnr-pie-chart"></i></li>
                                                        <li class="icons-list-item"><i class="fe fe-battery" data-bs-toggle="tooltip" title="fe fe-battery"></i></li>
                                                        <li class="icons-list-item"><i class="fe fe-battery-charging" data-bs-toggle="tooltip" title="fe fe-battery-charging"></i></li>
                                                        <li class="icons-list-item"><i class="fe fe-bell" data-bs-toggle="tooltip" title="fe fe-bell"></i></li>
                                                        <li class="icons-list-item"><i class="fe fe-bell-off" data-bs-toggle="tooltip" title="fe fe-bell-off"></i></li>
                                                        <li class="icons-list-item"><i class="fe fe-bluetooth" data-bs-toggle="tooltip" title="fe fe-bluetooth"></i></li>
                                                        <li class="icons-list-item"><i class="fe fe-bold" data-bs-toggle="tooltip" title="fe fe-bold"></i></li>
                                                        <li class="icons-list-item"><i class="fe fe-book" data-bs-toggle="tooltip" title="fe fe-book"></i></li>
                                                        <li class="icons-list-item"><i class="fe fe-book-open" data-bs-toggle="tooltip" title="fe fe-book-open"></i></li>
                                                        <li class="icons-list-item"><i class="fe fe-bookmark" data-bs-toggle="tooltip" title="fe fe-bookmark"></i></li>
                                                        <li class="icons-list-item"><i class="fe fe-box" data-bs-toggle="tooltip" title="fe fe-box"></i></li>
                                                        <li class="icons-list-item"><i class="fe fe-briefcase" data-bs-toggle="tooltip" title="fe fe-briefcase"></i></li>
                                                        <li class="icons-list-item"><i class="fe fe-calendar" data-bs-toggle="tooltip" title="fe fe-calendar"></i></li>
                                                        <li class="icons-list-item"><i class="fe fe-camera" data-bs-toggle="tooltip" title="fe fe-camera"></i></li>
                                                        <li class="icons-list-item"><i class="fe fe-camera-off" data-bs-toggle="tooltip" title="fe fe-camera-off"></i></li>
                                                        <li class="icons-list-item"><i class="fe fe-cast" data-bs-toggle="tooltip" title="fe fe-cast"></i></li>
                                                        <li class="icons-list-item"><i class="fe fe-check" data-bs-toggle="tooltip" title="fe fe-check"></i></li>
                                                        <li class="icons-list-item"><i class="fe fe-check-circle" data-bs-toggle="tooltip" title="fe fe-check-circle"></i></li>
                                                        <li class="icons-list-item"><i class="fe fe-check-square" data-bs-toggle="tooltip" title="fe fe-check-square"></i></li>
                                                        <li class="icons-list-item"><i class="fe fe-chevron-down" data-bs-toggle="tooltip" title="fe fe-chevron-down"></i></li>
                                                        <li class="icons-list-item"><i class="fe fe-chevron-left" data-bs-toggle="tooltip" title="fe fe-chevron-left"></i></li>
                                                        <li class="icons-list-item"><i class="fe fe-chevron-right" data-bs-toggle="tooltip" title="fe fe-chevron-right"></i></li>
                                                        <li class="icons-list-item"><i class="fe fe-chevron-up" data-bs-toggle="tooltip" title="fe fe-chevron-up"></i></li>
                                                        <li class="icons-list-item"><i class="fe fe-chevrons-down" data-bs-toggle="tooltip" title="fe fe-chevrons-down"></i></li>
                                                        <li class="icons-list-item"><i class="fe fe-chevrons-left" data-bs-toggle="tooltip" title="fe fe-chevrons-left"></i></li>
                                                        <li class="icons-list-item"><i class="fe fe-chevrons-right" data-bs-toggle="tooltip" title="fe fe-chevrons-right"></i></li>
                                                        <li class="icons-list-item"><i class="fe fe-chevrons-up" data-bs-toggle="tooltip" title="fe fe-chevrons-up"></i></li>
                                                        <li class="icons-list-item"><i class="fe fe-chrome" data-bs-toggle="tooltip" title="fe fe-chrome"></i></li>
                                                        <li class="icons-list-item"><i class="fe fe-circle" data-bs-toggle="tooltip" title="fe fe-circle"></i></li>
                                                        <li class="icons-list-item"><i class="fe fe-clipboard" data-bs-toggle="tooltip" title="fe fe-clipboard"></i></li>
                                                        <li class="icons-list-item"><i class="fe fe-clock" data-bs-toggle="tooltip" title="fe fe-clock"></i></li>
                                                        <li class="icons-list-item"><i class="fe fe-cloud" data-bs-toggle="tooltip" title="fe fe-cloud"></i></li>
                                                        <li class="icons-list-item"><i class="fe fe-cloud-drizzle" data-bs-toggle="tooltip" title="fe fe-cloud-drizzle"></i></li>
                                                        <li class="icons-list-item"><i class="fe fe-cloud-lightning" data-bs-toggle="tooltip" title="fe fe-cloud-lightning"></i></li>
                                                        <li class="icons-list-item"><i class="fe fe-cloud-off" data-bs-toggle="tooltip" title="fe fe-cloud-off"></i></li>
                                                        <li class="icons-list-item"><i class="fe fe-cloud-rain" data-bs-toggle="tooltip" title="fe fe-cloud-rain"></i></li>
                                                        <li class="icons-list-item"><i class="fe fe-cloud-snow" data-bs-toggle="tooltip" title="fe fe-cloud-snow"></i></li>
                                                        <li class="icons-list-item"><i class="fe fe-code" data-bs-toggle="tooltip" title="fe fe-code"></i></li>
                                                        <li class="icons-list-item"><i class="fe fe-codepen" data-bs-toggle="tooltip" title="fe fe-codepen"></i></li>
                                                        <li class="icons-list-item"><i class="fe fe-command" data-bs-toggle="tooltip" title="fe fe-command"></i></li>
                                                        <li class="icons-list-item"><i class="fe fe-compass" data-bs-toggle="tooltip" title="fe fe-compass"></i></li>
                                                        <li class="icons-list-item"><i class="fe fe-copy" data-bs-toggle="tooltip" title="fe fe-copy"></i></li>
                                                        <li class="icons-list-item"><i class="fe fe-corner-down-left" data-bs-toggle="tooltip" title="fe fe-corner-down-left"></i></li>
                                                        <li class="icons-list-item"><i class="fe fe-corner-down-right" data-bs-toggle="tooltip" title="fe fe-corner-down-right"></i></li>
                                                        <li class="icons-list-item"><i class="fe fe-corner-left-down" data-bs-toggle="tooltip" title="fe fe-corner-left-down"></i></li>
                                                        <li class="icons-list-item"><i class="fe fe-corner-left-up" data-bs-toggle="tooltip" title="fe fe-corner-left-up"></i></li>
                                                        <li class="icons-list-item"><i class="fe fe-corner-right-down" data-bs-toggle="tooltip" title="fe fe-corner-right-down"></i></li>
                                                        <li class="icons-list-item"><i class="fe fe-corner-right-up" data-bs-toggle="tooltip" title="fe fe-corner-right-up"></i></li>
                                                        <li class="icons-list-item"><i class="fe fe-corner-up-left" data-bs-toggle="tooltip" title="fe fe-corner-up-left"></i></li>
                                                        <li class="icons-list-item"><i class="fe fe-corner-up-right" data-bs-toggle="tooltip" title="fe fe-corner-up-right"></i></li>
                                                        <li class="icons-list-item"><i class="fe fe-cpu" data-bs-toggle="tooltip" title="fe fe-cpu"></i></li>
                                                        <li class="icons-list-item"><i class="fe fe-credit-card" data-bs-toggle="tooltip" title="fe fe-credit-card"></i></li>
                                                        <li class="icons-list-item"><i class="fe fe-crop" data-bs-toggle="tooltip" title="fe fe-crop"></i></li>
                                                        <li class="icons-list-item"><i class="fe fe-crosshair" data-bs-toggle="tooltip" title="fe fe-crosshair"></i></li>
                                                        <li class="icons-list-item"><i class="fe fe-database" data-bs-toggle="tooltip" title="fe fe-database"></i></li>
                                                        <li class="icons-list-item"><i class="fe fe-delete" data-bs-toggle="tooltip" title="fe fe-delete"></i></li>
                                                        <li class="icons-list-item"><i class="fe fe-disc" data-bs-toggle="tooltip" title="fe fe-disc"></i></li>
                                                        <li class="icons-list-item"><i class="fe fe-dollar-sign" data-bs-toggle="tooltip" title="fe fe-dollar-sign"></i></li>
                                                        <li class="icons-list-item"><i class="fe fe-download" data-bs-toggle="tooltip" title="fe fe-download"></i></li>
                                                        <li class="icons-list-item"><i class="fe fe-download-cloud" data-bs-toggle="tooltip" title="fe fe-download-cloud"></i></li>
                                                        <li class="icons-list-item"><i class="fe fe-droplet" data-bs-toggle="tooltip" title="fe fe-droplet"></i></li>
                                                        <li class="icons-list-item"><i class="fe fe-edit" data-bs-toggle="tooltip" title="fe fe-edit"></i></li>
                                                        <li class="icons-list-item"><i class="fe fe-edit-2" data-bs-toggle="tooltip" title="fe fe-edit-2"></i></li>
                                                        <li class="icons-list-item"><i class="fe fe-edit-3" data-bs-toggle="tooltip" title="fe fe-edit-3"></i></li>
                                                        <li class="icons-list-item"><i class="fe fe-external-link" data-bs-toggle="tooltip" title="fe fe-external-link"></i></li>
                                                        <li class="icons-list-item"><i class="fe fe-eye" data-bs-toggle="tooltip" title="fe fe-eye"></i></li>
                                                        <li class="icons-list-item"><i class="fe fe-eye-off" data-bs-toggle="tooltip" title="fe fe-eye-off"></i></li>
                                                        <li class="icons-list-item"><i class="fe fe-facebook" data-bs-toggle="tooltip" title="fe fe-facebook"></i></li>
                                                        <li class="icons-list-item"><i class="fe fe-fast-forward" data-bs-toggle="tooltip" title="fe fe-fast-forward"></i></li>
                                                        <li class="icons-list-item"><i class="fe fe-feather" data-bs-toggle="tooltip" title="fe fe-feather"></i></li>
                                                        <li class="icons-list-item"><i class="fe fe-file" data-bs-toggle="tooltip" title="fe fe-file"></i></li>
                                                        <li class="icons-list-item"><i class="fe fe-file-minus" data-bs-toggle="tooltip" title="fe fe-file-minus"></i></li>
                                                        <li class="icons-list-item"><i class="fe fe-file-plus" data-bs-toggle="tooltip" title="fe fe-file-plus"></i></li>
                                                        <li class="icons-list-item"><i class="fe fe-file-text" data-bs-toggle="tooltip" title="fe fe-file-text"></i></li>
                                                        <li class="icons-list-item"><i class="fe fe-film" data-bs-toggle="tooltip" title="fe fe-film"></i></li>
                                                        <li class="icons-list-item"><i class="fe fe-filter" data-bs-toggle="tooltip" title="fe fe-filter"></i></li>
                                                        <li class="icons-list-item"><i class="fe fe-flag" data-bs-toggle="tooltip" title="fe fe-flag"></i></li>
                                                        <li class="icons-list-item"><i class="fe fe-folder" data-bs-toggle="tooltip" title="fe fe-folder"></i></li>
                                                        <li class="icons-list-item"><i class="fe fe-folder-minus" data-bs-toggle="tooltip" title="fe fe-folder-minus"></i></li>
                                                        <li class="icons-list-item"><i class="fe fe-folder-plus" data-bs-toggle="tooltip" title="fe fe-folder-plus"></i></li>
                                                        <li class="icons-list-item"><i class="fe fe-git-branch" data-bs-toggle="tooltip" title="fe fe-git-branch"></i></li>
                                                        <li class="icons-list-item"><i class="fe fe-git-commit" data-bs-toggle="tooltip" title="fe fe-git-commit"></i></li>
                                                        <li class="icons-list-item"><i class="fe fe-git-merge" data-bs-toggle="tooltip" title="fe fe-git-merge"></i></li>
                                                        <li class="icons-list-item"><i class="fe fe-git-pull-request" data-bs-toggle="tooltip" title="fe fe-git-pull-request"></i></li>
                                                        <li class="icons-list-item"><i class="fe fe-github" data-bs-toggle="tooltip" title="fe fe-github"></i></li>
                                                        <li class="icons-list-item"><i class="fe fe-gitlab" data-bs-toggle="tooltip" title="fe fe-gitlab"></i></li>
                                                        <li class="icons-list-item"><i class="fe fe-globe" data-bs-toggle="tooltip" title="fe fe-globe"></i></li>
                                                        <li class="icons-list-item"><i class="fe fe-grid" data-bs-toggle="tooltip" title="fe fe-grid"></i></li>
                                                        <li class="icons-list-item"><i class="fe fe-hard-drive" data-bs-toggle="tooltip" title="fe fe-hard-drive"></i></li>
                                                        <li class="icons-list-item"><i class="fe fe-hash" data-bs-toggle="tooltip" title="fe fe-hash"></i></li>
                                                        <li class="icons-list-item"><i class="fe fe-headphones" data-bs-toggle="tooltip" title="fe fe-headphones"></i></li>
                                                        <li class="icons-list-item"><i class="fe fe-heart" data-bs-toggle="tooltip" title="fe fe-heart"></i></li>
                                                        <li class="icons-list-item"><i class="fe fe-help-circle" data-bs-toggle="tooltip" title="fe fe-help-circle"></i></li>
                                                        <li class="icons-list-item"><i class="fe fe-home" data-bs-toggle="tooltip" title="fe fe-home"></i></li>
                                                        <li class="icons-list-item"><i class="fe fe-image" data-bs-toggle="tooltip" title="fe fe-image"></i></li>
                                                        <li class="icons-list-item"><i class="fe fe-inbox" data-bs-toggle="tooltip" title="fe fe-inbox"></i></li>
                                                        <li class="icons-list-item"><i class="fe fe-info" data-bs-toggle="tooltip" title="fe fe-info"></i></li>
                                                        <li class="icons-list-item"><i class="fe fe-instagram" data-bs-toggle="tooltip" title="fe fe-instagram"></i></li>
                                                        <li class="icons-list-item"><i class="fe fe-italic" data-bs-toggle="tooltip" title="fe fe-italic"></i></li>
                                                        <li class="icons-list-item"><i class="fe fe-layers" data-bs-toggle="tooltip" title="fe fe-layers"></i></li>
                                                        <li class="icons-list-item"><i class="fe fe-layout" data-bs-toggle="tooltip" title="fe fe-layout"></i></li>
                                                        <li class="icons-list-item"><i class="fe fe-life-buoy" data-bs-toggle="tooltip" title="fe fe-life-buoy"></i></li>
                                                        <li class="icons-list-item"><i class="fe fe-link" data-bs-toggle="tooltip" title="fe fe-link"></i></li>
                                                        <li class="icons-list-item"><i class="fe fe-link-2" data-bs-toggle="tooltip" title="fe fe-link-2"></i></li>
                                                        <li class="icons-list-item"><i class="fe fe-linkedin" data-bs-toggle="tooltip" title="fe fe-linkedin"></i></li>
                                                        <li class="icons-list-item"><i class="fe fe-list" data-bs-toggle="tooltip" title="fe fe-list"></i></li>
                                                        <li class="icons-list-item"><i class="fe fe-loader" data-bs-toggle="tooltip" title="fe fe-loader"></i></li>
                                                        <li class="icons-list-item"><i class="fe fe-lock" data-bs-toggle="tooltip" title="fe fe-lock"></i></li>
                                                        <li class="icons-list-item"><i class="fe fe-log-in" data-bs-toggle="tooltip" title="fe fe-log-in"></i></li>
                                                        <li class="icons-list-item"><i class="fe fe-log-out" data-bs-toggle="tooltip" title="fe fe-log-out"></i></li>
                                                        <li class="icons-list-item"><i class="fe fe-mail" data-bs-toggle="tooltip" title="fe fe-mail"></i></li>
                                                        <li class="icons-list-item"><i class="fe fe-map" data-bs-toggle="tooltip" title="fe fe-map"></i></li>
                                                        <li class="icons-list-item"><i class="fe fe-map-pin" data-bs-toggle="tooltip" title="fe fe-map-pin"></i></li>
                                                        <li class="icons-list-item"><i class="fe fe-maximize" data-bs-toggle="tooltip" title="fe fe-maximize"></i></li>
                                                        <li class="icons-list-item"><i class="fe fe-maximize-2" data-bs-toggle="tooltip" title="fe fe-maximize-2"></i></li>
                                                        <li class="icons-list-item"><i class="fe fe-menu" data-bs-toggle="tooltip" title="fe fe-menu"></i></li>
                                                        <li class="icons-list-item"><i class="fe fe-message-circle" data-bs-toggle="tooltip" title="fe fe-message-circle"></i></li>
                                                        <li class="icons-list-item"><i class="fe fe-message-square" data-bs-toggle="tooltip" title="fe fe-message-square"></i></li>
                                                        <li class="icons-list-item"><i class="fe fe-mic" data-bs-toggle="tooltip" title="fe fe-mic"></i></li>
                                                        <li class="icons-list-item"><i class="fe fe-mic-off" data-bs-toggle="tooltip" title="fe fe-mic-off"></i></li>
                                                        <li class="icons-list-item"><i class="fe fe-minimize" data-bs-toggle="tooltip" title="fe fe-minimize"></i></li>
                                                        <li class="icons-list-item"><i class="fe fe-minimize-2" data-bs-toggle="tooltip" title="fe fe-minimize-2"></i></li>
                                                        <li class="icons-list-item"><i class="fe fe-minus" data-bs-toggle="tooltip" title="fe fe-minus"></i></li>
                                                        <li class="icons-list-item"><i class="fe fe-minus-circle" data-bs-toggle="tooltip" title="fe fe-minus-circle"></i></li>
                                                        <li class="icons-list-item"><i class="fe fe-minus-square" data-bs-toggle="tooltip" title="fe fe-minus-square"></i></li>
                                                        <li class="icons-list-item"><i class="fe fe-monitor" data-bs-toggle="tooltip" title="fe fe-monitor"></i></li>
                                                        <li class="icons-list-item"><i class="fe fe-moon" data-bs-toggle="tooltip" title="fe fe-moon"></i></li>
                                                        <li class="icons-list-item"><i class="fe fe-more-horizontal" data-bs-toggle="tooltip" title="fe fe-more-horizontal"></i></li>
                                                        <li class="icons-list-item"><i class="fe fe-more-vertical" data-bs-toggle="tooltip" title="fe fe-more-vertical"></i></li>
                                                        <li class="icons-list-item"><i class="fe fe-move" data-bs-toggle="tooltip" title="fe fe-move"></i></li>
                                                        <li class="icons-list-item"><i class="fe fe-music" data-bs-toggle="tooltip" title="fe fe-music"></i></li>
                                                        <li class="icons-list-item"><i class="fe fe-navigation" data-bs-toggle="tooltip" title="fe fe-navigation"></i></li>
                                                        <li class="icons-list-item"><i class="fe fe-navigation-2" data-bs-toggle="tooltip" title="fe fe-navigation-2"></i></li>
                                                        <li class="icons-list-item"><i class="fe fe-octagon" data-bs-toggle="tooltip" title="fe fe-octagon"></i></li>
                                                        <li class="icons-list-item"><i class="fe fe-package" data-bs-toggle="tooltip" title="fe fe-package"></i></li>
                                                        <li class="icons-list-item"><i class="fe fe-paperclip" data-bs-toggle="tooltip" title="fe fe-paperclip"></i></li>
                                                        <li class="icons-list-item"><i class="fe fe-pause" data-bs-toggle="tooltip" title="fe fe-pause"></i></li>
                                                        <li class="icons-list-item"><i class="fe fe-pause-circle" data-bs-toggle="tooltip" title="fe fe-pause-circle"></i></li>
                                                        <li class="icons-list-item"><i class="fe fe-percent" data-bs-toggle="tooltip" title="fe fe-percent"></i></li>
                                                        <li class="icons-list-item"><i class="fe fe-phone" data-bs-toggle="tooltip" title="fe fe-phone"></i></li>
                                                        <li class="icons-list-item"><i class="fe fe-phone-call" data-bs-toggle="tooltip" title="fe fe-phone-call"></i></li>
                                                        <li class="icons-list-item"><i class="fe fe-phone-forwarded" data-bs-toggle="tooltip" title="fe fe-phone-forwarded"></i></li>
                                                        <li class="icons-list-item"><i class="fe fe-phone-incoming" data-bs-toggle="tooltip" title="fe fe-phone-incoming"></i></li>
                                                        <li class="icons-list-item"><i class="fe fe-phone-missed" data-bs-toggle="tooltip" title="fe fe-phone-missed"></i></li>
                                                        <li class="icons-list-item"><i class="fe fe-phone-off" data-bs-toggle="tooltip" title="fe fe-phone-off"></i></li>
                                                        <li class="icons-list-item"><i class="fe fe-phone-outgoing" data-bs-toggle="tooltip" title="fe fe-phone-outgoing"></i></li>
                                                        <li class="icons-list-item"><i class="fe fe-pie-chart" data-bs-toggle="tooltip" title="fe fe-pie-chart"></i></li>
                                                        <li class="icons-list-item"><i class="fe fe-play" data-bs-toggle="tooltip" title="fe fe-play"></i></li>
                                                        <li class="icons-list-item"><i class="fe fe-play-circle" data-bs-toggle="tooltip" title="fe fe-play-circle"></i></li>
                                                        <li class="icons-list-item"><i class="fe fe-plus" data-bs-toggle="tooltip" title="fe fe-plus"></i></li>
                                                        <li class="icons-list-item"><i class="fe fe-plus-circle" data-bs-toggle="tooltip" title="fe fe-plus-circle"></i></li>
                                                        <li class="icons-list-item"><i class="fe fe-plus-square" data-bs-toggle="tooltip" title="fe fe-plus-square"></i></li>
                                                        <li class="icons-list-item"><i class="fe fe-pocket" data-bs-toggle="tooltip" title="fe fe-pocket"></i></li>
                                                        <li class="icons-list-item"><i class="fe fe-power" data-bs-toggle="tooltip" title="fe fe-power"></i></li>
                                                        <li class="icons-list-item"><i class="fe fe-printer" data-bs-toggle="tooltip" title="fe fe-printer"></i></li>
                                                        <li class="icons-list-item"><i class="fe fe-radio" data-bs-toggle="tooltip" title="fe fe-radio"></i></li>
                                                        <li class="icons-list-item"><i class="fe fe-refresh-ccw" data-bs-toggle="tooltip" title="fe fe-refresh-ccw"></i></li>
                                                        <li class="icons-list-item"><i class="fe fe-refresh-cw" data-bs-toggle="tooltip" title="fe fe-refresh-cw"></i></li>
                                                        <li class="icons-list-item"><i class="fe fe-repeat" data-bs-toggle="tooltip" title="fe fe-repeat"></i></li>
                                                        <li class="icons-list-item"><i class="fe fe-rewind" data-bs-toggle="tooltip" title="fe fe-rewind"></i></li>
                                                        <li class="icons-list-item"><i class="fe fe-rotate-ccw" data-bs-toggle="tooltip" title="fe fe-rotate-ccw"></i></li>
                                                        <li class="icons-list-item"><i class="fe fe-rotate-cw" data-bs-toggle="tooltip" title="fe fe-rotate-cw"></i></li>
                                                        <li class="icons-list-item"><i class="fe fe-rss" data-bs-toggle="tooltip" title="fe fe-rss"></i></li>
                                                        <li class="icons-list-item"><i class="fe fe-save" data-bs-toggle="tooltip" title="fe fe-save"></i></li>
                                                        <li class="icons-list-item"><i class="fe fe-scissors" data-bs-toggle="tooltip" title="fe fe-scissors"></i></li>
                                                        <li class="icons-list-item"><i class="fe fe-search" data-bs-toggle="tooltip" title="fe fe-search"></i></li>
                                                        <li class="icons-list-item"><i class="fe fe-send" data-bs-toggle="tooltip" title="fe fe-send"></i></li>
                                                        <li class="icons-list-item"><i class="fe fe-server" data-bs-toggle="tooltip" title="fe fe-server"></i></li>
                                                        <li class="icons-list-item"><i class="fe fe-settings" data-bs-toggle="tooltip" title="fe fe-settings"></i></li>
                                                        <li class="icons-list-item"><i class="fe fe-share" data-bs-toggle="tooltip" title="fe fe-share"></i></li>
                                                        <li class="icons-list-item"><i class="fe fe-share-2" data-bs-toggle="tooltip" title="fe fe-share-2"></i></li>
                                                        <li class="icons-list-item"><i class="fe fe-shield" data-bs-toggle="tooltip" title="fe fe-shield"></i></li>
                                                        <li class="icons-list-item"><i class="fe fe-shield-off" data-bs-toggle="tooltip" title="fe fe-shield-off"></i></li>
                                                        <li class="icons-list-item"><i class="fe fe-shopping-bag" data-bs-toggle="tooltip" title="fe fe-shopping-bag"></i></li>
                                                        <li class="icons-list-item"><i class="fe fe-shopping-cart" data-bs-toggle="tooltip" title="fe fe-shopping-cart"></i></li>
                                                        <li class="icons-list-item"><i class="fe fe-shuffle" data-bs-toggle="tooltip" title="fe fe-shuffle"></i></li>
                                                        <li class="icons-list-item"><i class="fe fe-sidebar" data-bs-toggle="tooltip" title="fe fe-sidebar"></i></li>
                                                        <li class="icons-list-item"><i class="fe fe-skip-back" data-bs-toggle="tooltip" title="fe fe-skip-back"></i></li>
                                                        <li class="icons-list-item"><i class="fe fe-skip-forward" data-bs-toggle="tooltip" title="fe fe-skip-forward"></i></li>
                                                        <li class="icons-list-item"><i class="fe fe-slack" data-bs-toggle="tooltip" title="fe fe-slack"></i></li>
                                                        <li class="icons-list-item"><i class="fe fe-slash" data-bs-toggle="tooltip" title="fe fe-slash"></i></li>
                                                        <li class="icons-list-item"><i class="fe fe-sliders" data-bs-toggle="tooltip" title="fe fe-sliders"></i></li>
                                                        <li class="icons-list-item"><i class="fe fe-smartphone" data-bs-toggle="tooltip" title="fe fe-smartphone"></i></li>
                                                        <li class="icons-list-item"><i class="fe fe-speaker" data-bs-toggle="tooltip" title="fe fe-speaker"></i></li>
                                                        <li class="icons-list-item"><i class="fe fe-square" data-bs-toggle="tooltip" title="fe fe-square"></i></li>
                                                        <li class="icons-list-item"><i class="fe fe-star" data-bs-toggle="tooltip" title="fe fe-star"></i></li>
                                                        <li class="icons-list-item"><i class="fe fe-stop-circle" data-bs-toggle="tooltip" title="fe fe-stop-circle"></i></li>
                                                        <li class="icons-list-item"><i class="fe fe-sun" data-bs-toggle="tooltip" title="fe fe-sun"></i></li>
                                                        <li class="icons-list-item"><i class="fe fe-sunrise" data-bs-toggle="tooltip" title="fe fe-sunrise"></i></li>
                                                        <li class="icons-list-item"><i class="fe fe-sunset" data-bs-toggle="tooltip" title="fe fe-sunset"></i></li>
                                                        <li class="icons-list-item"><i class="fe fe-tablet" data-bs-toggle="tooltip" title="fe fe-tablet"></i></li>
                                                        <li class="icons-list-item"><i class="fe fe-tag" data-bs-toggle="tooltip" title="fe fe-tag"></i></li>
                                                        <li class="icons-list-item"><i class="fe fe-target" data-bs-toggle="tooltip" title="fe fe-target"></i></li>
                                                        <li class="icons-list-item"><i class="fe fe-terminal" data-bs-toggle="tooltip" title="fe fe-terminal"></i></li>
                                                        <li class="icons-list-item"><i class="fe fe-thermometer" data-bs-toggle="tooltip" title="fe fe-thermometer"></i></li>
                                                        <li class="icons-list-item"><i class="fe fe-thumbs-down" data-bs-toggle="tooltip" title="fe fe-thumbs-down"></i></li>
                                                        <li class="icons-list-item"><i class="fe fe-thumbs-up" data-bs-toggle="tooltip" title="fe fe-thumbs-up"></i></li>
                                                        <li class="icons-list-item"><i class="fe fe-toggle-left" data-bs-toggle="tooltip" title="fe fe-toggle-left"></i></li>
                                                        <li class="icons-list-item"><i class="fe fe-toggle-right" data-bs-toggle="tooltip" title="fe fe-toggle-right"></i></li>
                                                        <li class="icons-list-item"><i class="fe fe-trash" data-bs-toggle="tooltip" title="fe fe-trash"></i></li>
                                                        <li class="icons-list-item"><i class="fe fe-trash-2" data-bs-toggle="tooltip" title="fe fe-trash-2"></i></li>
                                                        <li class="icons-list-item"><i class="fe fe-trending-down" data-bs-toggle="tooltip" title="fe fe-trending-down"></i></li>
                                                        <li class="icons-list-item"><i class="fe fe-trending-up" data-bs-toggle="tooltip" title="fe fe-trending-up"></i></li>
                                                        <li class="icons-list-item"><i class="fe fe-triangle" data-bs-toggle="tooltip" title="fe fe-triangle"></i></li>
                                                        <li class="icons-list-item"><i class="fe fe-truck" data-bs-toggle="tooltip" title="fe fe-truck"></i></li>
                                                        <li class="icons-list-item"><i class="fe fe-tv" data-bs-toggle="tooltip" title="fe fe-tv"></i></li>
                                                        <li class="icons-list-item"><i class="fe fe-twitter" data-bs-toggle="tooltip" title="fe fe-twitter"></i></li>
                                                        <li class="icons-list-item"><i class="fe fe-type" data-bs-toggle="tooltip" title="fe fe-type"></i></li>
                                                        <li class="icons-list-item"><i class="fe fe-umbrella" data-bs-toggle="tooltip" title="fe fe-umbrella"></i></li>
                                                        <li class="icons-list-item"><i class="fe fe-underline" data-bs-toggle="tooltip" title="fe fe-underline"></i></li>
                                                        <li class="icons-list-item"><i class="fe fe-unlock" data-bs-toggle="tooltip" title="fe fe-unlock"></i></li>
                                                        <li class="icons-list-item"><i class="fe fe-upload" data-bs-toggle="tooltip" title="fe fe-upload"></i></li>
                                                        <li class="icons-list-item"><i class="fe fe-upload-cloud" data-bs-toggle="tooltip" title="fe fe-upload-cloud"></i></li>
                                                        <li class="icons-list-item"><i class="fe fe-user" data-bs-toggle="tooltip" title="fe fe-user"></i></li>
                                                        <li class="icons-list-item"><i class="fe fe-user-check" data-bs-toggle="tooltip" title="fe fe-user-check"></i></li>
                                                        <li class="icons-list-item"><i class="fe fe-user-minus" data-bs-toggle="tooltip" title="fe fe-user-minus"></i></li>
                                                        <li class="icons-list-item"><i class="fe fe-user-plus" data-bs-toggle="tooltip" title="fe fe-user-plus"></i></li>
                                                        <li class="icons-list-item"><i class="fe fe-user-x" data-bs-toggle="tooltip" title="fe fe-user-x"></i></li>
                                                        <li class="icons-list-item"><i class="fe fe-users" data-bs-toggle="tooltip" title="fe fe-users"></i></li>
                                                        <li class="icons-list-item"><i class="fe fe-video" data-bs-toggle="tooltip" title="fe fe-video"></i></li>
                                                        <li class="icons-list-item"><i class="fe fe-video-off" data-bs-toggle="tooltip" title="fe fe-video-off"></i></li>
                                                        <li class="icons-list-item"><i class="fe fe-voicemail" data-bs-toggle="tooltip" title="fe fe-voicemail"></i></li>
                                                        <li class="icons-list-item"><i class="fe fe-volume" data-bs-toggle="tooltip" title="fe fe-volume"></i></li>
                                                        <li class="icons-list-item"><i class="fe fe-volume-1" data-bs-toggle="tooltip" title="fe fe-volume-1"></i></li>
                                                        <li class="icons-list-item"><i class="fe fe-volume-2" data-bs-toggle="tooltip" title="fe fe-volume-2"></i></li>
                                                        <li class="icons-list-item"><i class="fe fe-volume-x" data-bs-toggle="tooltip" title="fe fe-volume-x"></i></li>
                                                        <li class="icons-list-item"><i class="fe fe-watch" data-bs-toggle="tooltip" title="fe fe-watch"></i></li>
                                                        <li class="icons-list-item"><i class="fe fe-wifi" data-bs-toggle="tooltip" title="fe fe-wifi"></i></li>
                                                        <li class="icons-list-item"><i class="fe fe-wifi-off" data-bs-toggle="tooltip" title="fe fe-wifi-off"></i></li>
                                                        <li class="icons-list-item"><i class="fe fe-wind" data-bs-toggle="tooltip" title="fe fe-wind"></i></li>
                                                        <li class="icons-list-item"><i class="fe fe-x" data-bs-toggle="tooltip" title="fe fe-x"></i></li>
                                                        <li class="icons-list-item"><i class="fe fe-x-circle" data-bs-toggle="tooltip" title="fe fe-x-circle"></i></li>
                                                        <li class="icons-list-item"><i class="fe fe-x-square" data-bs-toggle="tooltip" title="fe fe-x-square"></i></li>
                                                        <li class="icons-list-item"><i class="fe fe-zap" data-bs-toggle="tooltip" title="fe fe-zap"></i></li>
                                                        <li class="icons-list-item"><i class="fe fe-zap-off" data-bs-toggle="tooltip" title="fe fe-zap-off"></i></li>
                                                        <li class="icons-list-item"><i class="fe fe-zoom-in" data-bs-toggle="tooltip" title="fe fe-zoom-in"></i></li>
                                                        <li class="icons-list-item"><i class="fe fe-zoom-out" data-bs-toggle="tooltip" title="fe fe-zoom-out"></i></li>
                                                        <li></li>
                                                        <li></li>
                                                        <li></li>
                                                        <li></li>
                                                        <li></li>
                                                        <li></li>
                                                        <li></li>
                                                        <li></li>
                                                        <li></li>
                                                        <li></li>
                                                        <li></li>
                                                        <li></li>
                                                        <li></li>
                                                        <li></li>
                                                        <li></li>
                                                        <li></li>
                                                        <li></li>
                                                        <li></li>
                                                        <li></li>
                                                        <li></li>
                                                        <li></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- ROW CLOSED -->

{% endblock %}

{% block javascripts %}
   {{parent()}} 

   
		
{% endblock %}