{% extends 'base.html.twig' %}

{% block body %}

                        <!-- PAGE-HEADER -->
                        <div class="page-header">
                            <h1 class="page-title">Flags</h1>
                            <div>
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="javascript:void(0)">Icons</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">Flags</li>
                                </ol>
                            </div>
                        </div>
                        <!-- PAGE-HEADER END -->

                        <!-- ROW OPEN -->
                        <div class="row row-cards">
                            <div class="col">
                                <div class="card">
                                    <div class="card-header">
                                        <div class="card-title">Flags</div>
                                    </div>
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-lg-12 col-sm-12">
                                                <p> For more info <a href="javascript:void(0)" target="_blank">click here</a>.</p>
                                                <p><code>&lt;i class="flag flag-ICON_NAME"&gt;&lt;/i&gt;</code></p>
                                            </div>
                                            <div class="col-lg-12 col-sm-12">
                                                <div class="icons-list-wrap">
                                                    <ul class="icons-list">
                                                        <li class="icons-list-item"><i class="flag flag-ad" data-bs-toggle="tooltip" title="flag flag-ad"></i></li>
                                                        <li class="icons-list-item"><i class="flag flag-ae" data-bs-toggle="tooltip" title="flag flag-ae"></i></li>
                                                        <li class="icons-list-item"><i class="flag flag-af" data-bs-toggle="tooltip" title="flag flag-af"></i></li>
                                                        <li class="icons-list-item"><i class="flag flag-ag" data-bs-toggle="tooltip" title="flag flag-ag"></i></li>
                                                        <li class="icons-list-item"><i class="flag flag-ai" data-bs-toggle="tooltip" title="flag flag-ai"></i></li>
                                                        <li class="icons-list-item"><i class="flag flag-al" data-bs-toggle="tooltip" title="flag flag-al"></i></li>
                                                        <li class="icons-list-item"><i class="flag flag-am" data-bs-toggle="tooltip" title="flag flag-am"></i></li>
                                                        <li class="icons-list-item"><i class="flag flag-ao" data-bs-toggle="tooltip" title="flag flag-ao"></i></li>
                                                        <li class="icons-list-item"><i class="flag flag-aq" data-bs-toggle="tooltip" title="flag flag-aq"></i></li>
                                                        <li class="icons-list-item"><i class="flag flag-ar" data-bs-toggle="tooltip" title="flag flag-ar"></i></li>
                                                        <li class="icons-list-item"><i class="flag flag-as" data-bs-toggle="tooltip" title="flag flag-as"></i></li>
                                                        <li class="icons-list-item"><i class="flag flag-at" data-bs-toggle="tooltip" title="flag flag-at"></i></li>
                                                        <li class="icons-list-item"><i class="flag flag-au" data-bs-toggle="tooltip" title="flag flag-au"></i></li>
                                                        <li class="icons-list-item"><i class="flag flag-aw" data-bs-toggle="tooltip" title="flag flag-aw"></i></li>
                                                        <li class="icons-list-item"><i class="flag flag-ax" data-bs-toggle="tooltip" title="flag flag-ax"></i></li>
                                                        <li class="icons-list-item"><i class="flag flag-az" data-bs-toggle="tooltip" title="flag flag-az"></i></li>
                                                        <li class="icons-list-item"><i class="flag flag-ba" data-bs-toggle="tooltip" title="flag flag-ba"></i></li>
                                                        <li class="icons-list-item"><i class="flag flag-bb" data-bs-toggle="tooltip" title="flag flag-bb"></i></li>
                                                        <li class="icons-list-item"><i class="flag flag-bd" data-bs-toggle="tooltip" title="flag flag-bd"></i></li>
                                                        <li class="icons-list-item"><i class="flag flag-be" data-bs-toggle="tooltip" title="flag flag-be"></i></li>
                                                        <li class="icons-list-item"><i class="flag flag-bf" data-bs-toggle="tooltip" title="flag flag-bf"></i></li>
                                                        <li class="icons-list-item"><i class="flag flag-bg" data-bs-toggle="tooltip" title="flag flag-bg"></i></li>
                                                        <li class="icons-list-item"><i class="flag flag-bh" data-bs-toggle="tooltip" title="flag flag-bh"></i></li>
                                                        <li class="icons-list-item"><i class="flag flag-bi" data-bs-toggle="tooltip" title="flag flag-bi"></i></li>
                                                        <li class="icons-list-item"><i class="flag flag-bj" data-bs-toggle="tooltip" title="flag flag-bj"></i></li>
                                                        <li class="icons-list-item"><i class="flag flag-bl" data-bs-toggle="tooltip" title="flag flag-bl"></i></li>
                                                        <li class="icons-list-item"><i class="flag flag-bm" data-bs-toggle="tooltip" title="flag flag-bm"></i></li>
                                                        <li class="icons-list-item"><i class="flag flag-bn" data-bs-toggle="tooltip" title="flag flag-bn"></i></li>
                                                        <li class="icons-list-item"><i class="flag flag-bo" data-bs-toggle="tooltip" title="flag flag-bo"></i></li>
                                                        <li class="icons-list-item"><i class="flag flag-bq" data-bs-toggle="tooltip" title="flag flag-bq"></i></li>
                                                        <li class="icons-list-item"><i class="flag flag-br" data-bs-toggle="tooltip" title="flag flag-br"></i></li>
                                                        <li class="icons-list-item"><i class="flag flag-bs" data-bs-toggle="tooltip" title="flag flag-bs"></i></li>
                                                        <li class="icons-list-item"><i class="flag flag-bt" data-bs-toggle="tooltip" title="flag flag-bt"></i></li>
                                                        <li class="icons-list-item"><i class="flag flag-bv" data-bs-toggle="tooltip" title="flag flag-bv"></i></li>
                                                        <li class="icons-list-item"><i class="flag flag-bw" data-bs-toggle="tooltip" title="flag flag-bw"></i></li>
                                                        <li class="icons-list-item"><i class="flag flag-by" data-bs-toggle="tooltip" title="flag flag-by"></i></li>
                                                        <li class="icons-list-item"><i class="flag flag-bz" data-bs-toggle="tooltip" title="flag flag-bz"></i></li>
                                                        <li class="icons-list-item"><i class="flag flag-ca" data-bs-toggle="tooltip" title="flag flag-ca"></i></li>
                                                        <li class="icons-list-item"><i class="flag flag-cc" data-bs-toggle="tooltip" title="flag flag-cc"></i></li>
                                                        <li class="icons-list-item"><i class="flag flag-cd" data-bs-toggle="tooltip" title="flag flag-cd"></i></li>
                                                        <li class="icons-list-item"><i class="flag flag-cf" data-bs-toggle="tooltip" title="flag flag-cf"></i></li>
                                                        <li class="icons-list-item"><i class="flag flag-cg" data-bs-toggle="tooltip" title="flag flag-cg"></i></li>
                                                        <li class="icons-list-item"><i class="flag flag-ch" data-bs-toggle="tooltip" title="flag flag-ch"></i></li>
                                                        <li class="icons-list-item"><i class="flag flag-ci" data-bs-toggle="tooltip" title="flag flag-ci"></i></li>
                                                        <li class="icons-list-item"><i class="flag flag-ck" data-bs-toggle="tooltip" title="flag flag-ck"></i></li>
                                                        <li class="icons-list-item"><i class="flag flag-cl" data-bs-toggle="tooltip" title="flag flag-cl"></i></li>
                                                        <li class="icons-list-item"><i class="flag flag-cm" data-bs-toggle="tooltip" title="flag flag-cm"></i></li>
                                                        <li class="icons-list-item"><i class="flag flag-cn" data-bs-toggle="tooltip" title="flag flag-cn"></i></li>
                                                        <li class="icons-list-item"><i class="flag flag-co" data-bs-toggle="tooltip" title="flag flag-co"></i></li>
                                                        <li class="icons-list-item"><i class="flag flag-cr" data-bs-toggle="tooltip" title="flag flag-cr"></i></li>
                                                        <li class="icons-list-item"><i class="flag flag-cu" data-bs-toggle="tooltip" title="flag flag-cu"></i></li>
                                                        <li class="icons-list-item"><i class="flag flag-cv" data-bs-toggle="tooltip" title="flag flag-cv"></i></li>
                                                        <li class="icons-list-item"><i class="flag flag-cw" data-bs-toggle="tooltip" title="flag flag-cw"></i></li>
                                                        <li class="icons-list-item"><i class="flag flag-cx" data-bs-toggle="tooltip" title="flag flag-cx"></i></li>
                                                        <li class="icons-list-item"><i class="flag flag-cy" data-bs-toggle="tooltip" title="flag flag-cy"></i></li>
                                                        <li class="icons-list-item"><i class="flag flag-cz" data-bs-toggle="tooltip" title="flag flag-cz"></i></li>
                                                        <li class="icons-list-item"><i class="flag flag-de" data-bs-toggle="tooltip" title="flag flag-de"></i></li>
                                                        <li class="icons-list-item"><i class="flag flag-dj" data-bs-toggle="tooltip" title="flag flag-dj"></i></li>
                                                        <li class="icons-list-item"><i class="flag flag-dk" data-bs-toggle="tooltip" title="flag flag-dk"></i></li>
                                                        <li class="icons-list-item"><i class="flag flag-dm" data-bs-toggle="tooltip" title="flag flag-dm"></i></li>
                                                        <li class="icons-list-item"><i class="flag flag-do" data-bs-toggle="tooltip" title="flag flag-do"></i></li>
                                                        <li class="icons-list-item"><i class="flag flag-dz" data-bs-toggle="tooltip" title="flag flag-dz"></i></li>
                                                        <li class="icons-list-item"><i class="flag flag-ec" data-bs-toggle="tooltip" title="flag flag-ec"></i></li>
                                                        <li class="icons-list-item"><i class="flag flag-ee" data-bs-toggle="tooltip" title="flag flag-ee"></i></li>
                                                        <li class="icons-list-item"><i class="flag flag-eg" data-bs-toggle="tooltip" title="flag flag-eg"></i></li>
                                                        <li class="icons-list-item"><i class="flag flag-eh" data-bs-toggle="tooltip" title="flag flag-eh"></i></li>
                                                        <li class="icons-list-item"><i class="flag flag-er" data-bs-toggle="tooltip" title="flag flag-er"></i></li>
                                                        <li class="icons-list-item"><i class="flag flag-es" data-bs-toggle="tooltip" title="flag flag-es"></i></li>
                                                        <li class="icons-list-item"><i class="flag flag-et" data-bs-toggle="tooltip" title="flag flag-et"></i></li>
                                                        <li class="icons-list-item"><i class="flag flag-eu" data-bs-toggle="tooltip" title="flag flag-eu"></i></li>
                                                        <li class="icons-list-item"><i class="flag flag-fi" data-bs-toggle="tooltip" title="flag flag-fi"></i></li>
                                                        <li class="icons-list-item"><i class="flag flag-fj" data-bs-toggle="tooltip" title="flag flag-fj"></i></li>
                                                        <li class="icons-list-item"><i class="flag flag-fk" data-bs-toggle="tooltip" title="flag flag-fk"></i></li>
                                                        <li class="icons-list-item"><i class="flag flag-fm" data-bs-toggle="tooltip" title="flag flag-fm"></i></li>
                                                        <li class="icons-list-item"><i class="flag flag-fo" data-bs-toggle="tooltip" title="flag flag-fo"></i></li>
                                                        <li class="icons-list-item"><i class="flag flag-fr" data-bs-toggle="tooltip" title="flag flag-fr"></i></li>
                                                        <li class="icons-list-item"><i class="flag flag-ga" data-bs-toggle="tooltip" title="flag flag-ga"></i></li>
                                                        <li class="icons-list-item"><i class="flag flag-gb" data-bs-toggle="tooltip" title="flag flag-gb"></i></li>
                                                        <li class="icons-list-item"><i class="flag flag-gb-eng" data-bs-toggle="tooltip" title="flag flag-gb-eng"></i></li>
                                                        <li class="icons-list-item"><i class="flag flag-gb-nir" data-bs-toggle="tooltip" title="flag flag-gb-nir"></i></li>
                                                        <li class="icons-list-item"><i class="flag flag-gb-sct" data-bs-toggle="tooltip" title="flag flag-gb-sct"></i></li>
                                                        <li class="icons-list-item"><i class="flag flag-gb-wls" data-bs-toggle="tooltip" title="flag flag-gb-wls"></i></li>
                                                        <li class="icons-list-item"><i class="flag flag-gd" data-bs-toggle="tooltip" title="flag flag-gd"></i></li>
                                                        <li class="icons-list-item"><i class="flag flag-ge" data-bs-toggle="tooltip" title="flag flag-ge"></i></li>
                                                        <li class="icons-list-item"><i class="flag flag-gf" data-bs-toggle="tooltip" title="flag flag-gf"></i></li>
                                                        <li class="icons-list-item"><i class="flag flag-gg" data-bs-toggle="tooltip" title="flag flag-gg"></i></li>
                                                        <li class="icons-list-item"><i class="flag flag-gh" data-bs-toggle="tooltip" title="flag flag-gh"></i></li>
                                                        <li class="icons-list-item"><i class="flag flag-gi" data-bs-toggle="tooltip" title="flag flag-gi"></i></li>
                                                        <li class="icons-list-item"><i class="flag flag-gl" data-bs-toggle="tooltip" title="flag flag-gl"></i></li>
                                                        <li class="icons-list-item"><i class="flag flag-gm" data-bs-toggle="tooltip" title="flag flag-gm"></i></li>
                                                        <li class="icons-list-item"><i class="flag flag-gn" data-bs-toggle="tooltip" title="flag flag-gn"></i></li>
                                                        <li class="icons-list-item"><i class="flag flag-gp" data-bs-toggle="tooltip" title="flag flag-gp"></i></li>
                                                        <li class="icons-list-item"><i class="flag flag-gq" data-bs-toggle="tooltip" title="flag flag-gq"></i></li>
                                                        <li class="icons-list-item"><i class="flag flag-gr" data-bs-toggle="tooltip" title="flag flag-gr"></i></li>
                                                        <li class="icons-list-item"><i class="flag flag-gs" data-bs-toggle="tooltip" title="flag flag-gs"></i></li>
                                                        <li class="icons-list-item"><i class="flag flag-gt" data-bs-toggle="tooltip" title="flag flag-gt"></i></li>
                                                        <li class="icons-list-item"><i class="flag flag-gu" data-bs-toggle="tooltip" title="flag flag-gu"></i></li>
                                                        <li class="icons-list-item"><i class="flag flag-gw" data-bs-toggle="tooltip" title="flag flag-gw"></i></li>
                                                        <li class="icons-list-item"><i class="flag flag-gy" data-bs-toggle="tooltip" title="flag flag-gy"></i></li>
                                                        <li class="icons-list-item"><i class="flag flag-hk" data-bs-toggle="tooltip" title="flag flag-hk"></i></li>
                                                        <li class="icons-list-item"><i class="flag flag-hm" data-bs-toggle="tooltip" title="flag flag-hm"></i></li>
                                                        <li class="icons-list-item"><i class="flag flag-hn" data-bs-toggle="tooltip" title="flag flag-hn"></i></li>
                                                        <li class="icons-list-item"><i class="flag flag-hr" data-bs-toggle="tooltip" title="flag flag-hr"></i></li>
                                                        <li class="icons-list-item"><i class="flag flag-ht" data-bs-toggle="tooltip" title="flag flag-ht"></i></li>
                                                        <li class="icons-list-item"><i class="flag flag-hu" data-bs-toggle="tooltip" title="flag flag-hu"></i></li>
                                                        <li class="icons-list-item"><i class="flag flag-id" data-bs-toggle="tooltip" title="flag flag-id"></i></li>
                                                        <li class="icons-list-item"><i class="flag flag-ie" data-bs-toggle="tooltip" title="flag flag-ie"></i></li>
                                                        <li class="icons-list-item"><i class="flag flag-il" data-bs-toggle="tooltip" title="flag flag-il"></i></li>
                                                        <li class="icons-list-item"><i class="flag flag-im" data-bs-toggle="tooltip" title="flag flag-im"></i></li>
                                                        <li class="icons-list-item"><i class="flag flag-in" data-bs-toggle="tooltip" title="flag flag-in"></i></li>
                                                        <li class="icons-list-item"><i class="flag flag-io" data-bs-toggle="tooltip" title="flag flag-io"></i></li>
                                                        <li class="icons-list-item"><i class="flag flag-iq" data-bs-toggle="tooltip" title="flag flag-iq"></i></li>
                                                        <li class="icons-list-item"><i class="flag flag-ir" data-bs-toggle="tooltip" title="flag flag-ir"></i></li>
                                                        <li class="icons-list-item"><i class="flag flag-is" data-bs-toggle="tooltip" title="flag flag-is"></i></li>
                                                        <li class="icons-list-item"><i class="flag flag-it" data-bs-toggle="tooltip" title="flag flag-it"></i></li>
                                                        <li class="icons-list-item"><i class="flag flag-je" data-bs-toggle="tooltip" title="flag flag-je"></i></li>
                                                        <li class="icons-list-item"><i class="flag flag-jm" data-bs-toggle="tooltip" title="flag flag-jm"></i></li>
                                                        <li class="icons-list-item"><i class="flag flag-jo" data-bs-toggle="tooltip" title="flag flag-jo"></i></li>
                                                        <li class="icons-list-item"><i class="flag flag-jp" data-bs-toggle="tooltip" title="flag flag-jp"></i></li>
                                                        <li class="icons-list-item"><i class="flag flag-ke" data-bs-toggle="tooltip" title="flag flag-ke"></i></li>
                                                        <li class="icons-list-item"><i class="flag flag-kg" data-bs-toggle="tooltip" title="flag flag-kg"></i></li>
                                                        <li class="icons-list-item"><i class="flag flag-kh" data-bs-toggle="tooltip" title="flag flag-kh"></i></li>
                                                        <li class="icons-list-item"><i class="flag flag-ki" data-bs-toggle="tooltip" title="flag flag-ki"></i></li>
                                                        <li class="icons-list-item"><i class="flag flag-km" data-bs-toggle="tooltip" title="flag flag-km"></i></li>
                                                        <li class="icons-list-item"><i class="flag flag-kn" data-bs-toggle="tooltip" title="flag flag-kn"></i></li>
                                                        <li class="icons-list-item"><i class="flag flag-kp" data-bs-toggle="tooltip" title="flag flag-kp"></i></li>
                                                        <li class="icons-list-item"><i class="flag flag-kr" data-bs-toggle="tooltip" title="flag flag-kr"></i></li>
                                                        <li class="icons-list-item"><i class="flag flag-kw" data-bs-toggle="tooltip" title="flag flag-kw"></i></li>
                                                        <li class="icons-list-item"><i class="flag flag-ky" data-bs-toggle="tooltip" title="flag flag-ky"></i></li>
                                                        <li class="icons-list-item"><i class="flag flag-kz" data-bs-toggle="tooltip" title="flag flag-kz"></i></li>
                                                        <li class="icons-list-item"><i class="flag flag-la" data-bs-toggle="tooltip" title="flag flag-la"></i></li>
                                                        <li class="icons-list-item"><i class="flag flag-lb" data-bs-toggle="tooltip" title="flag flag-lb"></i></li>
                                                        <li class="icons-list-item"><i class="flag flag-lc" data-bs-toggle="tooltip" title="flag flag-lc"></i></li>
                                                        <li class="icons-list-item"><i class="flag flag-li" data-bs-toggle="tooltip" title="flag flag-li"></i></li>
                                                        <li class="icons-list-item"><i class="flag flag-lk" data-bs-toggle="tooltip" title="flag flag-lk"></i></li>
                                                        <li class="icons-list-item"><i class="flag flag-lr" data-bs-toggle="tooltip" title="flag flag-lr"></i></li>
                                                        <li class="icons-list-item"><i class="flag flag-ls" data-bs-toggle="tooltip" title="flag flag-ls"></i></li>
                                                        <li class="icons-list-item"><i class="flag flag-lt" data-bs-toggle="tooltip" title="flag flag-lt"></i></li>
                                                        <li class="icons-list-item"><i class="flag flag-lu" data-bs-toggle="tooltip" title="flag flag-lu"></i></li>
                                                        <li class="icons-list-item"><i class="flag flag-lv" data-bs-toggle="tooltip" title="flag flag-lv"></i></li>
                                                        <li class="icons-list-item"><i class="flag flag-ly" data-bs-toggle="tooltip" title="flag flag-ly"></i></li>
                                                        <li class="icons-list-item"><i class="flag flag-ma" data-bs-toggle="tooltip" title="flag flag-ma"></i></li>
                                                        <li class="icons-list-item"><i class="flag flag-mc" data-bs-toggle="tooltip" title="flag flag-mc"></i></li>
                                                        <li class="icons-list-item"><i class="flag flag-md" data-bs-toggle="tooltip" title="flag flag-md"></i></li>
                                                        <li class="icons-list-item"><i class="flag flag-me" data-bs-toggle="tooltip" title="flag flag-me"></i></li>
                                                        <li class="icons-list-item"><i class="flag flag-mf" data-bs-toggle="tooltip" title="flag flag-mf"></i></li>
                                                        <li class="icons-list-item"><i class="flag flag-mg" data-bs-toggle="tooltip" title="flag flag-mg"></i></li>
                                                        <li class="icons-list-item"><i class="flag flag-mh" data-bs-toggle="tooltip" title="flag flag-mh"></i></li>
                                                        <li class="icons-list-item"><i class="flag flag-mk" data-bs-toggle="tooltip" title="flag flag-mk"></i></li>
                                                        <li class="icons-list-item"><i class="flag flag-ml" data-bs-toggle="tooltip" title="flag flag-ml"></i></li>
                                                        <li class="icons-list-item"><i class="flag flag-mm" data-bs-toggle="tooltip" title="flag flag-mm"></i></li>
                                                        <li class="icons-list-item"><i class="flag flag-mn" data-bs-toggle="tooltip" title="flag flag-mn"></i></li>
                                                        <li class="icons-list-item"><i class="flag flag-mo" data-bs-toggle="tooltip" title="flag flag-mo"></i></li>
                                                        <li class="icons-list-item"><i class="flag flag-mp" data-bs-toggle="tooltip" title="flag flag-mp"></i></li>
                                                        <li class="icons-list-item"><i class="flag flag-mq" data-bs-toggle="tooltip" title="flag flag-mq"></i></li>
                                                        <li class="icons-list-item"><i class="flag flag-mr" data-bs-toggle="tooltip" title="flag flag-mr"></i></li>
                                                        <li class="icons-list-item"><i class="flag flag-ms" data-bs-toggle="tooltip" title="flag flag-ms"></i></li>
                                                        <li class="icons-list-item"><i class="flag flag-mt" data-bs-toggle="tooltip" title="flag flag-mt"></i></li>
                                                        <li class="icons-list-item"><i class="flag flag-mu" data-bs-toggle="tooltip" title="flag flag-mu"></i></li>
                                                        <li class="icons-list-item"><i class="flag flag-mv" data-bs-toggle="tooltip" title="flag flag-mv"></i></li>
                                                        <li class="icons-list-item"><i class="flag flag-mw" data-bs-toggle="tooltip" title="flag flag-mw"></i></li>
                                                        <li class="icons-list-item"><i class="flag flag-mx" data-bs-toggle="tooltip" title="flag flag-mx"></i></li>
                                                        <li class="icons-list-item"><i class="flag flag-my" data-bs-toggle="tooltip" title="flag flag-my"></i></li>
                                                        <li class="icons-list-item"><i class="flag flag-mz" data-bs-toggle="tooltip" title="flag flag-mz"></i></li>
                                                        <li class="icons-list-item"><i class="flag flag-na" data-bs-toggle="tooltip" title="flag flag-na"></i></li>
                                                        <li class="icons-list-item"><i class="flag flag-nc" data-bs-toggle="tooltip" title="flag flag-nc"></i></li>
                                                        <li class="icons-list-item"><i class="flag flag-ne" data-bs-toggle="tooltip" title="flag flag-ne"></i></li>
                                                        <li class="icons-list-item"><i class="flag flag-nf" data-bs-toggle="tooltip" title="flag flag-nf"></i></li>
                                                        <li class="icons-list-item"><i class="flag flag-ng" data-bs-toggle="tooltip" title="flag flag-ng"></i></li>
                                                        <li class="icons-list-item"><i class="flag flag-ni" data-bs-toggle="tooltip" title="flag flag-ni"></i></li>
                                                        <li class="icons-list-item"><i class="flag flag-nl" data-bs-toggle="tooltip" title="flag flag-nl"></i></li>
                                                        <li class="icons-list-item"><i class="flag flag-no" data-bs-toggle="tooltip" title="flag flag-no"></i></li>
                                                        <li class="icons-list-item"><i class="flag flag-np" data-bs-toggle="tooltip" title="flag flag-np"></i></li>
                                                        <li class="icons-list-item"><i class="flag flag-nr" data-bs-toggle="tooltip" title="flag flag-nr"></i></li>
                                                        <li class="icons-list-item"><i class="flag flag-nu" data-bs-toggle="tooltip" title="flag flag-nu"></i></li>
                                                        <li class="icons-list-item"><i class="flag flag-nz" data-bs-toggle="tooltip" title="flag flag-nz"></i></li>
                                                        <li class="icons-list-item"><i class="flag flag-om" data-bs-toggle="tooltip" title="flag flag-om"></i></li>
                                                        <li class="icons-list-item"><i class="flag flag-pa" data-bs-toggle="tooltip" title="flag flag-pa"></i></li>
                                                        <li class="icons-list-item"><i class="flag flag-pe" data-bs-toggle="tooltip" title="flag flag-pe"></i></li>
                                                        <li class="icons-list-item"><i class="flag flag-pf" data-bs-toggle="tooltip" title="flag flag-pf"></i></li>
                                                        <li class="icons-list-item"><i class="flag flag-pg" data-bs-toggle="tooltip" title="flag flag-pg"></i></li>
                                                        <li class="icons-list-item"><i class="flag flag-ph" data-bs-toggle="tooltip" title="flag flag-ph"></i></li>
                                                        <li class="icons-list-item"><i class="flag flag-pk" data-bs-toggle="tooltip" title="flag flag-pk"></i></li>
                                                        <li class="icons-list-item"><i class="flag flag-pl" data-bs-toggle="tooltip" title="flag flag-pl"></i></li>
                                                        <li class="icons-list-item"><i class="flag flag-pm" data-bs-toggle="tooltip" title="flag flag-pm"></i></li>
                                                        <li class="icons-list-item"><i class="flag flag-pn" data-bs-toggle="tooltip" title="flag flag-pn"></i></li>
                                                        <li class="icons-list-item"><i class="flag flag-pr" data-bs-toggle="tooltip" title="flag flag-pr"></i></li>
                                                        <li class="icons-list-item"><i class="flag flag-ps" data-bs-toggle="tooltip" title="flag flag-ps"></i></li>
                                                        <li class="icons-list-item"><i class="flag flag-pt" data-bs-toggle="tooltip" title="flag flag-pt"></i></li>
                                                        <li class="icons-list-item"><i class="flag flag-pw" data-bs-toggle="tooltip" title="flag flag-pw"></i></li>
                                                        <li class="icons-list-item"><i class="flag flag-py" data-bs-toggle="tooltip" title="flag flag-py"></i></li>
                                                        <li class="icons-list-item"><i class="flag flag-qa" data-bs-toggle="tooltip" title="flag flag-qa"></i></li>
                                                        <li class="icons-list-item"><i class="flag flag-re" data-bs-toggle="tooltip" title="flag flag-re"></i></li>
                                                        <li class="icons-list-item"><i class="flag flag-ro" data-bs-toggle="tooltip" title="flag flag-ro"></i></li>
                                                        <li class="icons-list-item"><i class="flag flag-rs" data-bs-toggle="tooltip" title="flag flag-rs"></i></li>
                                                        <li class="icons-list-item"><i class="flag flag-ru" data-bs-toggle="tooltip" title="flag flag-ru"></i></li>
                                                        <li class="icons-list-item"><i class="flag flag-rw" data-bs-toggle="tooltip" title="flag flag-rw"></i></li>
                                                        <li class="icons-list-item"><i class="flag flag-sa" data-bs-toggle="tooltip" title="flag flag-sa"></i></li>
                                                        <li class="icons-list-item"><i class="flag flag-sb" data-bs-toggle="tooltip" title="flag flag-sb"></i></li>
                                                        <li class="icons-list-item"><i class="flag flag-sc" data-bs-toggle="tooltip" title="flag flag-sc"></i></li>
                                                        <li class="icons-list-item"><i class="flag flag-sd" data-bs-toggle="tooltip" title="flag flag-sd"></i></li>
                                                        <li class="icons-list-item"><i class="flag flag-se" data-bs-toggle="tooltip" title="flag flag-se"></i></li>
                                                        <li class="icons-list-item"><i class="flag flag-sg" data-bs-toggle="tooltip" title="flag flag-sg"></i></li>
                                                        <li class="icons-list-item"><i class="flag flag-sh" data-bs-toggle="tooltip" title="flag flag-sh"></i></li>
                                                        <li class="icons-list-item"><i class="flag flag-si" data-bs-toggle="tooltip" title="flag flag-si"></i></li>
                                                        <li class="icons-list-item"><i class="flag flag-sj" data-bs-toggle="tooltip" title="flag flag-sj"></i></li>
                                                        <li class="icons-list-item"><i class="flag flag-sk" data-bs-toggle="tooltip" title="flag flag-sk"></i></li>
                                                        <li class="icons-list-item"><i class="flag flag-sl" data-bs-toggle="tooltip" title="flag flag-sl"></i></li>
                                                        <li class="icons-list-item"><i class="flag flag-sm" data-bs-toggle="tooltip" title="flag flag-sm"></i></li>
                                                        <li class="icons-list-item"><i class="flag flag-sn" data-bs-toggle="tooltip" title="flag flag-sn"></i></li>
                                                        <li class="icons-list-item"><i class="flag flag-so" data-bs-toggle="tooltip" title="flag flag-so"></i></li>
                                                        <li class="icons-list-item"><i class="flag flag-sr" data-bs-toggle="tooltip" title="flag flag-sr"></i></li>
                                                        <li class="icons-list-item"><i class="flag flag-ss" data-bs-toggle="tooltip" title="flag flag-ss"></i></li>
                                                        <li class="icons-list-item"><i class="flag flag-st" data-bs-toggle="tooltip" title="flag flag-st"></i></li>
                                                        <li class="icons-list-item"><i class="flag flag-sv" data-bs-toggle="tooltip" title="flag flag-sv"></i></li>
                                                        <li class="icons-list-item"><i class="flag flag-sx" data-bs-toggle="tooltip" title="flag flag-sx"></i></li>
                                                        <li class="icons-list-item"><i class="flag flag-sy" data-bs-toggle="tooltip" title="flag flag-sy"></i></li>
                                                        <li class="icons-list-item"><i class="flag flag-sz" data-bs-toggle="tooltip" title="flag flag-sz"></i></li>
                                                        <li class="icons-list-item"><i class="flag flag-tc" data-bs-toggle="tooltip" title="flag flag-tc"></i></li>
                                                        <li class="icons-list-item"><i class="flag flag-td" data-bs-toggle="tooltip" title="flag flag-td"></i></li>
                                                        <li class="icons-list-item"><i class="flag flag-tf" data-bs-toggle="tooltip" title="flag flag-tf"></i></li>
                                                        <li class="icons-list-item"><i class="flag flag-tg" data-bs-toggle="tooltip" title="flag flag-tg"></i></li>
                                                        <li class="icons-list-item"><i class="flag flag-th" data-bs-toggle="tooltip" title="flag flag-th"></i></li>
                                                        <li class="icons-list-item"><i class="flag flag-tj" data-bs-toggle="tooltip" title="flag flag-tj"></i></li>
                                                        <li class="icons-list-item"><i class="flag flag-tk" data-bs-toggle="tooltip" title="flag flag-tk"></i></li>
                                                        <li class="icons-list-item"><i class="flag flag-tl" data-bs-toggle="tooltip" title="flag flag-tl"></i></li>
                                                        <li class="icons-list-item"><i class="flag flag-tm" data-bs-toggle="tooltip" title="flag flag-tm"></i></li>
                                                        <li class="icons-list-item"><i class="flag flag-tn" data-bs-toggle="tooltip" title="flag flag-tn"></i></li>
                                                        <li class="icons-list-item"><i class="flag flag-to" data-bs-toggle="tooltip" title="flag flag-to"></i></li>
                                                        <li class="icons-list-item"><i class="flag flag-tr" data-bs-toggle="tooltip" title="flag flag-tr"></i></li>
                                                        <li class="icons-list-item"><i class="flag flag-tt" data-bs-toggle="tooltip" title="flag flag-tt"></i></li>
                                                        <li class="icons-list-item"><i class="flag flag-tv" data-bs-toggle="tooltip" title="flag flag-tv"></i></li>
                                                        <li class="icons-list-item"><i class="flag flag-tw" data-bs-toggle="tooltip" title="flag flag-tw"></i></li>
                                                        <li class="icons-list-item"><i class="flag flag-tz" data-bs-toggle="tooltip" title="flag flag-tz"></i></li>
                                                        <li class="icons-list-item"><i class="flag flag-ua" data-bs-toggle="tooltip" title="flag flag-ua"></i></li>
                                                        <li class="icons-list-item"><i class="flag flag-ug" data-bs-toggle="tooltip" title="flag flag-ug"></i></li>
                                                        <li class="icons-list-item"><i class="flag flag-um" data-bs-toggle="tooltip" title="flag flag-um"></i></li>
                                                        <li class="icons-list-item"><i class="flag flag-un" data-bs-toggle="tooltip" title="flag flag-un"></i></li>
                                                        <li class="icons-list-item"><i class="flag flag-us" data-bs-toggle="tooltip" title="flag flag-us"></i></li>
                                                        <li class="icons-list-item"><i class="flag flag-uy" data-bs-toggle="tooltip" title="flag flag-uy"></i></li>
                                                        <li class="icons-list-item"><i class="flag flag-uz" data-bs-toggle="tooltip" title="flag flag-uz"></i></li>
                                                        <li class="icons-list-item"><i class="flag flag-va" data-bs-toggle="tooltip" title="flag flag-va"></i></li>
                                                        <li class="icons-list-item"><i class="flag flag-vc" data-bs-toggle="tooltip" title="flag flag-vc"></i></li>
                                                        <li class="icons-list-item"><i class="flag flag-ve" data-bs-toggle="tooltip" title="flag flag-ve"></i></li>
                                                        <li class="icons-list-item"><i class="flag flag-vg" data-bs-toggle="tooltip" title="flag flag-vg"></i></li>
                                                        <li class="icons-list-item"><i class="flag flag-vi" data-bs-toggle="tooltip" title="flag flag-vi"></i></li>
                                                        <li class="icons-list-item"><i class="flag flag-vn" data-bs-toggle="tooltip" title="flag flag-vn"></i></li>
                                                        <li class="icons-list-item"><i class="flag flag-vu" data-bs-toggle="tooltip" title="flag flag-vu"></i></li>
                                                        <li class="icons-list-item"><i class="flag flag-wf" data-bs-toggle="tooltip" title="flag flag-wf"></i></li>
                                                        <li class="icons-list-item"><i class="flag flag-ws" data-bs-toggle="tooltip" title="flag flag-ws"></i></li>
                                                        <li class="icons-list-item"><i class="flag flag-ye" data-bs-toggle="tooltip" title="flag flag-ye"></i></li>
                                                        <li class="icons-list-item"><i class="flag flag-yt" data-bs-toggle="tooltip" title="flag flag-yt"></i></li>
                                                        <li class="icons-list-item"><i class="flag flag-za" data-bs-toggle="tooltip" title="flag flag-za"></i></li>
                                                        <li class="icons-list-item"><i class="flag flag-zm" data-bs-toggle="tooltip" title="flag flag-zm"></i></li>
                                                        <li class="icons-list-item"><i class="flag flag-zw" data-bs-toggle="tooltip" title="flag flag-zw"></i></li>
                                                        <li></li>
                                                        <li></li>
                                                        <li></li>
                                                        <li></li>
                                                        <li></li>
                                                        <li></li>
                                                        <li></li>
                                                        <li></li>
                                                        <li></li>
                                                        <li></li>
                                                        <li></li>
                                                        <li></li>
                                                        <li></li>
                                                        <li></li>
                                                        <li></li>
                                                        <li></li>
                                                        <li></li>
                                                        <li></li>
                                                        <li></li>
                                                        <li></li>
                                                        <li></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header">
                                        <div class="card-title">Payments</div>
                                    </div>
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-lg-3 col-sm-12">
                                                <p> For more info <a href="javascript:void(0)" target="_blank">click here</a>.</p>
                                                <p><code>&lt;i class="payment payment-ICON_NAME"&gt;&lt;/i&gt;</code></p>
                                            </div>
                                            <div class="col-lg-9 col-sm-12">
                                                <div class="icons-list-wrap">
                                                    <ul class="icons-list">
                                                        <li class="icons-list-item"><i class="payment payment-2checkout" data-bs-toggle="tooltip" title="payment payment-2checkout"></i></li>
                                                        <li class="icons-list-item"><i class="payment payment-alipay" data-bs-toggle="tooltip" title="payment payment-alipay"></i></li>
                                                        <li class="icons-list-item"><i class="payment payment-amazon" data-bs-toggle="tooltip" title="payment payment-amazon"></i></li>
                                                        <li class="icons-list-item"><i class="payment payment-americanexpress" data-bs-toggle="tooltip" title="payment payment-americanexpress"></i></li>
                                                        <li class="icons-list-item"><i class="payment payment-applepay" data-bs-toggle="tooltip" title="payment payment-applepay"></i></li>
                                                        <li class="icons-list-item"><i class="payment payment-bancontact" data-bs-toggle="tooltip" title="payment payment-bancontact"></i></li>
                                                        <li class="icons-list-item"><i class="payment payment-bitcoin" data-bs-toggle="tooltip" title="payment payment-bitcoin"></i></li>
                                                        <li class="icons-list-item"><i class="payment payment-bitpay" data-bs-toggle="tooltip" title="payment payment-bitpay"></i></li>
                                                        <li class="icons-list-item"><i class="payment payment-cirrus" data-bs-toggle="tooltip" title="payment payment-cirrus"></i></li>
                                                        <li class="icons-list-item"><i class="payment payment-clickandbuy" data-bs-toggle="tooltip" title="payment payment-clickandbuy"></i></li>
                                                        <li class="icons-list-item"><i class="payment payment-coinkite" data-bs-toggle="tooltip" title="payment payment-coinkite"></i></li>
                                                        <li class="icons-list-item"><i class="payment payment-dinersclub" data-bs-toggle="tooltip" title="payment payment-dinersclub"></i></li>
                                                        <li class="icons-list-item"><i class="payment payment-directdebit" data-bs-toggle="tooltip" title="payment payment-directdebit"></i></li>
                                                        <li class="icons-list-item"><i class="payment payment-discover" data-bs-toggle="tooltip" title="payment payment-discover"></i></li>
                                                        <li class="icons-list-item"><i class="payment payment-dwolla" data-bs-toggle="tooltip" title="payment payment-dwolla"></i></li>
                                                        <li class="icons-list-item"><i class="payment payment-ebay" data-bs-toggle="tooltip" title="payment payment-ebay"></i></li>
                                                        <li class="icons-list-item"><i class="payment payment-eway" data-bs-toggle="tooltip" title="payment payment-eway"></i></li>
                                                        <li class="icons-list-item"><i class="payment payment-giropay" data-bs-toggle="tooltip" title="payment payment-giropay"></i></li>
                                                        <li class="icons-list-item"><i class="payment payment-googlewallet" data-bs-toggle="tooltip" title="payment payment-googlewallet"></i></li>
                                                        <li class="icons-list-item"><i class="payment payment-ingenico" data-bs-toggle="tooltip" title="payment payment-ingenico"></i></li>
                                                        <li class="icons-list-item"><i class="payment payment-jcb" data-bs-toggle="tooltip" title="payment payment-jcb"></i></li>
                                                        <li class="icons-list-item"><i class="payment payment-klarna" data-bs-toggle="tooltip" title="payment payment-klarna"></i></li>
                                                        <li class="icons-list-item"><i class="payment payment-laser" data-bs-toggle="tooltip" title="payment payment-laser"></i></li>
                                                        <li class="icons-list-item"><i class="payment payment-maestro" data-bs-toggle="tooltip" title="payment payment-maestro"></i></li>
                                                        <li class="icons-list-item"><i class="payment payment-mastercard" data-bs-toggle="tooltip" title="payment payment-mastercard"></i></li>
                                                        <li class="icons-list-item"><i class="payment payment-monero" data-bs-toggle="tooltip" title="payment payment-monero"></i></li>
                                                        <li class="icons-list-item"><i class="payment payment-neteller" data-bs-toggle="tooltip" title="payment payment-neteller"></i></li>
                                                        <li class="icons-list-item"><i class="payment payment-ogone" data-bs-toggle="tooltip" title="payment payment-ogone"></i></li>
                                                        <li class="icons-list-item"><i class="payment payment-okpay" data-bs-toggle="tooltip" title="payment payment-okpay"></i></li>
                                                        <li class="icons-list-item"><i class="payment payment-paybox" data-bs-toggle="tooltip" title="payment payment-paybox"></i></li>
                                                        <li class="icons-list-item"><i class="payment payment-paymill" data-bs-toggle="tooltip" title="payment payment-paymill"></i></li>
                                                        <li class="icons-list-item"><i class="payment payment-payone" data-bs-toggle="tooltip" title="payment payment-payone"></i></li>
                                                        <li class="icons-list-item"><i class="payment payment-payoneer" data-bs-toggle="tooltip" title="payment payment-payoneer"></i></li>
                                                        <li class="icons-list-item"><i class="payment payment-paypal" data-bs-toggle="tooltip" title="payment payment-paypal"></i></li>
                                                        <li class="icons-list-item"><i class="payment payment-paysafecard" data-bs-toggle="tooltip" title="payment payment-paysafecard"></i></li>
                                                        <li class="icons-list-item"><i class="payment payment-payu" data-bs-toggle="tooltip" title="payment payment-payu"></i></li>
                                                        <li class="icons-list-item"><i class="payment payment-payza" data-bs-toggle="tooltip" title="payment payment-payza"></i></li>
                                                        <li class="icons-list-item"><i class="payment payment-ripple" data-bs-toggle="tooltip" title="payment payment-ripple"></i></li>
                                                        <li class="icons-list-item"><i class="payment payment-sage" data-bs-toggle="tooltip" title="payment payment-sage"></i></li>
                                                        <li class="icons-list-item"><i class="payment payment-sepa" data-bs-toggle="tooltip" title="payment payment-sepa"></i></li>
                                                        <li class="icons-list-item"><i class="payment payment-shopify" data-bs-toggle="tooltip" title="payment payment-shopify"></i></li>
                                                        <li class="icons-list-item"><i class="payment payment-skrill" data-bs-toggle="tooltip" title="payment payment-skrill"></i></li>
                                                        <li class="icons-list-item"><i class="payment payment-solo" data-bs-toggle="tooltip" title="payment payment-solo"></i></li>
                                                        <li class="icons-list-item"><i class="payment payment-square" data-bs-toggle="tooltip" title="payment payment-square"></i></li>
                                                        <li class="icons-list-item"><i class="payment payment-stripe" data-bs-toggle="tooltip" title="payment payment-stripe"></i></li>
                                                        <li class="icons-list-item"><i class="payment payment-switch" data-bs-toggle="tooltip" title="payment payment-switch"></i></li>
                                                        <li class="icons-list-item"><i class="payment payment-ukash" data-bs-toggle="tooltip" title="payment payment-ukash"></i></li>
                                                        <li class="icons-list-item"><i class="payment payment-unionpay" data-bs-toggle="tooltip" title="payment payment-unionpay"></i></li>
                                                        <li class="icons-list-item"><i class="payment payment-verifone" data-bs-toggle="tooltip" title="payment payment-verifone"></i></li>
                                                        <li class="icons-list-item"><i class="payment payment-verisign" data-bs-toggle="tooltip" title="payment payment-verisign"></i></li>
                                                        <li class="icons-list-item"><i class="payment payment-visa" data-bs-toggle="tooltip" title="payment payment-visa"></i></li>
                                                        <li class="icons-list-item"><i class="payment payment-webmoney" data-bs-toggle="tooltip" title="payment payment-webmoney"></i></li>
                                                        <li class="icons-list-item"><i class="payment payment-westernunion" data-bs-toggle="tooltip" title="payment payment-westernunion"></i></li>
                                                        <li class="icons-list-item"><i class="payment payment-worldpay" data-bs-toggle="tooltip" title="payment payment-worldpay"></i></li>
                                                        <li class="icons-list-item"><i class="payment payment-2checkout-dark" data-bs-toggle="tooltip" title="payment payment-2checkout-dark"></i></li>
                                                        <li class="icons-list-item"><i class="payment payment-alipay-dark" data-bs-toggle="tooltip" title="payment payment-alipay-dark"></i></li>
                                                        <li class="icons-list-item"><i class="payment payment-amazon-dark" data-bs-toggle="tooltip" title="payment payment-amazon-dark"></i></li>
                                                        <li class="icons-list-item"><i class="payment payment-americanexpress-dark" data-bs-toggle="tooltip" title="payment payment-americanexpress-dark"></i></li>
                                                        <li class="icons-list-item"><i class="payment payment-applepay-dark" data-bs-toggle="tooltip" title="payment payment-applepay-dark"></i></li>
                                                        <li class="icons-list-item"><i class="payment payment-bancontact-dark" data-bs-toggle="tooltip" title="payment payment-bancontact-dark"></i></li>
                                                        <li class="icons-list-item"><i class="payment payment-bitcoin-dark" data-bs-toggle="tooltip" title="payment payment-bitcoin-dark"></i></li>
                                                        <li class="icons-list-item"><i class="payment payment-bitpay-dark" data-bs-toggle="tooltip" title="payment payment-bitpay-dark"></i></li>
                                                        <li class="icons-list-item"><i class="payment payment-cirrus-dark" data-bs-toggle="tooltip" title="payment payment-cirrus-dark"></i></li>
                                                        <li class="icons-list-item"><i class="payment payment-clickandbuy-dark" data-bs-toggle="tooltip" title="payment payment-clickandbuy-dark"></i></li>
                                                        <li class="icons-list-item"><i class="payment payment-coinkite-dark" data-bs-toggle="tooltip" title="payment payment-coinkite-dark"></i></li>
                                                        <li class="icons-list-item"><i class="payment payment-dinersclub-dark" data-bs-toggle="tooltip" title="payment payment-dinersclub-dark"></i></li>
                                                        <li class="icons-list-item"><i class="payment payment-directdebit-dark" data-bs-toggle="tooltip" title="payment payment-directdebit-dark"></i></li>
                                                        <li class="icons-list-item"><i class="payment payment-discover-dark" data-bs-toggle="tooltip" title="payment payment-discover-dark"></i></li>
                                                        <li class="icons-list-item"><i class="payment payment-dwolla-dark" data-bs-toggle="tooltip" title="payment payment-dwolla-dark"></i></li>
                                                        <li class="icons-list-item"><i class="payment payment-ebay-dark" data-bs-toggle="tooltip" title="payment payment-ebay-dark"></i></li>
                                                        <li class="icons-list-item"><i class="payment payment-eway-dark" data-bs-toggle="tooltip" title="payment payment-eway-dark"></i></li>
                                                        <li class="icons-list-item"><i class="payment payment-giropay-dark" data-bs-toggle="tooltip" title="payment payment-giropay-dark"></i></li>
                                                        <li class="icons-list-item"><i class="payment payment-googlewallet-dark" data-bs-toggle="tooltip" title="payment payment-googlewallet-dark"></i></li>
                                                        <li class="icons-list-item"><i class="payment payment-ingenico-dark" data-bs-toggle="tooltip" title="payment payment-ingenico-dark"></i></li>
                                                        <li class="icons-list-item"><i class="payment payment-jcb-dark" data-bs-toggle="tooltip" title="payment payment-jcb-dark"></i></li>
                                                        <li class="icons-list-item"><i class="payment payment-klarna-dark" data-bs-toggle="tooltip" title="payment payment-klarna-dark"></i></li>
                                                        <li class="icons-list-item"><i class="payment payment-laser-dark" data-bs-toggle="tooltip" title="payment payment-laser-dark"></i></li>
                                                        <li class="icons-list-item"><i class="payment payment-maestro-dark" data-bs-toggle="tooltip" title="payment payment-maestro-dark"></i></li>
                                                        <li class="icons-list-item"><i class="payment payment-mastercard-dark" data-bs-toggle="tooltip" title="payment payment-mastercard-dark"></i></li>
                                                        <li class="icons-list-item"><i class="payment payment-monero-dark" data-bs-toggle="tooltip" title="payment payment-monero-dark"></i></li>
                                                        <li class="icons-list-item"><i class="payment payment-neteller-dark" data-bs-toggle="tooltip" title="payment payment-neteller-dark"></i></li>
                                                        <li class="icons-list-item"><i class="payment payment-ogone-dark" data-bs-toggle="tooltip" title="payment payment-ogone-dark"></i></li>
                                                        <li class="icons-list-item"><i class="payment payment-okpay-dark" data-bs-toggle="tooltip" title="payment payment-okpay-dark"></i></li>
                                                        <li class="icons-list-item"><i class="payment payment-paybox-dark" data-bs-toggle="tooltip" title="payment payment-paybox-dark"></i></li>
                                                        <li class="icons-list-item"><i class="payment payment-paymill-dark" data-bs-toggle="tooltip" title="payment payment-paymill-dark"></i></li>
                                                        <li class="icons-list-item"><i class="payment payment-payone-dark" data-bs-toggle="tooltip" title="payment payment-payone-dark"></i></li>
                                                        <li class="icons-list-item"><i class="payment payment-payoneer-dark" data-bs-toggle="tooltip" title="payment payment-payoneer-dark"></i></li>
                                                        <li class="icons-list-item"><i class="payment payment-paypal-dark" data-bs-toggle="tooltip" title="payment payment-paypal-dark"></i></li>
                                                        <li class="icons-list-item"><i class="payment payment-paysafecard-dark" data-bs-toggle="tooltip" title="payment payment-paysafecard-dark"></i></li>
                                                        <li class="icons-list-item"><i class="payment payment-payu-dark" data-bs-toggle="tooltip" title="payment payment-payu-dark"></i></li>
                                                        <li class="icons-list-item"><i class="payment payment-payza-dark" data-bs-toggle="tooltip" title="payment payment-payza-dark"></i></li>
                                                        <li class="icons-list-item"><i class="payment payment-ripple-dark" data-bs-toggle="tooltip" title="payment payment-ripple-dark"></i></li>
                                                        <li class="icons-list-item"><i class="payment payment-sage-dark" data-bs-toggle="tooltip" title="payment payment-sage-dark"></i></li>
                                                        <li class="icons-list-item"><i class="payment payment-sepa-dark" data-bs-toggle="tooltip" title="payment payment-sepa-dark"></i></li>
                                                        <li class="icons-list-item"><i class="payment payment-shopify-dark" data-bs-toggle="tooltip" title="payment payment-shopify-dark"></i></li>
                                                        <li class="icons-list-item"><i class="payment payment-skrill-dark" data-bs-toggle="tooltip" title="payment payment-skrill-dark"></i></li>
                                                        <li class="icons-list-item"><i class="payment payment-solo-dark" data-bs-toggle="tooltip" title="payment payment-solo-dark"></i></li>
                                                        <li class="icons-list-item"><i class="payment payment-square-dark" data-bs-toggle="tooltip" title="payment payment-square-dark"></i></li>
                                                        <li class="icons-list-item"><i class="payment payment-stripe-dark" data-bs-toggle="tooltip" title="payment payment-stripe-dark"></i></li>
                                                        <li class="icons-list-item"><i class="payment payment-switch-dark" data-bs-toggle="tooltip" title="payment payment-switch-dark"></i></li>
                                                        <li class="icons-list-item"><i class="payment payment-ukash-dark" data-bs-toggle="tooltip" title="payment payment-ukash-dark"></i></li>
                                                        <li class="icons-list-item"><i class="payment payment-unionpay-dark" data-bs-toggle="tooltip" title="payment payment-unionpay-dark"></i></li>
                                                        <li class="icons-list-item"><i class="payment payment-verifone-dark" data-bs-toggle="tooltip" title="payment payment-verifone-dark"></i></li>
                                                        <li class="icons-list-item"><i class="payment payment-verisign-dark" data-bs-toggle="tooltip" title="payment payment-verisign-dark"></i></li>
                                                        <li class="icons-list-item"><i class="payment payment-visa-dark" data-bs-toggle="tooltip" title="payment payment-visa-dark"></i></li>
                                                        <li class="icons-list-item"><i class="payment payment-webmoney-dark" data-bs-toggle="tooltip" title="payment payment-webmoney-dark"></i></li>
                                                        <li class="icons-list-item"><i class="payment payment-westernunion-dark" data-bs-toggle="tooltip" title="payment payment-westernunion-dark"></i></li>
                                                        <li class="icons-list-item"><i class="payment payment-worldpay-dark" data-bs-toggle="tooltip" title="payment payment-worldpay-dark"></i></li>
                                                        <li></li>
                                                        <li></li>
                                                        <li></li>
                                                        <li></li>
                                                        <li></li>
                                                        <li></li>
                                                        <li></li>
                                                        <li></li>
                                                        <li></li>
                                                        <li></li>
                                                        <li></li>
                                                        <li></li>
                                                        <li></li>
                                                        <li></li>
                                                        <li></li>
                                                        <li></li>
                                                        <li></li>
                                                        <li></li>
                                                        <li></li>
                                                        <li></li>
                                                        <li></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- ROW CLOSED -->

{% endblock %}

{% block javascripts %}
   {{parent()}} 

   
		
{% endblock %}