<!DOCTYPE html>
<html>
    <head>
        <!-- META DATA -->
        <meta charset="UTF-8">
        <meta name='viewport' content='width=device-width, initial-scale=1.0, user-scalable=0'>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="Sash – Symfony Bootstrap 5  Admin & Dashboard Template">
        <meta name="author" content="Spruko Technologies Private Limited">
        <meta name="keywords" content="admin dashboard, admin dashboard template, admin template, bootstrap 5 symfony, symfony, symfony bootstrap admin, symfony template, symfony bootstrap template, symfony admin, symfony admin dashboard, symfony admin dashboard template, symfony admin panel, symfony admin template, symfony dashboard, dashboard template">
        
        <!-- TITLE -->
        <title>Sash – Symfony Bootstrap 5 Admin & Dashboard Template</title>
        
        {% block stylesheets %}
        
            <!-- FAVICON -->
            <link rel="shortcut icon" type="image/x-icon" href="{{absolute_url(asset('build/images/brand/favicon.ico'))}}" />

            <!-- BOOTSTRAP CSS -->
            <link id="style" href="{{absolute_url(asset('build/plugins/bootstrap/css/bootstrap.min.css'))}}" rel="stylesheet" />
                
            <!-- STYLE CSS -->
            {{ encore_entry_link_tags('app') }}

        {% endblock %}
        
    </head>
    <body class="app ltr landing-page horizontal">

        <!-- GLOBAL-LOADER -->
        <div id="global-loader">
            <img src="{{absolute_url(asset('build/images/loader.svg'))}}" class="loader-img" alt="Loader">
        </div>
        <!-- /GLOBAL-LOADER -->

         <!-- PAGE -->
        <div class="page">
            <div class="page-main">

                <!-- APP-HEADER -->
                {{ include('layouts/landing/header.html.twig') }}
                <!-- APP-HEADER CLOSED -->
                
                <!-- APP-SIDEBAR -->
                {{ include('layouts/landing/sidebar.html.twig') }}
                <!-- APP-SIDEBAR CLOSED -->

                <!--app-content open-->
                <div class="main-content mt-0">
                    <div class="side-app">

                        <!-- CONTAINER -->
                        <div class="main-container">
                            <div class="">
                            
                                <!-- CONTENT -->
                                {% block body %}
                                {% endblock %}
                                <!-- CONTENT CLOSED-->

                            </div>
                        </div>
                        <!-- CONTAINER CLOSED-->
                    </div>
                </div>
                <!--app-content closed-->
            </div>
            
            <!-- FOOTER -->
            {{ include('layouts/landing/footer.html.twig') }}
            <!-- FOOTER CLOSED-->
        </div>

        {% block javascripts %}
             
        <!-- BACK-TO-TOP -->
        <a href="#top" id="back-to-top"><i class="fa fa-long-arrow-up"></i></a>

        <!-- JQUERY JS -->
        <script src="{{absolute_url(asset('build/plugins/jquery/jquery.min.js'))}}"></script>

        <!-- BOOTSTRAP JS -->
        <script src="{{absolute_url(asset('build/plugins/bootstrap/js/popper.min.js'))}}"></script>
        <script src="{{absolute_url(asset('build/plugins/bootstrap/js/bootstrap.min.js'))}}"></script>

        {% endblock %}
        
    </body>
</html>
