{% extends 'base.html.twig' %}

{% block body %}

                        <!-- PAGE-HEADER -->
                        <div class="page-header">
                            <h1 class="page-title">Simpleline Icons</h1>
                            <div>
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="javascript:void(0)">Icons</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">Simpleline Icons</li>
                                </ol>
                            </div>
                        </div>
                        <!-- PAGE-HEADER END -->

                        <!-- ROW OPEN -->
                        <div class="row">
                            <div class="col">
                                <div class="card">
                                    <div class="card-header">
                                        <h3 class="card-title">Simpleline Icons</h3>
                                    </div>
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-lg-12 col-sm-12">
                                                <p>Simply beautiful open source icons. For more info <a href="https://simplelineicons.github.io/" target="_blank">click here</a>.</p>
                                                <p><code>&lt;i class="icon icon-user"&gt;&lt;/i&gt;</code></p>
                                            </div>
                                            <div class="col-lg-12 col-sm-12">
                                                <div class="icons-list-wrap">
                                                    <ul class="icons-list">
                                                        <li class="icons-list-item"><i class="icon icon-user" data-bs-toggle="tooltip" title="icon-user"></i></li>
                                                        <li class="icons-list-item"><i class="icon icon-people" data-bs-toggle="tooltip" title="icon-people"></i></li>
                                                        <li class="icons-list-item"><i class="icon icon-user-female" data-bs-toggle="tooltip" title="icon-user-female"></i></li>
                                                        <li class="icons-list-item"><i class="icon icon-user-follow" data-bs-toggle="tooltip" title="icon-user-follow"></i></li>
                                                        <li class="icons-list-item"><i class="icon icon-user-following" data-bs-toggle="tooltip" title="icon-user-following"></i></li>
                                                        <li class="icons-list-item"><i class="icon icon-user-unfollow" data-bs-toggle="tooltip" title="icon-user-unfollow"></i></li>
                                                        <li class="icons-list-item"><i class="icon icon-login" data-bs-toggle="tooltip" title="icon-login"></i></li>
                                                        <li class="icons-list-item"><i class="icon icon-logout" data-bs-toggle="tooltip" title="icon-logout"></i></li>
                                                        <li class="icons-list-item"><i class="icon icon-emotsmile" data-bs-toggle="tooltip" title="icon-emotsmile"></i></li>
                                                        <li class="icons-list-item"><i class="icon icon-phone" data-bs-toggle="tooltip" title="icon-phone"></i></li>
                                                        <li class="icons-list-item"><i class="icon icon-call-end" data-bs-toggle="tooltip" title="icon-call-end"></i></li>
                                                        <li class="icons-list-item"><i class="icon icon-call-in" data-bs-toggle="tooltip" title="icon-call-in"></i></li>
                                                        <li class="icons-list-item"><i class="icon icon-call-out" data-bs-toggle="tooltip" title="icon-call-out"></i></li>
                                                        <li class="icons-list-item"><i class="icon icon-map" data-bs-toggle="tooltip" title="icon-map"></i></li>
                                                        <li class="icons-list-item"><i class="icon icon-location-pin" data-bs-toggle="tooltip" title="icon-location-pin"></i></li>
                                                        <li class="icons-list-item"><i class="icon icon-direction" data-bs-toggle="tooltip" title="icon-direction"></i></li>
                                                        <li class="icons-list-item"><i class="icon icon-directions" data-bs-toggle="tooltip" title="icon-directions"></i></li>
                                                        <li class="icons-list-item"><i class="icon icon-compass" data-bs-toggle="tooltip" title="icon-compass"></i></li>
                                                        <li class="icons-list-item"><i class="icon icon-layers" data-bs-toggle="tooltip" title="icon-layers"></i></li>
                                                        <li class="icons-list-item"><i class="icon icon-menu" data-bs-toggle="tooltip" title="icon-menu"></i></li>
                                                        <li class="icons-list-item"><i class="icon icon-list" data-bs-toggle="tooltip" title="icon-list"></i></li>
                                                        <li class="icons-list-item"><i class="icon icon-options-vertical" data-bs-toggle="tooltip" title="icon-options-vertical"></i></li>
                                                        <li class="icons-list-item"><i class="icon icon-options" data-bs-toggle="tooltip" title="icon-options"></i></li>
                                                        <li class="icons-list-item"><i class="icon icon-arrow-down" data-bs-toggle="tooltip" title="icon-arrow-down"></i></li>
                                                        <li class="icons-list-item"><i class="icon icon-arrow-left" data-bs-toggle="tooltip" title="icon-arrow-left"></i></li>
                                                        <li class="icons-list-item"><i class="icon icon-arrow-right" data-bs-toggle="tooltip" title="icon-arrow-right"></i></li>
                                                        <li class="icons-list-item"><i class="icon icon-arrow-up" data-bs-toggle="tooltip" title="icon-arrow-up"></i></li>
                                                        <li class="icons-list-item"><i class="icon icon-arrow-up-circle" data-bs-toggle="tooltip" title="icon-arrow-up-circle"></i></li>
                                                        <li class="icons-list-item"><i class="icon icon-arrow-left-circle" data-bs-toggle="tooltip" title="icon-arrow-left-circle"></i></li>
                                                        <li class="icons-list-item"><i class="icon icon-arrow-right-circle" data-bs-toggle="tooltip" title="icon-arrow-right-circle"></i></li>
                                                        <li class="icons-list-item"><i class="icon icon-arrow-down-circle" data-bs-toggle="tooltip" title="icon-arrow-down-circle"></i></li>
                                                        <li class="icons-list-item"><i class="icon icon-check" data-bs-toggle="tooltip" title="icon-check"></i></li>
                                                        <li class="icons-list-item"><i class="icon icon-clock" data-bs-toggle="tooltip" title="icon-clock"></i></li>
                                                        <li class="icons-list-item"><i class="icon icon-plus" data-bs-toggle="tooltip" title="icon-plus"></i></li>
                                                        <li class="icons-list-item"><i class="icon icon-minus" data-bs-toggle="tooltip" title="icon-minus"></i></li>
                                                        <li class="icons-list-item"><i class="icon icon-close" data-bs-toggle="tooltip" title="icon-close"></i></li>
                                                        <li class="icons-list-item"><i class="icon icon-event" data-bs-toggle="tooltip" title="icon-event"></i></li>
                                                        <li class="icons-list-item"><i class="icon icon-exclamation" data-bs-toggle="tooltip" title="icon-exclamation"></i></li>
                                                        <li class="icons-list-item"><i class="icon icon-organization" data-bs-toggle="tooltip" title="icon-organization"></i></li>
                                                        <li class="icons-list-item"><i class="icon icon-trophy" data-bs-toggle="tooltip" title="icon-trophy"></i></li>
                                                        <li class="icons-list-item"><i class="icon icon-screen-smartphone" data-bs-toggle="tooltip" title="icon-screen-smartphone"></i></li>
                                                        <li class="icons-list-item"><i class="icon icon-screen-desktop" data-bs-toggle="tooltip" title="icon-screen-desktop"></i></li>
                                                        <li class="icons-list-item"><i class="icon icon-plane" data-bs-toggle="tooltip" title="icon-plane"></i></li>
                                                        <li class="icons-list-item"><i class="icon icon-notebook" data-bs-toggle="tooltip" title="icon-notebook"></i></li>
                                                        <li class="icons-list-item"><i class="icon icon-mustache" data-bs-toggle="tooltip" title="icon-mustache"></i></li>
                                                        <li class="icons-list-item"><i class="icon icon-mouse" data-bs-toggle="tooltip" title="icon-mouse"></i></li>
                                                        <li class="icons-list-item"><i class="icon icon-magnet" data-bs-toggle="tooltip" title="icon-magnet"></i></li>
                                                        <li class="icons-list-item"><i class="icon icon-energy" data-bs-toggle="tooltip" title="icon-energy"></i></li>
                                                        <li class="icons-list-item"><i class="icon icon-disc" data-bs-toggle="tooltip" title="icon-disc"></i></li>
                                                        <li class="icons-list-item"><i class="icon icon-cursor" data-bs-toggle="tooltip" title="icon-cursor"></i></li>
                                                        <li class="icons-list-item"><i class="icon icon-cursor-move" data-bs-toggle="tooltip" title="icon-cursor-move"></i></li>
                                                        <li class="icons-list-item"><i class="icon icon-crop" data-bs-toggle="tooltip" title="icon-crop"></i></li>
                                                        <li class="icons-list-item"><i class="icon icon-chemistry" data-bs-toggle="tooltip" title="icon-chemistry"></i></li>
                                                        <li class="icons-list-item"><i class="icon icon-speedometer" data-bs-toggle="tooltip" title="icon-speedometer"></i></li>
                                                        <li class="icons-list-item"><i class="icon icon-shield" data-bs-toggle="tooltip" title="icon-shield"></i></li>
                                                        <li class="icons-list-item"><i class="icon icon-screen-tablet" data-bs-toggle="tooltip" title="icon-screen-tablet"></i></li>
                                                        <li class="icons-list-item"><i class="icon icon-magic-wand" data-bs-toggle="tooltip" title="icon-magic-wand"></i></li>
                                                        <li class="icons-list-item"><i class="icon icon-hourglass" data-bs-toggle="tooltip" title="icon-hourglass"></i></li>
                                                        <li class="icons-list-item"><i class="icon icon-graduation" data-bs-toggle="tooltip" title="icon-graduation"></i></li>
                                                        <li class="icons-list-item"><i class="icon icon-ghost" data-bs-toggle="tooltip" title="icon-ghost"></i></li>
                                                        <li class="icons-list-item"><i class="icon icon-game-controller" data-bs-toggle="tooltip" title="icon-game-controller"></i></li>
                                                        <li class="icons-list-item"><i class="icon icon-fire" data-bs-toggle="tooltip" title="icon-fire"></i></li>
                                                        <li class="icons-list-item"><i class="icon icon-eyeglass" data-bs-toggle="tooltip" title="icon-eyeglass"></i></li>
                                                        <li class="icons-list-item"><i class="icon icon-envelope-open" data-bs-toggle="tooltip" title="icon-envelope-open"></i></li>
                                                        <li class="icons-list-item"><i class="icon icon-envelope-letter" data-bs-toggle="tooltip" title="icon-envelope-letter"></i></li>
                                                        <li class="icons-list-item"><i class="icon icon-bell" data-bs-toggle="tooltip" title="icon-bell"></i></li>
                                                        <li class="icons-list-item"><i class="icon icon-badge" data-bs-toggle="tooltip" title="icon-badge"></i></li>
                                                        <li class="icons-list-item"><i class="icon icon-anchor" data-bs-toggle="tooltip" title="icon-anchor"></i></li>
                                                        <li class="icons-list-item"><i class="icon icon-wallet" data-bs-toggle="tooltip" title="icon-wallet"></i></li>
                                                        <li class="icons-list-item"><i class="icon icon-vector" data-bs-toggle="tooltip" title="icon-vector"></i></li>
                                                        <li class="icons-list-item"><i class="icon icon-speech" data-bs-toggle="tooltip" title="icon-speech"></i></li>
                                                        <li class="icons-list-item"><i class="icon icon-puzzle" data-bs-toggle="tooltip" title="icon-puzzle"></i></li>
                                                        <li class="icons-list-item"><i class="icon icon-printer" data-bs-toggle="tooltip" title="icon-printer"></i></li>
                                                        <li class="icons-list-item"><i class="icon icon-present" data-bs-toggle="tooltip" title="icon-present"></i></li>
                                                        <li class="icons-list-item"><i class="icon icon-playlist" data-bs-toggle="tooltip" title="icon-playlist"></i></li>
                                                        <li class="icons-list-item"><i class="icon icon-pin" data-bs-toggle="tooltip" title="icon-pin"></i></li>
                                                        <li class="icons-list-item"><i class="icon icon-picture" data-bs-toggle="tooltip" title="icon-picture"></i></li>
                                                        <li class="icons-list-item"><i class="icon icon-handbag" data-bs-toggle="tooltip" title="icon-handbag"></i></li>
                                                        <li class="icons-list-item"><i class="icon icon-globe-alt" data-bs-toggle="tooltip" title="icon-globe-alt"></i></li>
                                                        <li class="icons-list-item"><i class="icon icon-globe" data-bs-toggle="tooltip" title="icon-globe"></i></li>
                                                        <li class="icons-list-item"><i class="icon icon-folder-alt" data-bs-toggle="tooltip" title="icon-folder-alt"></i></li>
                                                        <li class="icons-list-item"><i class="icon icon-folder" data-bs-toggle="tooltip" title="icon-folder"></i></li>
                                                        <li class="icons-list-item"><i class="icon icon-film" data-bs-toggle="tooltip" title="icon-film"></i></li>
                                                        <li class="icons-list-item"><i class="icon icon-feed" data-bs-toggle="tooltip" title="icon-feed"></i></li>
                                                        <li class="icons-list-item"><i class="icon icon-drop" data-bs-toggle="tooltip" title="icon-drop"></i></li>
                                                        <li class="icons-list-item"><i class="icon icon-drawer" data-bs-toggle="tooltip" title="icon-drawer"></i></li>
                                                        <li class="icons-list-item"><i class="icon icon-docs" data-bs-toggle="tooltip" title="icon-docs"></i></li>
                                                        <li class="icons-list-item"><i class="icon icon-doc" data-bs-toggle="tooltip" title="icon-doc"></i></li>
                                                        <li class="icons-list-item"><i class="icon icon-diamond" data-bs-toggle="tooltip" title="icon-diamond"></i></li>
                                                        <li class="icons-list-item"><i class="icon icon-cup" data-bs-toggle="tooltip" title="icon-cup"></i></li>
                                                        <li class="icons-list-item"><i class="icon icon-calculator" data-bs-toggle="tooltip" title="icon-calculator"></i></li>
                                                        <li class="icons-list-item"><i class="icon icon-bubbles" data-bs-toggle="tooltip" title="icon-bubbles"></i></li>
                                                        <li class="icons-list-item"><i class="icon icon-briefcase" data-bs-toggle="tooltip" title="icon-briefcase"></i></li>
                                                        <li class="icons-list-item"><i class="icon icon-book-open" data-bs-toggle="tooltip" title="icon-book-open"></i></li>
                                                        <li class="icons-list-item"><i class="icon icon-basket-loaded" data-bs-toggle="tooltip" title="icon-basket-loaded"></i></li>
                                                        <li class="icons-list-item"><i class="icon icon-basket" data-bs-toggle="tooltip" title="icon-basket"></i></li>
                                                        <li class="icons-list-item"><i class="icon icon-bag" data-bs-toggle="tooltip" title="icon-bag"></i></li>
                                                        <li class="icons-list-item"><i class="icon icon-action-undo" data-bs-toggle="tooltip" title="icon-action-undo"></i></li>
                                                        <li class="icons-list-item"><i class="icon icon-action-redo" data-bs-toggle="tooltip" title="icon-action-redo"></i></li>
                                                        <li class="icons-list-item"><i class="icon icon-wrench" data-bs-toggle="tooltip" title="icon-wrench"></i></li>
                                                        <li class="icons-list-item"><i class="icon icon-umbrella" data-bs-toggle="tooltip" title="icon-umbrella"></i></li>
                                                        <li class="icons-list-item"><i class="icon icon-trash" data-bs-toggle="tooltip" title="icon-trash"></i></li>
                                                        <li class="icons-list-item"><i class="icon icon-tag" data-bs-toggle="tooltip" title="icon-tag"></i></li>
                                                        <li class="icons-list-item"><i class="icon icon-support" data-bs-toggle="tooltip" title="icon-support"></i></li>
                                                        <li class="icons-list-item"><i class="icon icon-frame" data-bs-toggle="tooltip" title="icon-frame"></i></li>
                                                        <li class="icons-list-item"><i class="icon icon icon-size-fullscreen" data-bs-toggle="tooltip" title="icon-size-fullscreen"></i></li>
                                                        <li class="icons-list-item"><i class="icon icon-size-actual" data-bs-toggle="tooltip" title="icon-size-actual"></i></li>
                                                        <li class="icons-list-item"><i class="icon icon-shuffle" data-bs-toggle="tooltip" title="icon-shuffle"></i></li>
                                                        <li class="icons-list-item"><i class="icon icon-share-alt" data-bs-toggle="tooltip" title="icon-share-alt"></i></li>
                                                        <li class="icons-list-item"><i class="icon icon-share" data-bs-toggle="tooltip" title="icon-share"></i></li>
                                                        <li class="icons-list-item"><i class="icon icon-rocket" data-bs-toggle="tooltip" title="icon-rocket"></i></li>
                                                        <li class="icons-list-item"><i class="icon icon-question" data-bs-toggle="tooltip" title="icon-question"></i></li>
                                                        <li class="icons-list-item"><i class="icon icon-pie-chart" data-bs-toggle="tooltip" title="icon-pie-chart"></i></li>
                                                        <li class="icons-list-item"><i class="icon icon-pencil" data-bs-toggle="tooltip" title="icon-pencil"></i></li>
                                                        <li class="icons-list-item"><i class="icon icon-note" data-bs-toggle="tooltip" title="icon-note"></i></li>
                                                        <li class="icons-list-item"><i class="icon icon-loop" data-bs-toggle="tooltip" title="icon-loop"></i></li>
                                                        <li class="icons-list-item"><i class="icon icon-home" data-bs-toggle="tooltip" title="icon-home"></i></li>
                                                        <li class="icons-list-item"><i class="icon icon-grid" data-bs-toggle="tooltip" title="icon-grid"></i></li>
                                                        <li class="icons-list-item"><i class="icon icon-graph" data-bs-toggle="tooltip" title="icon-graph"></i></li>
                                                        <li class="icons-list-item"><i class="icon icon-microphone" data-bs-toggle="tooltip" title="icon-microphone"></i></li>
                                                        <li class="icons-list-item"><i class="icon icon-music-tone-alt" data-bs-toggle="tooltip" title="icon-music-tone-alt"></i></li>
                                                        <li class="icons-list-item"><i class="icon icon-music-tone" data-bs-toggle="tooltip" title="icon-music-tone"></i></li>
                                                        <li class="icons-list-item"><i class="icon icon-earphones-alt" data-bs-toggle="tooltip" title="icon-earphones-alt"></i></li>
                                                        <li class="icons-list-item"><i class="icon icon-earphones" data-bs-toggle="tooltip" title="icon-earphones"></i></li>
                                                        <li class="icons-list-item"><i class="icon icon-equalizer" data-bs-toggle="tooltip" title="icon-equalizer"></i></li>
                                                        <li class="icons-list-item"><i class="icon icon-like" data-bs-toggle="tooltip" title="icon-like"></i></li>
                                                        <li class="icons-list-item"><i class="icon icon-dislike" data-bs-toggle="tooltip" title="icon-dislike"></i></li>
                                                        <li class="icons-list-item"><i class="icon icon-control-start" data-bs-toggle="tooltip" title="icon-control-start"></i></li>
                                                        <li class="icons-list-item"><i class="icon icon-control-rewind" data-bs-toggle="tooltip" title="icon-control-rewind"></i></li>
                                                        <li class="icons-list-item"><i class="icon icon-control-play" data-bs-toggle="tooltip" title="icon-control-play"></i></li>
                                                        <li class="icons-list-item"><i class="icon icon-control-pause" data-bs-toggle="tooltip" title="icon-control-pause"></i></li>
                                                        <li class="icons-list-item"><i class="icon icon-control-forward" data-bs-toggle="tooltip" title="icon-control-forward"></i></li>
                                                        <li class="icons-list-item"><i class="icon icon-control-end" data-bs-toggle="tooltip" title="icon-control-end"></i></li>
                                                        <li class="icons-list-item"><i class="icon icon-volume-1" data-bs-toggle="tooltip" title="icon-volume-1"></i></li>
                                                        <li class="icons-list-item"><i class="icon icon-volume-2" data-bs-toggle="tooltip" title="icon-volume-2"></i></li>
                                                        <li class="icons-list-item"><i class="icon icon-volume-off" data-bs-toggle="tooltip" title="icon-volume-off"></i></li>
                                                        <li class="icons-list-item"><i class="icon icon-calendar" data-bs-toggle="tooltip" title="icon-calendar"></i></li>
                                                        <li class="icons-list-item"><i class="icon icon-bulb" data-bs-toggle="tooltip" title="icon-bulb"></i></li>
                                                        <li class="icons-list-item"><i class="icon icon-chart" data-bs-toggle="tooltip" title="icon-chart"></i></li>
                                                        <li class="icons-list-item"><i class="icon icon-ban" data-bs-toggle="tooltip" title="icon-ban"></i></li>
                                                        <li class="icons-list-item"><i class="icon icon-bubble" data-bs-toggle="tooltip" title="icon-bubble"></i></li>
                                                        <li class="icons-list-item"><i class="icon icon-camrecorder" data-bs-toggle="tooltip" title="icon-camrecorder"></i></li>
                                                        <li class="icons-list-item"><i class="icon icon-camera" data-bs-toggle="tooltip" title="icon-camera"></i></li>
                                                        <li class="icons-list-item"><i class="icon icon-cloud-download" data-bs-toggle="tooltip" title="icon-cloud-download"></i></li>
                                                        <li class="icons-list-item"><i class="icon icon-cloud-upload" data-bs-toggle="tooltip" title="icon-cloud-upload"></i></li>
                                                        <li class="icons-list-item"><i class="icon icon-envelope" data-bs-toggle="tooltip" title="icon-envelope"></i></li>
                                                        <li class="icons-list-item"><i class="icon icon-eye" data-bs-toggle="tooltip" title="icon-eye"></i></li>
                                                        <li class="icons-list-item"><i class="icon icon-flag" data-bs-toggle="tooltip" title="icon-flag"></i></li>
                                                        <li class="icons-list-item"><i class="icon icon-heart" data-bs-toggle="tooltip" title="icon-heart"></i></li>
                                                        <li class="icons-list-item"><i class="icon icon-info" data-bs-toggle="tooltip" title="icon-info"></i></li>
                                                        <li class="icons-list-item"><i class="icon icon-key" data-bs-toggle="tooltip" title="icon-key"></i></li>
                                                        <li class="icons-list-item"><i class="icon icon-link" data-bs-toggle="tooltip" title="icon-link"></i></li>
                                                        <li class="icons-list-item"><i class="icon icon-lock" data-bs-toggle="tooltip" title="icon-lock"></i></li>
                                                        <li class="icons-list-item"><i class="icon icon-lock-open" data-bs-toggle="tooltip" title="icon-lock-open"></i></li>
                                                        <li class="icons-list-item"><i class="icon icon-magnifier" data-bs-toggle="tooltip" title="icon-magnifier"></i></li>
                                                        <li class="icons-list-item"><i class="icon icon-magnifier-add" data-bs-toggle="tooltip" title="icon-magnifier-add"></i></li>
                                                        <li class="icons-list-item"><i class="icon icon-magnifier-remove" data-bs-toggle="tooltip" title="icon-magnifier-remove"></i></li>
                                                        <li class="icons-list-item"><i class="icon icon-paper-clip" data-bs-toggle="tooltip" title="icon-paper-clip"></i></li>
                                                        <li class="icons-list-item"><i class="icon icon-paper-plane" data-bs-toggle="tooltip" title="icon-paper-plane"></i></li>
                                                        <li class="icons-list-item"><i class="icon icon-power" data-bs-toggle="tooltip" title="icon-power"></i></li>
                                                        <li class="icons-list-item"><i class="icon icon-refresh" data-bs-toggle="tooltip" title="icon-refresh"></i></li>
                                                        <li class="icons-list-item"><i class="icon icon-reload" data-bs-toggle="tooltip" title="icon-reload"></i></li>
                                                        <li class="icons-list-item"><i class="icon icon-settings" data-bs-toggle="tooltip" title="icon-settings"></i></li>
                                                        <li class="icons-list-item"><i class="icon icon-star" data-bs-toggle="tooltip" title="icon-star"></i></li>
                                                        <li class="icons-list-item"><i class="icon icon-symbol-female" data-bs-toggle="tooltip" title="icon-symbol-female"></i></li>
                                                        <li class="icons-list-item"><i class="icon icon-symbol-male" data-bs-toggle="tooltip" title="icon-symbol-male"></i></li>
                                                        <li class="icons-list-item"><i class="icon icon-target" data-bs-toggle="tooltip" title="icon-target"></i></li>
                                                        <li class="icons-list-item"><i class="icon icon-credit-card" data-bs-toggle="tooltip" title="icon-credit-card"></i></li>
                                                        <li class="icons-list-item"><i class="icon icon-paypal" data-bs-toggle="tooltip" title="icon-paypal"></i></li>
                                                        <li class="icons-list-item"><i class="icon icon-social-tumblr" data-bs-toggle="tooltip" title="icon-social-tumblr"></i></li>
                                                        <li class="icons-list-item"><i class="icon icon-social-twitter" data-bs-toggle="tooltip" title="icon-social-twitter"></i></li>
                                                        <li class="icons-list-item"><i class="icon icon-social-facebook" data-bs-toggle="tooltip" title="icon-social-facebook"></i></li>
                                                        <li class="icons-list-item"><i class="icon icon-social-instagram" data-bs-toggle="tooltip" title="icon-social-instagram"></i></li>
                                                        <li class="icons-list-item"><i class="icon icon-social-linkedin" data-bs-toggle="tooltip" title="icon-social-linkedin"></i></li>
                                                        <li class="icons-list-item"><i class="icon icon-social-pinterest" data-bs-toggle="tooltip" title="icon-social-pinterest"></i></li>
                                                        <li class="icons-list-item"><i class="icon icon-social-github" data-bs-toggle="tooltip" title="icon-social-github"></i></li>
                                                        <li class="icons-list-item"><i class="icon icon-social-google" data-bs-toggle="tooltip" title="icon-social-google"></i></li>
                                                        <li class="icons-list-item"><i class="icon icon-social-reddit" data-bs-toggle="tooltip" title="icon-social-reddit"></i></li>
                                                        <li class="icons-list-item"><i class="icon icon-social-skype" data-bs-toggle="tooltip" title="icon-social-skype"></i></li>
                                                        <li class="icons-list-item"><i class="icon icon-social-dribbble" data-bs-toggle="tooltip" title="icon-social-dribbble"></i></li>
                                                        <li class="icons-list-item"><i class="icon icon-social-behance" data-bs-toggle="tooltip" title="icon-social-behance"></i></li>
                                                        <li class="icons-list-item"><i class="icon icon-social-foursqare" data-bs-toggle="tooltip" title="icon-social-foursqare"></i></li>
                                                        <li class="icons-list-item"><i class="icon icon-social-soundcloud" data-bs-toggle="tooltip" title="icon-social-soundcloud"></i></li>
                                                        <li class="icons-list-item"><i class="icon icon-social-spotify" data-bs-toggle="tooltip" title="icon-social-spotify"></i></li>
                                                        <li class="icons-list-item"><i class="icon icon-social-stumbleupon" data-bs-toggle="tooltip" title="icon-social-stumbleupon"></i></li>
                                                        <li class="icons-list-item"><i class="icon icon-social-youtube" data-bs-toggle="tooltip" title="icon-social-youtube"></i></li>
                                                        <li class="icons-list-item"><i class="icon icon-social-dropbox" data-bs-toggle="tooltip" title="icon-social-dropbox"></i></li>
                                                        <li class="icons-list-item"><i class="icon icon-social-vkontakte" data-bs-toggle="tooltip" title="icon-social-vkontakte"></i></li>
                                                        <li class="icons-list-item"><i class="icon icon-social-steam" data-bs-toggle="tooltip" title="icon-social-steam"></i></li>
                                                        <li></li>
                                                        <li></li>
                                                        <li></li>
                                                        <li></li>
                                                        <li></li>
                                                        <li></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- ROW CLOSED -->

{% endblock %}

{% block javascripts %}
   {{parent()}} 

   
		
{% endblock %}